body {
  color: #666666;
  font-family: Arial,Tahoma,Verdana;
  font-size: 12px;
  line-height: 20px;
  margin: 0 auto;
  padding: 0;
}

a:link {color:#666666; text-decoration:underline}
a:visited {color:#666666;}
a:active,
a:hover {color: #666; text-decoration:none}

#descriptionlink a{
	font-size:90%;
	color:#999;
	text-decoration:none;
}

h2 {
    margin: 0px;
    padding: 0 0 5px;
    font-family: arial;
    font-size: 140%;
    color:#999;
}

#wrapper {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 940px;
}

#header {
  background-color: #FFFFFF;
  clear: both;
  float: left;
  height: 100px;
  margin: 20px 0 !important;
  width: 940px;
  border-bottom:#333 double;
}

#footer {
  background-color:#333;
}

.container {
  margin: 0 auto;
  width: 940px;
}

#main {
  clear: both;
  padding: 40px 0;
  width: 940px;
}

#content {
  float: left;
  padding-right: 40px;
  width: 590px;
}

#sidebar {
  float: left;
  width: 310px;
}

.comments {
	padding-top:30px;
}
.comments li{
	list-style-type: none;
	  background-color:#CCC;
  border-bottom: 1px solid #E5EAF1;
  margin-top: 2px;
  padding: 5px 5px 4px;
  min-height:50px;
}

li.imgcomments {
	list-style-type: none;
	  background-color:#CCC;
  border-bottom: 1px solid #E5EAF1;
  margin-top: 2px;
  padding: 5px 5px 4px;
  min-height:50px;
}

.clear {
  clear: both;
}

ul#display-inline-block,
ul#display-inline-block li {
	/* Setting a common base */
	margin: 0;
	padding: 0;
}

ul#display-inline-block li {
	display: inline-block;
	width: 100px;
	min-height: 100px;
	text-align:center;
	vertical-align:top;
}

img.shadow {
	background: url(../images/shadow.gif) no-repeat right bottom;
	padding: 5px 10px 10px 5px;
}
