html, body, p, th, tr, td, table, sup, div, span {
	line-height:normal;
	font-size:14pt;
	font-family:Arial, Helvetica, sans-serif;
}

.do-not-print{
	display:none;
}

h2, h2 span {
	font-size:16pt;
}


/*------------- Questions -----------------------*/
#intro {
	display:block;
	//color:#003466; 
	float:left;
	width:50%;
	padding: 6px;
	font-size:18pt;
	font-weight:bold;
	line-height: 14pt;
}

#question_number {
 	display:block;
	text-align:right;
	padding: 6px;
	font-size:10pt;
	//font-weight:bold;
}

.question {
	font-size:12pt;
	margin-left:10px;
	width:860px;

}
.question_box {
	display: block;
	margin-top:20px;
    //text-decoration: none;
	padding-left:75px;
	margin-bottom:85px;
	//margin-bottom:45px;
}

.question_box ol {
	overflow: hidden;
	list-style-position:outside;
	font-size:14pt;
	list-style-type:lower-alpha;
	margin-left:30px;
	//padding-left:50px;
}

.question_box a {
	text-decoration: none;
}

.question a:visited {
	text-decoration:none;	
}

.question a:hover, .question a:active, .question a:focus {
	//color:#000099;
	//color:#CC6;
	//text-decoration:none;
}

.question_box ol li {
	width:100%;
	padding:2px;
}

.answer_div {
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	font-size:14pt;
	line-height:15pt;
}

.answer_text a{
	font-size:16pt;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.question_box ol li:hover, .question_box ol li:active, .question_box ol li:focus {
	//background-color: #bbcdff;
	background-color:#FF9;
}


/*------------- End of Questions -----------------------*/

/*------------- Answers -----------------------*/

h2 #incorrect, h2 #correct{
	padding-top:0px;
	margin-top:0px;
}

.answer_table {
	margin-left:10px;
	width:760px;
	/*//width:880px;*/
	padding-left:75px;
}

.answer_table h2 {
	font-size:18pt;
}

.learn_more {
	font-size: 12pt;
}

.next {
	text-align:right;
	padding:10px;
	background-color:#FFFFFF;
	font-weight:bold;
	width:150px;
	float:right;
}
.next a{
	text-decoration:none;
}

.back a {
	text-decoration:none; 
	//font-weight:bold;
}

.back a:active, .back a:focus {
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
/*	float:left;*/
}
/*.next a:hover, .next a:active, .next a:focus {
	text-decoration:none !important;
	color:#FFF;
}
*/
.back {
	text-align:center;
	padding:10px;
	background-color:#FFFFFF;
	font-weight:bold;
	width:250px;
	float:left;
}

/*------------- End of Answers -----------------------*/