@charset "utf-8";
/* CSS Document */

/****************************************************/
/* Base Admin Styles                                */
/****************************************************/

.FORMinput {
	font:14px Arial, Helvetica, sans-serif;
	/*width:204px;*/
	border:solid 1px #999;
	padding:0 2px 0 2px;	
}

