

.formats {
    .italic;
    a {
        display: inline-block;
        .ico {
            &:before {
                display: inline-block;
            }
            span {
                margin: 0 0 0 2px;
            }								
        }
    }
}
.source {
    .italic;
}



.expand-collapse-content {
    padding: 8px 0 16px 0;
}






.primary-alt,
.primary,
.secondary-alt,
.secondary,
.accordion-content,
.tab-content {
    ul {
//padding: 0; // overide base
//margin: 0; // overide base
        list-style: none;
        &.basic-list {
            list-style: none;
            li {
                //list-style: none; Nope
                margin: 0 0 5px 0
            }
        }
        &.icon-list {
            padding: 0;
            li {
                display: table;
                margin: 1em 0 0 0;
            }
        }
        &.bullet {
            list-style-type: disc;
            margin-left: 22px;
            li {
                margin-bottom: 5px;
            }
        }
        &.list-seperator {
            border-top: 1px solid silver;
        }
        li {
            .font;
            line-height: 1.4;
            color: @eia-dark-grey;
            font-size: .875rem;
            &.head {
                .bold;
            }
            // is this being used?
            &.dilly {
                list-style: none;
                //margin: 5px 0;
                //border-top: 4px solid red; // @eia-white;
                //border-bottom: 12px solid red; // @eia-white;
                ul {
                    padding: 0; // overide base
                    margin: 0; // overide base
                    list-style: none;
                    li {
                        list-style: none;
                        margin-left: 0;
                        &.dash {
                            text-indent: -5px;
                            &:before {
                                content: "— ";
                                text-indent: -5px;
                            }
                        }
                    }
                }
            }
            //list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
            &.hide-bullet {
                list-style: none;
            }
            a {
                color:@eia-blue;
                text-decoration: none;
                &:link,
                &:active,
                &:visited {
                    color:@eia-blue;
                    text-decoration: none;
                }
                &:hover{
                    text-decoration: underline;
                    color:@eia-blue;
                }
                span {
                    &.date {
                        margin-right:  12px;
                        color: @eia-dark-grey;
                        display: inline-block;
                        text-decoration: none;						
                    }
                }
                span {
                    &.link-label {
                        margin-right: 12px;
                    }
                }
                &.link-label {
                    em {
                        color: @eia-dark-grey;
                    }
                    span {
                        color: @eia-dark-grey;
                    }
                    &:hover {
                        em {
                            text-decoration-line: underline;
                            text-decoration-color: @eia-white;
                        }
                        span {
                            text-decoration-line: underline;
                            text-decoration-color: @eia-white; 
                        }
                    }
                }
                &:hover {
                    .ico {
                        text-decoration: underline;
                    }
                    span {
                        &.date {
                            text-decoration: none;									
                        }
                    }
                }
            }
            &.release-schedule {
                .italic;
            }
            &.list-item {
                list-style: none;
                &>ul {
                    padding: 0; // overide base
                    margin: 0; // overide base
                    display: block;
                    &>li {
                        list-style: none;
                        &:first-child {
                            list-style-type: disc;
                        }
                    }
                    &:last-child {
                        margin-bottom: 12px;
                    }
                }
            }
            &.ico {
                &.pdf {
                    position: relative;
                    list-style: none;
                    margin-left: 0;
                    &:before {
                        //.icon-file-type(pdf);
                        .controls-icon(15px, 16px);
                        position: absolute;
                    }
                    a {
                        padding-left: 20px;
                        display: table;
                    }
                }
                &.xls {
                    position: relative;
                    list-style: none;
                    margin-left: 0;
                    &:before {
                        .icon-file-type(xls);
                        .controls-icon(15px, 16px);
                        position: absolute;
                    }
                    a {
                        padding-left: 20px;
                        display: table;
                    }
                }
                &.csv {
                    position: relative;
                    list-style: none;
                    margin-left: 0;
                    &:before {
                        .icon-file-type(csv);
                        .controls-icon(15px, 16px);
                        position: absolute;
                    }
                    a {
                        padding-left: 20px;
                        display: table;
                    }
                }
            }
            ul {
                padding: 0; // overide base
                margin: 0; // overide base
                li {
                    margin: 3px 0 0 17px;
                    list-style-type: disc;
                }
            }
            // creates vertical space to indicate a new list
            &.sub-list {
                ul {
                    list-style: none;
                    list-style: none;
                    padding: 0;
                    margin: 0 0 12px 0;
                    li {
                        list-style: none;
                        list-style: none;
                        padding-left: 0;
                        margin: 0;
                        /*
                        &.sub-head {
                            a {
                                color:@eia-blue;
                                text-decoration: none;
                                .bold;
                                &:hover{
                                    text-decoration: underline;
                                    color:@eia-blue;
                                }
                                &.see-more {
                                    &:after { 
                                        content:"\00a0\203A";
                                    } 
                                }
                            }
                        }
                        */
                    }
                }
                &.list-item {
                    list-style: none;
                    &>ul {
                        padding: 0 0 0 22px; // overide base

                    }
                }
            }
            &.list-spacer {
                margin-top: 1em;
                margin-bottom: 1em;
                ul {
                    margin: 1em 0;
                    padding: 0;
                    display: block;
                    &:first-child {
                        margin-top: 0;
                    }
                    &:first-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &>ul{
        &>li {
            .font;
            line-height: 1.4;
            min-height: 0.875rem;
            vertical-align: top;
            width: 100%;
            &.head {
                .bold;
            }
            &.foot {
                margin-top: 10px;
                a {
                    .bold;
                    color: @eia-blue;
                    &:after { 
                        content:"\00a0\203A";
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    ol {
        padding: 0 0 0 17px;
        li {
            margin: 0 0 1em 0;
        }
    }
}

.primary-alt {
    ul {
        padding-left: 0;
        &.bullet {
    //        margin-left: 0;
        }
    }
}