@media @mobile  {
    .reports {
        h1 {
            padding: 0;
            margin: 1em 0 .5em;
            color: @eia-dark-grey;
            border: none;
            .font;
            .bold;
            .header-font;
            font-size: 1.625rem;
            width: 100%;
        }
        h2 {
            padding: 10px 0 6px 0;
            margin: 0 0 16px 0;
            color: @eia-dark-grey;
            border: 0;
            border-bottom: solid 1px #dadada;
            .font;
            .bold;
            font-size: 14px;
            width: 100%;

        }
        .primary {
            ul {
                list-style: none;
                list-style-type: none;
                padding-left: 0;
                li  {
                    .font;
                    font-size: 12px;
                    //line-height: 150;
                    margin: 10px 0 1px 0;
                    list-style: none;
                    list-style-type: none;
                    &.sub-list {
                        ul {
                            //list-style: none;
                            //list-style-type: none;
                            //padding-left: 0;
                            li {
                                //margin: 0 0 0 0;
                                font-size: 12px;
                                &.sub-head {
                                    a {
                                    //      color:@eia-blue;
                                    //      text-decoration: none;
                                        font-size: 12px;
                                    //      .bold;
                                    //      &:hover{
                                    //          text-decoration: underline;
                                    //          color:@eia-blue;
                                    //      }
                                    //      &.see-more {
                                    //          &:after { 
                                    //              content:"\00a0\203A";
                                    //          } 
                                    //      }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .l-row {
            &.l-two-col-right-narrow {

                .l-main-col {

                    .l-row {
                        &.l-two-col-even {

                            div {

                            }
                        }
                    }
                }
            } 
        }
    }
}
/*
@media @tablet { //600+
    .commentary {
        article {
            img {
                width: 500px;
            }
        }
    }
}
*/