
@media @mobile {
	.accordion {
		background-color: white;
		margin-bottom: 2em;
		h3 {
			.header-font;
			font-size: 1rem; // 16 pixels
			width: 100%;
			color: @eia-dark-grey;
			border: 0;
			padding: 7px 0;
			border-top: 1px solid @eia-blue;
			cursor: pointer;
			&:first-child {
				border-top: 1px solid @eia-dark-blue;
			}
			&:focus {
				outline: none;
			}
			span {
				display: block;
				&.ico {
					cursor: pointer;
					&.expand {
						&:before {
							.controls-icon(12px, 12px);
							.icon-remove();
							transform: rotate(45deg);
							.left;
							margin: 2px 3px 0 0;
						}
					}
					&.collapse {
						&:before {
							.controls-icon(12px, 12px);
							.left;
							margin: 2px 3px 0 0;
						}
					}
				}
			}
		}
		.ui-accordion-header-icon,
		.ui-icon {
			background-image: none;
		}
	}
	.include {
		color: firebrick !important;
		a {
			color: firebrick !important;
			text-decoration: dotted;;
		}
	}
	.expand-collapse-container {
		i {
			&.ico {
				.right;
				cursor: pointer;
				&.expand {
					&:before {
						.controls-icon(12px, 12px);
						.icon-remove();
						transform: rotate(45deg);
						display: inline-block;
						margin: -4px 3px 0 0;
					}
				}
				&.collapse {
					&:before {
						.controls-icon(12px, 12px);
						display: inline-block;
						margin: -4px 3px 0 0;
					}
				}
			}
		}
		.font;
		font-size: 0.750rem; // 12 pixels
		color: @eia-blue;
		display: block;
		width: 100%;
		height: 20px;
		text-transform: uppercase;
	}
}
