@media @mobile {
    .expand-collapse-content,
    .expand-collapse-tbody,
    .show-hide-content { /* sets initial state */
        display: none;
    }
    .toggle {
        cursor: pointer;
        .active-text {
            display: none;
        }
        &.active {
            .active-text {
                display: block;
            }
            .inactive-text {
                display: none;
            }
        }
    }
}