
a,
i,
span {

	&.ico {
		//&>span {
		//	.font;
		//	.normal;
		//	font-size: 0.750rem; 
		//	color: @eia-blue;
		//	text-transform: uppercase;
		//}
		&.pdf,
		&.xls,
		&.json,
		&.csv,
		&.ppt,
		&.html,
		&.doc,
		&.image,
		&.interactive {
			&:before {
				display: inline-block;
				margin-bottom: -3px;
				margin-right: 3px;
			}
			&:after {
				display: inline-block;
				margin-bottom: -3px;
				margin-left: 3px;
			}
			&.icon-only {
				margin: 0;
				&:before {
					margin-bottom: 0;
					margin-right: 0;
				}
				&:after {
					margin-bottom: 0;
					margin-left: 0;
				}
				&>span {
					font-size: 0;
					line-height: 0;
					margin: 0;
				}
			}
		}
	}
	&.rss {
		&:before {
			height: 20px;
			width: 20px;
			display: inline-block;
			vertical-align: middle;
			padding: 0;
    		margin: 0 3px 0 0;
		}
		span {
			.font;
			.normal;
			font-size: 0.750rem;
			color: @eia-blue;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	/*---Up and Down arrows for use in data highlights and elsewhere on the website---*/
	&.down-arrow {			
		text-indent: -9999px;
		&:before {
			.controls-icon(14px, 16px);
			.left;
			margin-right: 6px;
		}
	}
	&.up-arrow {
		text-indent: -9999px;		
		&:before {
			.controls-icon(14px, 16px);
			.left;
			margin-right: 6px;
		}
	}
}

.dashboard {
	a {
		.ico {
			&.full-screen,
			&.info,
			&.printer,
			&.download {
				font-size: 0;
				line-height: 0;	
			}
		}
	}
}




a {
	&.ico {
		text-decoration: none;
		cursor: pointer;

	}
	text-decoration: none;
	span {
		&.inline {
			white-space: nowrap;
			margin-right: 5px;
			.ico {
				margin-left: 0;
				span {
					display: none;
				}
			}
		}
	}
	&:hover {
		text-decoration: underline;
		span {
			&.inline {						
				text-decoration-line: underline;
				text-decoration-color: white;
				.ico {
					text-decoration-line: underline;
					text-decoration-color: @eia-blue;
					span {
						display: none;
					}
				}
			}
		}
	}
}
a,
i,
span {
	&.ico {
		font-size: 0;
		line-height: 0;
		span {
			.font;
			.normal;
			font-size: 0.750rem;
			color: @eia-blue;
			&:hover {
				text-decoration: underline;
			}
		}
		/*
		&:before {
			display: inline-block;
    		margin-bottom: -3px;
    		margin-right: 5px;
		}
		&:after {
			display: inline-block;
    		margin-bottom: -3px;
    		margin-left: 5px;
		}
		*/
		&.icon-only {
			margin: 0;
			&:before {
				margin-bottom: 0;
				margin-right: 0;
			}
			&:after {
				margin-bottom: 0;
				margin-left: 0;
			}
			&>span {
				font-size: 0;
				line-height: 0;
				margin: 0;
			}
		}
	}
}


td,
div {
	&.ico {
		margin: 0;
		&.pdf,
		&.xls,
		&.json,
		&.csv,
		&.ppt,
		&.html,
		&.doc,
		&.image,
		&.interactive {
			&:before {
				display: inline-block;
				margin: 0 6px -1px 0;
			}
		}
	}
}



.plus-yellow {
	.font;
	.bold;
	color: @eia-yellow;
	font-size: 18px;
}
.plus-greyish-blue {
	.font;
	.bold;
	color: @eia-greyish-blue;
	font-size: 12px;
}
/*---Up and Down arrows for use in data highlights and elsewhere on the website---*/
.down-arrow {			
	&:before {
		.controls-icon(12px, 14px);
		position: relative;
		top: -2px;
	}
}
.up-arrow {
	&:before {
		.controls-icon(12px, 14px);
		position: relative;
		top: -2px;
	}
}


/* side column */
.secondary,
.secondary-alt {
	ul {
		li {
			&.rss,
			&.email {
				&:before {
					height: 20px;
					width: 20px;
					display: inline-block;
					vertical-align: top;
				}
				a {
					width: (100% - 30px);
					display: inline-block;
					margin-left: 12px;
				}
			}
		}
	}

}