.ico {
    margin-left: 4px;
    font-size: 0;
    line-height: 0;
    span {
        .normal;
        margin-left: 4px;
        font-size: 0.750rem; // 12 pixels
    }
	&.analysis {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.cancel {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.column-chart {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.compare {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.d-arrow {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.download {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.edit {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.filter {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grab-dot {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grid-column {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grid-line {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grid-map {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grid-parent-column {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grid-parent-line {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grid-parent-map {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grid-parent-pin {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grid-pin {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.grid-key {
		&:before {
			.icon-grid-key();
		}
	}
	&.help {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.key {
		&:before {
			.icon-key();
		}
	}
	&.l-arrow {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.l-range {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.line-chart {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.map {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.pause {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.pin {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.play {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.r-arrow {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.r-range {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.remove {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.reset {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.reset-animation {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.scroll-h {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.scroll-v {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.search {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.slide {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.sort {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.sort-down {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.sort-up {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.submit {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.checkmark {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.dash {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	&.dot {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	/*
	&.collapse {
		&:before {
        	.controls-icon(20px, 20px);
		}
	}
	*/
	&.facebook {
		&:before {
			.controls-icon(20px, 20px);
		}
	}
	&.twitter {
		&:before {
			.controls-icon(20px, 20px);
		}
	}
	&.youtube {
		&:before {
			.controls-icon(20px, 20px);
		}
	}

	&.flickr {
		&:before {
			.controls-icon(20px, 20px);
		}
	}
	&.linkedin {
		&:before {
			.controls-icon(20px, 20px);
		}
	}
	&.email {
		&:before {
			.controls-icon(20px, 20px);
		}
	}
	&.rss {
		&:before {
			.controls-icon(20px, 20px);
		}
	}
	&.residential {
		&:before {
			.controls-icon(55px, 55px);
		}
	}
	&.commercial {
		&:before {
			.controls-icon(55px, 55px);
		}
	}
	&.industrial {
		&:before {
			.controls-icon(55px, 55px);
		}
    }
    .beta {
		&:before {
			.controls-icon(20px, 20px);
			display: inline-block;
			margin-bottom: -5px;
		}
	}
	&.interactive {
		margin-left: 0;
		&:before {
			.icon-interactive;
			.controls-icon(15px, 16px);
			display: inline-block;
			margin-bottom: -3px;
		}
	}
	&.pdf {
		&:before {
			.controls-icon(15px, 16px);
			display: inline-block;
			margin-bottom: -3px;
		}
	}
	&.xls {
		&:before {
			.controls-icon(15px, 16px);
			display: inline-block;
			margin-bottom: -3px;
		}
	}
	&.json {
		&:before {
			.controls-icon(15px, 16px);
			display: inline-block;
			margin-bottom: -3px;
		}
	}
	&.csv {
		&:before {
			.controls-icon(15px, 16px);
			display: inline-block;
			margin-bottom: -3px;
		}
	}
	&.printer {
		&:before {
			.controls-icon(20px, 20px);
			display: inline-block;
			margin-bottom: -5px;
		}
	}

	/*---Up and Down arrows for use in data highlights and elsewhere on the website---*/
	&.down-arrow {			
		text-indent: -9999px;
		&:before {
			.controls-icon(14px, 16px);
			.left;
			margin-right: 6px;
	//			background-position: bottom center;
		}
	}
	&.up-arrow {
		text-indent: -9999px;		
		&:before {
			.controls-icon(14px, 16px);
			.left;
			margin-right: 6px;
	//			background-position: bottom center;
		}
	}
	/*---Up and Down arrows for use in data highlights and elsewhere on the website---*/
	/*
	&.ico_down {			
		text-indent: -9999px;
		font-size: 0;
		&:before {
			.controls-icon(12px, 14px);
			.left;
			margin-right: 3px;

		}
	}
	&.ico_up {
		text-indent: -9999px;
		font-size: 0;	
		&:before {
			.controls-icon(12px, 14px);
			.left;
			margin-right: 3px;
		}
	}
	*/
}





.plus-yellow {
	.font;
	.bold;
	color: @eia-yellow;
	font-size: 18px;
}
.plus-greyish-blue {
	.font;
	.bold;
	color: @eia-greyish-blue;
	font-size: 12px;
}
/*---Up and Down arrows for use in data highlights and elsewhere on the website---*/
.down-arrow {			
	&:before {
		.controls-icon(12px, 14px);
		position: relative;
		top: -2px;
	}
}
.up-arrow {
	&:before {
		.controls-icon(12px, 14px);
		position: relative;
		top: -2px;
	}
}
/*---Right arrow for use in footer and similar---
.right-arrow-head {
	&:before {
		.controls-icon(12px, 12px);
	}
}
*/