/*
REMs        Pixels
_________________________________
font-size: 0.625rem; // 10 pixels	
font-size: 0.688rem; // 11 pixels
font-size: 0.750rem; // 12 pixels
font-size: 0.813rem; // 13 pixels
font-size: 0.875rem; // 14 pixels
font-size: 0.938rem; // 15 pixels
font-size: 1.000rem; // 16 pixels
font-size: 0.063rem; // 17 pixels
font-size: 1.125rem; // 18 pixels
font-size: 1.188rem; // 19 pixels
font-size: 1.250rem; // 20 pixels
font-size: 1.313rem; // 21 pixels
font-size: 1.375rem; // 22 pixels
font-size: 1.438rem; // 23 pixels
font-size: 1.500rem; // 24 pixels
*/
















div {
    &.error,
    &.alert,
    &.notice,
    &.call-out,
    &.success {
        width: 100%;
        display: block;
        padding: 1.5em;
        margin: 0 0 1em 0;
        font-size: 0.938rem; // 15 pixels
        clear: both;
    }   
}
p {
	&.note {
		font-size: 0.750rem; // 12 pixels
		color: @eia-dark-grey;
		padding: 12px 0;
		&.right {
			//.right;
			.align-right;
		}
	}
}


.error {
    background-color: tint(@eia-red, 60%);
    color: @eia-dark-grey;
    p {
        a {
            color: @eia-blue;
            text-decoration: none;
        }
    }
}
// final 
.notice {
    background-color: tint(@eia-blue, 80%);
    color: @eia-dark-grey;
    p {
        a {
            color: @eia-blue;
            text-decoration: none;
        }
    }
}
// final
.call-out {
    background-color: #ededed;
    color: @eia-dark-grey;
    p {
        padding: 0;
        margin: 0 0 11px 0;
        a {
            color: @eia-blue;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
// final
span {
    &.alert {
        color: @eia-red;
    }
}    
div {
    &.alert {
        background-color: tint(@eia-red, 80%);
        color: @eia-dark-grey;
        p {
            a {
                color: @eia-dark-grey;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
// final 
.success {
    background-color: tint(@eia-green, 80%);
    color: @eia-dark-grey;
    p {
        a {
            color: @eia-green;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


// final
span {
    &.note {
        //display: inline-block; try float
        color: @eia-dark-grey;
        font-weight: 300;
        //margin: 0 0 0 8px;
    }
}   










