@media @mobile {
    .report-header {
		display: table;
		width: 100%;
        padding: 0 0 6px 0;
		border-bottom: solid 1px #ededee; // check
        margin: 0 0 1.5em;
        .report-header-inner {
            margin: 0 0 6px 0;
            padding: 0 1em 0 1em;
        }
		h2 {
			.header-font;
            font-size: 26px;
            margin: 0;
            padding: 0;
        }
        .publish-metadata {
            .font;
            width: 100%;
            clear: both;
            font-size: 0.688rem; // 11 pixels
            margin: 0px;
            padding: 2px 0px;
            color: #7d7d7d;
            &>span {
                &:before {
                    content: '|';
                    margin: 0 6px 0 3px;
                }
                a {
                    display: inline-block;
                    color: @eia-blue;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                    } 
                }
                .pdf {
                    .left;
                    margin: -3px 6px 0 0;
                    span {
                        position: absolute;
                        left: -10000px;
                        top: auto;
                        width: 1px;
                        height: 1px;
                        overflow: hidden;
                    }
                }
            }
            &>span {
                &:first-child {
                    &:before {
                        content: '';
                        margin: 0 6px 0 3px;
                    }						
                }
            }
        }
        .report-selector-container {
            margin: 0;
            padding: 6px 0 12px 0;
            legend {
                span {
                    display: none;
                }
            }
            select {
                width: 180px;
            }

        }
    }
}

@media @tablet-landscape {
    .report-header {
        .report-header-inner {
            padding: 0 22px 0 22px;
        }
    }
}