@media @mobile {


    .release-dates {
        font-size: 0.750rem; // 12 pixels
        line-height: 1.4;
        color: #7d7d7d;
        &:last-child {
            margin-bottom: 1em;
        }
        .bold;
        a {
            .normal;
        }
        .ico {
            margin: -3px 0 0 6px;
            span {
                display: none;;
            }
        }
        .responsive-container {
            margin:0;
            display: inline-block;
            .date {
                display: inline-block;
                .normal;
            }
            .label {
                display: inline-block;
            }
            &:after {
                content: '\00a0\00a0|\00a0\00a0 ';
            }
            &:last-child {
                &:after {
                    content: '';
                }
            }
        }
    }







    .l-row {
        // 70% | 30%
        &.l-report-header {
            margin-bottom: 1.5em;
            border-bottom: solid 1px #ededee;
            //@media @mobile {
            //.l-report-header {
            .form-container {
                width: 100%;
            }
            .go-back {
                display: none;
            }
            //padding-top: 25px; // only if there's no navigation
            .see-all {
                font-size: 0.688rem; // 11 pixels
                padding: 0 0 5px 0;
                color: @eia-blue;
                text-transform: uppercase;
                &:before { 
                    content:"\2039\00a0";
                    vertical-align: text-top;
                }
            }

            h1 {
                .header-font;
                line-height: 1;
                font-size: 1.625rem;
                margin: 0 0 2px 0;
                padding: 0 0 0 0;
                //margin: 0 0 1em 0;
            }
            .publish-metadata {
                .font;
                width: 100%;
                clear: both;
                font-size: 0.688rem; // 11 pixels
                margin: 0 0 1em 0;
                padding: 0;
                color: #7d7d7d;
                span {
                    &.pipe {
                        &:before {
                            content: '|';
                        }						
                    }
                }
            }
        }
    }
    .l-full-page {
        .l-row {
            &.l-report-header {
                padding: 0;
                .see-all,
                .form-container,
                .release-dates {
                    display: none;
                }
                &>.l-col {
                    width: 68%;
                    &:after {
                        content: none;
                    }
                }
                .go-back {
                    display: block;
                    float: right;
                    .ico {
                        &.close {
                            span {
                                font-size: 0;
                                line-height: 0;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media @mobile-landscape { // smartphones, Android phones, landscape iPhone
}
@media @tablet {	// mobile panorama
    .l-row {
        // 70% | 30%
        &.l-report-header {
            .l-col {
                .release-dates {
                    //border-top: 0;
                    margin-top: 0;
                }
            }
        }
    }
}
@media @tablet-landscape { // tablet, landscape iPad, lo-res laptops ands desktops

}
@media @laptop {
    .l-row {
        // 70% | 30%
        &.l-report-header {
            &>.l-col {
                width: 28%; 
                &:first-of-type {
                    width: 68%;
                }
                &:after {
                    content: '';
                    height: calc(100% - 10px);
                    border-right: 1px solid #ededed;
                    position: absolute;
                    bottom: 0;
                    margin: 5px 0;
                    right: -3%;
                }
                &:last-child { 
                    &:after {
                        display: none;
                    }
                }
            }
            .form-container {
                margin: 18px 0 0 0;
            }
        }
    }
    .l-full-page {
        .l-row {
            &.l-report-header {
                &>.l-col {
                    &:after {
                        border-right: none;
                        bottom: 0;
                        margin: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}