<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EIA Style Guide</title>
<!-- build:ico ../assets/images/favicon.ico -->
    <link rel="icon" href="../src/images/favicon.ico">
    <!-- endbuild -->
    <!-- build:png ../assets/images/apple-touch-icon.png -->
    <link href="../src/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <!-- endbuild -->
    <!-- build:png ../assets/images/favicon-32x32.png -->
    <link href="../src/images/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
    <!-- endbuild -->
    <!-- build:png ../assets/images/favicon-16x16.png -->
    <link href="../src/images/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
    <!-- endbuild -->
    <!-- build:webmanifest ../assets/images/site.webmanifest -->
    <link href="../src/images/site.webmanifest" rel="manifest">
    <!-- endbuild -->
    <!-- build:svg ../assets/images/safari-pinned-tab.svg -->
    <link href="../src/images/safari-pinned-tab.svg" rel="mask-icon" color="#292929">
    <!-- endbuild -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#292929">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
    <!-- build:css ../assets/styles/styles.min.css -->
    <link rel="stylesheet" href="../temp/styles/styles.css">
    <!-- endbuild -->
    <!-- build:css ../assets/styles/global.min.css -->
    <link rel="stylesheet" href="../temp/styles/global.css" media="screen">
    <!-- endbuild -->

<!-- build:js ../assets/scripts/jquery.min.js -->
<script src="../assets/scripts/modules/vendor/jquery/jquery.v3.3.1.min.js"></script>
<!-- endbuild -->
    <!-- build:js ../assets/scripts/jquery-ui.min.js -->
    <script src="../assets/scripts/modules/vendor/jquery-ui/jquery-ui.min.js"></script>
    <!-- endbuild -->
</head>

<body>
    <div class="l-body-wrapper l-full-page">
        <span class="add-header"></span>
        <div class="l-outer-wrapper">
            <div class="l-inner-wrapper">
                <!-- start style guide wrapper -->
                <!-- start style guide wrapper -->
                <!-- start style guide wrapper -->
                <div class="_container">
                    <div class="_content">
                        <div class="_content-inner">
                            <!-- end style guide wrapper -->
                            <!-- end style guide wrapper -->
                            <!-- end style guide wrapper -->
                        <h1 class="_h1">Page Content</h1>
                        <p class="_p">When a column layout is nested within another column layout, the nested colums have no right space on the last column.</p>
               <ul class="style-guide">
                    <li class="style-guide">
                        <h4 class="_h4">Page Header</h4>
                        <p class="_p">Description</p>
                        <div class="_module-wrapper">
                            <div class="_module-container">
                                <div class="l-row header">
                                    <div class="title-banner bg-analysis">
                                        <h1>The five boxing wizards jump quickly</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
<!-- start copy to clipboard -->
<!-- start copy to clipboard -->
<!-- start copy to clipboard -->
<div class="print-only">
Code sample on the online style guide.
</div>
<div class="_example _html">
<!-- Target -->
<textarea class="_copy-textarea" rows="5">
    
</textarea>
<!-- Trigger -->
<a class="_copy" type="button">Copy to clipboard</a>
</div>
<!-- end copy to clipboard -->
<!-- end copy to clipboard -->
<!-- end copy to clipboard -->
                    </li>









                    <li class="style-guide">
                            <h4 class="_h4">Sub-navigation</h4>
                            <p class="_p">Description</p>
                            <div class="_module-wrapper">
                                <div class="_module-container">
<!-- start style guide -->
                                <!-- start style guide -->
                                <!-- start style guide -->
                                <div class="l-row header">
                                        <!-- div class="l-full-width-col" -->
                                            <div class="sub-navigation">
                                                <div class="left">
                                                    <ul class="left-nav">
                                                        <li class="active"><a href="/">Overview</a></li>
                                                        <li class="dropdown dropdown-data"><a href="/" class="dropbtn">Label<i class="ico sort-up"></i></a>
                                                            <div class="dropdown-content dropdown-data-content">
                                                                <ul>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li class="dropdown dropdown-analysis-projections"><a href="/" class="dropbtn">Label<i class="ico sort-up"></i></a>
                                                            <div class="dropdown-content dropdown-analysis-projections-content">
                                                                <div class="l-row l-full-width-col">
                                                                    <div class="l-two-third-col">
                                                                        <h4>Label</h4>
                                                                    </div>
                                                                    <div class="l-col">
                                                                        <h4>Label</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="l-row l-full-width-col">
                                                                    <ul class="l-two-third-col">
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">link03Label</a></li>
                                                                    </ul>
                                                                    <ul class="l-col">
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">Link Label</a></li>
                                                                        <li><a href="/">Link Label</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="right">
                                                    <span><a href="glossaryURL">Glossary</a> <a href="faqURL">FAQ</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end section -->
                                    <!-- end section -->
                                    <!-- end section -->    
                                </div>
                            </div>
<!-- start copy to clipboard -->
<!-- start copy to clipboard -->
<!-- start copy to clipboard -->
<div class="print-only">
Code sample on the online style guide.
</div>
<div class="_example _html">
<!-- Target -->
<textarea class="_copy-textarea" rows="5">
    
</textarea>
<!-- Trigger -->
<a class="_copy" type="button">Copy to clipboard</a>
</div>
<!-- end copy to clipboard -->
<!-- end copy to clipboard -->
<!-- end copy to clipboard -->
                    </li>









                    <li class="style-guide">
                                <h4 class="_h4">Report Header</h4>
                                <p class="_p">Description</p>
                                <div class="_module-wrapper">
                                    <div class="_module-container">
                                            <div class="l-row header report-header">
                                                    <!-- div class="l-full-width-col" -->
                                                        <div class="report-header-inner">
                                                            <h2>Annual Energy Review</h2>
                                                            <div class="publish-metadata">Superseded -- see MER for key annual tables</div>
                                                            <form>
                                                                <div class="form-container report-selector-container do-not-print">
                                                                    <fieldset class="blue">
                                                                        <legend>Archives for data year <span class="inline"><i class="ico pdfs"></i></span></a></legend>
                                                                        <select onchange="location = this.value;">
                                                                            <option value="/totalenergy/data/annual/archive/038411.pdf" selected="selected">2011</option>
                                                                            <option value="/totalenergy/data/annual/archive/038410.pdf">2010</option>
                                                                            <option value="/totalenergy/data/annual/archive/038409.pdf">2009</option>
                                                                            <option value="/totalenergy/data/annual/archive/038408.pdf">2008</option>
                                                                            <option value="/totalenergy/data/annual/archive/">all archives</option>
                                                                        </select>
                                                                    </fieldset>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
<!-- start copy to clipboard -->
<!-- start copy to clipboard -->
<!-- start copy to clipboard -->
<div class="print-only">
Code sample on the online style guide.
</div>
<div class="_example _html">
<!-- Target -->
<textarea class="_copy-textarea" rows="5">
    
</textarea>
<!-- Trigger -->
<a class="_copy" type="button">Copy to clipboard</a>
</div>
<!-- end copy to clipboard -->
<!-- end copy to clipboard -->
<!-- end copy to clipboard -->
                    </li>









                    <li class="style-guide">



                    
                </ul>
                <!-- end style guide wrapper -->
                <!-- end style guide wrapper -->
                <!-- end style guide wrapper -->
            </div>
        </div>
    </div>
    <span class="add-footer"></span>
</body>
<!-- build:js ../assets/scripts/script.min.js -->
<script src="../temp/scripts/scripts.js"></script>
<!-- endbuild -->
<!-- build:js ../assets/scripts/global.min.js -->
<script src="../temp/scripts/global.js"></script>
<!-- endbuild -->
</html>