<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EIA Style Guide</title>



    
    <link href="../assets/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">

    
    <link href="../assets/images/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">

    
    <link href="../assets/images/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">

    
    <link href="../assets/images/site.webmanifest" rel="manifest">

    
    <link href="../assets/images/safari-pinned-tab.svg" rel="mask-icon" color="#292929">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#292929">

    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

    <!-- build:css ../assets/styles/styles.min.css -->
    <link rel="stylesheet" href="../temp/styles/styles.css"><!-- endbuild -->

    <!-- build:css ../assets/styles/global.min.css -->
    <link rel="stylesheet" href="../temp/styles/global.css"><!-- endbuild -->

    



</head>

<body>
    <div class="_header">
        <a class="logo-white-background" href="https://wwwdev.eia.gov/style-guide/index.html">
            <h1>U.S. Energy Information Administration - EIA - Independent Statistics and Analysis</h1>
        </a>
        <ul class="_nav">
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/base/index.html">Base</a>
                <ul class="_base _nav-dropdown"></ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/layouts/index.html">Layouts</a><ul class="_layouts _nav-dropdown"></ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/modules/index.html">Modules</a>
                <ul class="_modules _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/states/index.html">States</a>
                <ul class="_states _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/themes/index.html">Themes</a>
                <ul class="_themes _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/examples/index.html">Examples</a>
                <ul class="_examples _nav-dropdown">
                </ul>
            </li>
        </ul>
        <div class="_resolution _mobile">Mobile</div>
        <div class="_resolution _mobile-landscape">Mobile Landscape</div>
        <div class="_resolution _tablet">Tablet</div>
        <div class="_resolution _tablet-landscape">Tablet Landscape</div>
        <div class="_resolution _laptop">Laptop +</div>
    </div>

    <div class="_container clearfix">
        <div class="_content">
            <div class="_content-inner">
                <!-- start style guide -->
                <!-- start style guide -->
                <!-- start style guide -->
                <h1 class="_h1">Sub Navigation</h1>
                <ul class="style-guide">
                    <li class="style-guide">
                        <h3 class="_h3">Page Header / Sub-Navigation</h3>
                        <div class="_module-wrapper">
                            <div class="_module-container">
                                <!-- start style guide -->
                                <!-- start style guide -->
                                <!-- start style guide -->
                                <div class="l-row header">
                                    <div class="l-full-width-col">
                                        <div class="title-banner bg-petroleum">
                                            <h1>Section Name</h1>
                                        </div>
                                        <div class="sub-navigation">
                                            <div class="left">
                                                <ul class="left-nav">
                                                    <li class="active"><a href="/">Overview</a></li>
                                                    <li class="dropdown dropdown-data"><a href="/" class="dropbtn">Label<i class="ico sort-up"></i></a>
                                                        <div class="dropdown-content dropdown-data-content">
                                                            <ul>
                                                                <li><a href="/">Link Label</a></li>
                                                                <li><a href="/">Link Label</a></li>
                                                                <li><a href="/">Link Label</a></li>
                                                                <li><a href="/">Link Label</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown dropdown-analysis-projections"><a href="/" class="dropbtn">Label<i class="ico sort-up"></i></a>
                                                        <div class="dropdown-content dropdown-analysis-projections-content">
                                                            <div class="l-row">
                                                                <div class="l-two-third-col">
                                                                    <h4>Label</h4>
                                                                </div>
                                                                <div class="l-one-third-col">
                                                                    <h4>Label</h4>
                                                                </div>
                                                            </div>
                                                            <div class="l-row">
                                                                <ul class="l-two-third-col">
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">link03Label</a></li>
                                                                </ul>
                                                                <ul class="l-one-third-col">
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="right">
                                                <span><a href="glossaryURL">Glossary</a> <a href="faqURL">FAQ</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end section -->
                                <!-- end section -->
                                <!-- end section -->
                            </div>
                        </div>
                    </li>
                    <li class="style-guide">
                        <h3 class="_h3">Page Tabs</h3>
                        <div class="_module-wrapper">
                            <div class="_module-container">

                                <div class="l-full-width-page">
                                    <div class="l-row">
                                        <div class="l-full-width-col">


                                            <div class="page-nav">
                                                <div class="left">
                                                    <ul class="left-nav">
                                                        <li class="active"><a queryparamshandling="preserve" routerlink="" href="/archive/natural-gas-dashboard/">National</a></li>
                                                        <li><a queryparamshandling="preserve" routerlink="regional" href="/archive/natural-gas-dashboard/regional">Regional</a></li>
                                                        <li><a queryparamshandling="preserve" routerlink="commentary" href="/archive/natural-gas-dashboard/commentary">Commentary</a></li>
                                                    </ul>
                                                </div>
                                                <div class="right">
                                                    <span class="right-nav">
                                                        <a href="/"><i class="ico pdf">Print dashboards</i></a>
                                                        <a class="tourBox" href="/"><i class="ico tour">Take a tour</i></a>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- dashboard-container -->
                                    </div>
                                    <!-- l-full-width-col -->
                                </div>
                                <!-- l-row -->

                            </div>
                            <!-- _module-wrapper -->
                        </div>
                        <!-- _module-wrapper -->
                        <!-- end section -->
                        <!-- end section -->
                        <!-- end section -->
                    </li>
                </ul>
                <!-- end style guide -->
                <!-- end style guide -->
                <!-- end style guide -->
            </div>
        </div>
    </div>
    <footer class="_footer"><div>
        <ul class="_nav-footer l-row l-six-col-even">
            <li class="_nav-footer-item l-narrow-col"><a href="https://wwwdev.eia.gov/style-guide/base/index.html">Base</a>
                <ul class="_base _nav-dropdown"></ul>
            </li>
            <li class="_nav-footer-item l-narrow-col"><a href="https://wwwdev.eia.gov/style-guide/layouts/index.html">Layouts</a><ul class="_layouts _nav-dropdown"></ul>
            </li>
            <li class="_nav-footer-item l-narrow-col"><a href="https://wwwdev.eia.gov/style-guide/modules/index.html">Modules</a>
                <ul class="_modules _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-footer-item l-narrow-col"><a href="https://wwwdev.eia.gov/style-guide/states/index.html">States</a>
                <ul class="_states _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-footer-item l-narrow-col"><a href="https://wwwdev.eia.gov/style-guide/themes/index.html">Themes</a>
                <ul class="_themes _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-footer-item l-narrow-col"><a href="https://wwwdev.eia.gov/style-guide/examples/index.html">Examples</a>
                <ul class="_examples _nav-dropdown">
                </ul>
            </li>
        </ul>
    </div>
</footer></body>
<!-- build:js ../assets/scripts/script.min.js -->
<script src="../temp/scripts/scripts.js"></script><!-- endbuild -->
<!-- build:js ../assets/scripts/global.js.min.js -->
<script src="../temp/scripts/global.js"></script><!-- endbuild -->




<script>
</script>

</html>