<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EIA Style Guide</title>
<!-- build:ico ../assets/images/favicon.ico -->
    <link rel="icon" href="../src/images/favicon.ico">
    <!-- endbuild -->
    <!-- build:png ../assets/images/apple-touch-icon.png -->
    <link href="../src/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <!-- endbuild -->
    <!-- build:png ../assets/images/favicon-32x32.png -->
    <link href="../src/images/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
    <!-- endbuild -->
    <!-- build:png ../assets/images/favicon-16x16.png -->
    <link href="../src/images/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
    <!-- endbuild -->
    <!-- build:webmanifest ../assets/images/site.webmanifest -->
    <link href="../src/images/site.webmanifest" rel="manifest">
    <!-- endbuild -->
    <!-- build:svg ../assets/images/safari-pinned-tab.svg -->
    <link href="../src/images/safari-pinned-tab.svg" rel="mask-icon" color="#292929">
    <!-- endbuild -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#292929">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
    <!-- build:css ../assets/styles/styles.min.css -->
    <link rel="stylesheet" href="../temp/styles/styles.css">
    <!-- endbuild -->
    <!-- build:css ../assets/styles/global.min.css -->
    <link rel="stylesheet" href="../temp/styles/global.css" media="screen">
    <!-- endbuild -->

<!-- build:js ../assets/scripts/jquery.min.js -->
<script src="../assets/scripts/modules/vendor/jquery/jquery.min.js"></script>
<!-- endbuild -->
    <!-- build:js ../assets/scripts/jquery-ui.min.js -->
    <script src="../assets/scripts/modules/vendor/jquery-ui/jquery-ui.min.js"></script>
    <!-- endbuild -->
</head>

<body>
    <div class="l-body-wrapper l-full-page">
        <span class="add-header"></span>
        <div class="l-outer-wrapper">
            <div class="l-inner-wrapper">
                <!-- start style guide wrapper -->
                <!-- start style guide wrapper -->
                <!-- start style guide wrapper -->
                <div class="_container">
                    <div class="_content">
                        <div class="_content-inner">
                            <!-- end style guide wrapper -->
                            <!-- end style guide wrapper -->
                            <!-- end style guide wrapper -->
               
                <ul class="style-guide">
                    <li class="style-guide">
                        <h1 class="_h1">Sub Navigation</h1>
                        <h3 class="_h3">Page Header / Sub-Navigation</h3>
                        <div class="_module-wrapper">
                            <div class="_module-container">
                                <!-- start style guide -->
                                <!-- start style guide -->
                                <!-- start style guide -->
                                <div class="l-row header">
                                    <!-- div class="l-full-width-col" -->
                                        <div class="title-banner bg-petroleum">
                                            <h1>Section Name</h1>
                                        </div>
                                        <div class="sub-navigation">
                                            <div class="left">
                                                <ul class="left-nav">
                                                    <li class="active"><a href="/">Overview</a></li>
                                                    <li class="dropdown dropdown-data"><a href="/" class="dropbtn">Label<i class="ico sort-up"></i></a>
                                                        <div class="dropdown-content dropdown-data-content">
                                                            <ul>
                                                                <li><a href="/">Link Label</a></li>
                                                                <li><a href="/">Link Label</a></li>
                                                                <li><a href="/">Link Label</a></li>
                                                                <li><a href="/">Link Label</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown dropdown-analysis-projections"><a href="/" class="dropbtn">Label<i class="ico sort-up"></i></a>
                                                        <div class="dropdown-content dropdown-analysis-projections-content">
                                                            <div class="l-row l-full-width-col">
                                                                <div class="l-two-third-col">
                                                                    <h4>Label</h4>
                                                                </div>
                                                                <div class="l-col">
                                                                    <h4>Label</h4>
                                                                </div>
                                                            </div>
                                                            <div class="l-row l-full-width-col">
                                                                <ul class="l-two-third-col">
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">link03Label</a></li>
                                                                </ul>
                                                                <ul class="l-col">
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                    <li><a href="/">Link Label</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="right">
                                                <span><a href="glossaryURL">Glossary</a> <a href="faqURL">FAQ</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end section -->
                                <!-- end section -->
                                <!-- end section -->
                            </div>
                        </div>
                    </li>
                    <li class="style-guide">
                        <h3 class="_h3">Page Tabs</h3>
                        <div class="_module-wrapper">
                            <div class="_module-container">

                                <div class="l-full-width-page">
                                    <div class="l-row l-full-width-col">
                                        <!-- div class="l-full-width-col" -->


                                            <div class="page-nav">
                                                <div class="left">
                                                    <ul class="left-nav">
                                                        <li class="active"><a queryparamshandling="preserve" routerlink="" href="/archive/natural-gas-dashboard/">National</a></li>
                                                        <li><a queryparamshandling="preserve" routerlink="regional" href="/archive/natural-gas-dashboard/regional">Regional</a></li>
                                                        <li><a queryparamshandling="preserve" routerlink="commentary" href="/archive/natural-gas-dashboard/commentary">Commentary</a></li>
                                                    </ul>
                                                </div>
                                                <div class="right">
                                                    <span class="right-nav">
                                                        <a href="/"><i class="ico pdf">Print dashboards</i></a>
                                                        <a class="tourBox" href="/"><i class="ico tour">Take a tour</i></a>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- dashboard-container -->
                                    </div>
                                    <!-- l-full-width-col -->
                                </div>
                                <!-- l-row -->

                            </div>
                             <!-- start style guide wrapper -->
                            <!-- start style guide wrapper -->
                            <!-- start style guide wrapper -->
                        </div>
                    </div>
                </div>
                <!-- end style guide wrapper -->
                <!-- end style guide wrapper -->
                <!-- end style guide wrapper -->
            </div>
        </div>
    </div>
    <span class="add-footer"></span>
</body>
<!-- build:js ../assets/scripts/script.min.js -->
<script src="../temp/scripts/scripts.js"></script>
<!-- endbuild -->
<!-- build:js ../assets/scripts/global.min.js -->
<script src="../temp/scripts/global.js"></script>
<!-- endbuild -->
</html>