@media @mobile {
	.l-body-wrapper {
		min-height: 100%;
	}
	.l-outer-wrapper {
		width: 100%;
		padding: 0; 
		min-width: 320px;
		background-color: #fff;
		.l-inner-wrapper{
			width: 100%;
			padding: 39px 0 0;
			margin: 0;
			.push {
				height: 50px;
				clear: both;
			}
		}
	}
	.container {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	.l-col,
	.l-full-width-col,
	.l-main-col,
	.l-middle-col,
	.l-narrow-col,
	.l-split-narrow-col,
	.l-split-wide-col,
	.l-one-third-col,
	.l-two-col,
	.l-two-third-col {
		position: relative;
		min-height: 1px;
		margin: 0;
		.left;
		width: 100%;
	}
	.l-row {
		//		overflow: hidden;; <--- cannot be hidden
		//		display: table; <--- cannot be a table
		padding: 0 12px;
		width: 100%;
		clear: both;
		.l-col,
		.l-full-width-col,
		.l-main-col,
		.l-middle-col,
		.l-narrow-col,
		.l-split-narrow-col,
		.l-split-wide-col,
		.l-one-third-col,
		.l-two-col,
		.l-two-third-col { 
			margin-top: inherit;
		}
		&.header {
			padding: 0;
			.l-col,
			.l-full-width-col,
			.l-main-col,
			.l-middle-col,
			.l-narrow-col,
			.l-split-narrow-col,
			.l-split-wide-col,
			.l-one-third-col,
			.l-two-col,
			.l-two-third-col { 
				border-top: none;
			}
		}
	}
}
@media @mobile-landscape { // smartphones, Android phones, landscape iPhone
	.l-col {
		width: 50%;
	}
}
@media @tablet {	// mobile panorama
	/*
	.l-row {
		padding: 0 1em;
	}
	*/
}
@media @tablet-landscape { // tablet, landscape iPad, lo-res laptops ands desktops
	.l-col {
		width: 33.333%;
	}
	.l-row {
		.l-row {
			padding: 0;
		}
	}
}
@media @laptop {
	body {
		background-color: #e8ecf2;
	}
	.l-outer-wrapper {
		// normall 1025 - big landscape tablets, laptops, and desktops
		margin: 0 auto;
		background-color: #e2e6eb;
		border: 0;
		padding: 0 1px;
		width: 992px;
		.l-inner-wrapper {
			border-right: 1px solid #dbdfe5;
			border-left: 1px solid #dbdfe5;
			background-color: #fff;
			padding: 94px 15px 0 15px;
			width: 990px;
			margin: 0;
			//display: block; //<-- table-cell this messes up in IE
			&.show {
				padding: 90px 0 50px;
			}			
		}
	}
	.container {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.l-row {
		padding-left: 22px;
		padding-right: 0;
		&>div {
			&.l-full-width-col {
				padding: 0 22px 0 0;
			}
		}
		&.header {
			padding: 0;
			width: 100%;
			border-right: 0;
			&>div {
				&.l-full-width-col {
					padding: 0;
				}
			}
		}
	}
}
