// | 15 | l-row, left 22; l-two-col:first-of-type, left 0 |-----------| l-two-col:first-of-type, right 22 | l-two-col, left 22 |-----------|l-row, right 22| 15| 
//instead of first-child, it should be first-of-type. That way if there's a header or something in the row, it won't mess with the order
/*

@eia-blue: #0096d7;
@eia-green: #5d9732;
@eia-purple: #513C7A;

.controls-icon(@icon-width: 15px, @icon-height: 18px) {
    content: ' ';
    height: @icon-height;
	width: @icon-width;
    display: inline-block;
	position: relative;
	top: 2px;
}



.l-body-wrapper .l-outer-wrapper .l-inner-wrapper {
	padding-bottom: 22px;
	color: #333333;
}


---end temporary global overrides ----*/





@media @mobile {
	.l-body-wrapper {
		min-height: 100%;
		//margin-bottom: -500px; // same as footer
	}
	.l-outer-wrapper {
		width: 100%;
		//padding: 0 0 2000px 0; // 2000px must match footer height in footer.less
		padding: 0; 
		min-width: 320px;
		background-color: #fff;
		.l-inner-wrapper{
			width: 100%;
			padding: 39px 0 0;
			margin: 0;
			&>.l-row {
				&:last-child {
					display: table;
					margin-bottom: 3em;
					//border-bottom: 3em solid red;
				}
			}
			.l-full-width-page {
				&>.l-row {
					&:last-child {
						display: table;
						margin-bottom: 3em;
						//border-bottom: 3em solid blue;
					}
				}
			}
		}
	}
	.container {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
//	.container-fluid {
//		position: relative;
//		width: 100%;
//		margin-left: auto;
//		margin-right: auto;
//	}
	.l-col,
	.l-full-width-col,
	.l-main-col,
	.l-middle-col,
	.l-narrow-col,
	.l-split-narrow-col,
	.l-split-wide-col,
	.l-one-third-col,
	.l-two-col,
	.l-two-third-col {
		position: relative;
		min-height: 1px;
		margin: 0;
		.left;
		width: 100%;
	}















	.l-row {
		//		overflow: hidden;; <--- cannot be hidden
		//		display: table; <--- cannot be a table
		padding: 0 12px;
		width: 100%;
		clear: both;
		.l-col,
		.l-full-width-col,
		.l-main-col,
		.l-middle-col,
		.l-narrow-col,
		.l-split-narrow-col,
		.l-split-wide-col,
		.l-one-third-col,
		.l-two-col,
		.l-two-third-col { 
			margin-top: inherit;
		}
		&.header {
			padding: 0;
			.l-col,
			.l-full-width-col,
			.l-main-col,
			.l-middle-col,
			.l-narrow-col,
			.l-split-narrow-col,
			.l-split-wide-col,
			.l-one-third-col,
			.l-two-col,
			.l-two-third-col { 
				border-top: none;
			}
		}










	}
	/*
	.l-full-width-page {
		.l-row {
			.l-two-col {
				&:first-child {
					padding: 0 12px 0 12px;
				}
				&:last-child {
					padding: 0 12px 0 12px;
				}
			}
		}
	}
	*/
}


@media @mobile-landscape { // smartphones, Android phones, landscape iPhone
	.l-col {
		width: 50%;
	}
}

@media @tablet {	// mobile panorama
	.l-row {
		padding: 0 1em;
	}
}




@media @tablet-landscape { // tablet, landscape iPad, lo-res laptops ands desktops
	.l-body-wrapper {
		margin-bottom: -660px;
	}
	.l-col {
		width: 33.333%;
	}
	.l-row {

		&.l-six-col-even {
			.l-col { 
				width: 30%;
			}
		}
		//	.l-one-third-col,
		//	.l-split-narrow-col,
		//	.l-split-wide-col,
		.l-two-col {
			width: 50%;
			/*
			.left;
			&:first-child {
				padding: 0 22px 0 0;
			}		
			&:last-child {
				padding: 0 0 0 22px;
			}
			*/
		}
		/*
		.l-two-third-col {
			width: 66.666667%;
			&:first-child {
				padding: 0 22px 0 0;
			}		
			&:last-child {
				padding: 0 0 0 22px;
			}
		}
		.l-one-third-col {
			width: 33.333333%;
			&:first-child {
				padding: 0 22px 0 0;
			}		
			&:last-child {
				padding: 0 0 0 22px;
			}
		}
		*/
		.l-row {
			padding: 0;
			/*
			.l-two-col,
			.l-two-third-col,
			.l-one-third-col {
				&:first-child {
					padding: 0 11px 0 0;
				}		
				&:last-child {
					padding: 0 0 0 11px;
				}
			}
			*/
		}
	}
}
@media @laptop {
	body {
		background-color: #e8ecf2;
	}
	.l-body-wrapper {
		margin-bottom: -500px; // same as footer
	}
	.l-outer-wrapper {
		// normall 1025 - big landscape tablets, laptops, and desktops
		margin: 0 auto;
		background-color: #e2e6eb;
		border: 0;
		//padding: 0 1px 500px 1px; // 500px must match footer height in footer.less
		padding: 0 1px;
//		min-width: 992px;
		width: 992px;
		display: table;
		.l-inner-wrapper {
			border-right: 1px solid #dbdfe5;
			border-left: 1px solid #dbdfe5;
			background-color: #fff;
			padding: 94px 15px 0 15px;
//			min-width: 990px;
			width: 990px;
			margin: 0;
			display: table-cell;
			&.show {
				padding: 90px 0 50px;
			}			
		}
	}
	// this is a col reset to keep all the mobile spacing from interfering with the laptop <
	.l-row.header > div,
	.l-row.header > h1,
	.l-row.header > h2,
	.l-row.header > h3,
	.l-row.header > h4,
	.l-row.header > h5,
	.l-row.header > h6,
	.l-row.header > p,
	.l-row.header > ul,
	.l-row.header > ol,
	.l-col,
	.l-narrow-col,
	.l-one-third-col,
	.l-middle-col,
	.l-split-narrow-col,
	.l-split-wide-col,
	.l-two-third-col,
	.l-main-col,
	.l-full-width-col {
		padding-left: 0;
		padding-right: 0;
	}
	.container {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.l-col { // flex width - space so 16.666 - ??
		width: 16.666%;
	}



	.l-narrow-col {
		width: 25%;
	}
	.l-one-third-col {
		width: 33.333333%;
	}
	.l-split-narrow-col {
		width: 41.666%;
	}
	.l-middle-col,
	.l-two-col {
		width: 50%;
	}
	.l-split-wide-col {
		width: 58.333%;
	}
	.l-two-third-col {
		width: 66.666667%;
	}
	.l-main-col {
		width: 75%;
	}
	.l-full-width-col {
		padding: 0;
		width: 100%;
	}
	.l-row {
		padding-left: 22px;
		padding-right: 0;
		&>div {
			/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
			/* ***** ***** ***** *****             ***** ***** ***** ***** */
			/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
			&.l-full-width-col {
				padding: 0 22px 0 0;
				/*
				padding: 0;
				border-right: 44px solid rgba(255,69,0,.65);
				*/

				/*
				&:last-of-type {
					padding-right: 0;
					border-right: 0;
				}
				*/
			}
		}
		&.header {
			padding: 0;
			width: 100%;
			border-right: 0;
			&>div {
			/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
			/* ***** ***** ***** *****             ***** ***** ***** ***** */
			/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
				&.l-full-width-col {
					padding: 0;
					/*
					padding: 0;
					width: 100%;
					border-right: 0;
					*/
				}
			}
		}

		/*     _______      _____     ___ ___  _   _   _ __  __ _  _ ___     */
		/*    |_   _\ \    / / _ \   / __/ _ \| | | | | |  \/  | \| / __|    */
		/*      | |  \ \/\/ / (_) | | (_| (_) | |_| |_| | |\/| | .` \__ \    */
		/*      |_|   \_/\_/ \___/   \___\___/|____\___/|_|  |_|_|\_|___/    */

		//&.l-two-col-even {
		//	see responsive.less
		//}

		/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
		/* ***** ***** ***** ** Two Column (Left) ** ***** ***** ***** */
		/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
		/*
		&.l-two-col-left-narrow,
		&.l-two-col-left,
		&.l-two-col-left-wide {
			&>div {
				&:first-child {
					padding: 0 11px 0 0;
				}
				&:last-child {
					padding: 0 0 0 33px;
				}
			}
		}
		*/
		/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
		/* ***** ***** ***** ** Two Column (Right) * ***** ***** ***** */
		/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
		/*
		&.l-two-col-right-narrow,
		&.l-two-col-right,
		&.l-two-col-right-wide {
			&>div {
				&:first-child {
					padding: 0 33px 0 0;
				}
				&:last-child {
					padding: 0 0 0 11px;
				}
			}
		}
		*/

		/*      _____ _  _ ___ ___ ___    ___ ___  _   _   _ __  __ _  _ ___     */ 
		/*     |_   _| || | _ \ __| __|  / __/ _ \| | | | | |  \/  | \| / __|    */
		/*       | | | __ |   / _|| _|  | (_| (_) | |_| |_| | |\/| | .` \__ \    */
		/*       |_| |_||_|_|_\___|___|  \___\___/|____\___/|_|  |_|_|\_|___/    */


		/*       ___ ___  _   _ ___    ___ ___  _   _   _ __  __ _  _ ___      */ 
		/*      | __/ _ \| | | | _ \  / __/ _ \| | | | | |  \/  | \| / __|     */ 
		/*      | _| (_) | |_| |   / | (_| (_) | |_| |_| | |\/| | .` \__ \     */ 
		/*      |_| \___/ \___/|_|_\  \___\___/|____\___/|_|  |_|_|\_|___/     */ 
	}
}
