
.slider-multi {
    &.bxslider-visible {
        visibility: visible;
        opacity:    1;
        transition: opacity 2s;
        -webkit-transition: opacity 2s; /* Safari */
    }

}

.slider-home {
    &.bxslider-visible {
        visibility: visible;
        opacity:    1;
        transition: opacity 2s;
        -webkit-transition: opacity 2s; /* Safari */
    }
}

//@media @tablet-landscape { // tablet, landscape iPad, lo-res laptops ands desktops
    .slider-multi-header {
        .right {
            .slider-multi-pager {
                &.bxslider-visible {
                    visibility: visible;
                    opacity:    1;
                    transition: opacity 2s;
                    -webkit-transition: opacity 2s; /* Safari */
                }
            }
        }
    }
//}


.main_col {
    .carousel.blue_top {
        .thumbs {
            width: 100%;
            height: 30px;
            text-align: center;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}