@media @mobile {
	._header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: @eia-darker-blue;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        z-index: 999;
        /*
        &.show {
            transition: all 0.3s ease-in-out;
            height: 70px;
        }
        */
        .logo-white-background {
            padding: 0;
            margin: 10px 40px 10px 20px;
            float: left;
        }

        h1 {
            border: none;
            display: none;
            float: left;
        }
        /*
        .nav-primary {
            display: none;
        }
        .menu-toggle {
            height: 20px;
            .right;
            display: block;
            margin: 12px 65px 10px 0;
            clear: right;
        }
        */
        a {
            text-decoration: none;
        }
        ul {
            font-family: arial;
            
            &._nav {
                //background: darkorange;
                list-style: none;
                margin: 30px 0 0 0;
                padding: 0;
                float: left;         
                li {
                    color: #333;
                    display: block;
                    float: left;
                    padding: 1rem;
                    position: relative;
                    text-decoration: none;
                    transition-duration: 0.5s;
                    a {
                        color: #333;
                    }
                    &:hover {
                        background: #eee;
                        cursor: pointer;
                        &> ul {
                            visibility: visible;
                            opacity: 1;
                            display: block;
                        }
                    }
                    ul {
                        &:hover {
                            visibility: visible;
                            opacity: 1;
                            display: block;
                        }
                        background: #fff;
                        visibility: hidden;
                        opacity: 0;
                        min-width: 5rem;
                        position: absolute;
                        transition: all 0.5s ease;
                        margin-top: 1rem;
                        left: 0;
                        display: none;
                        li {
                            clear: both;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media @tablet {
    ._header {
        .logo {
            margin: 0 12px;
        }
    }
}
@media @laptop {
    ._header {
        height: 80px;
        /*
        .nav-primary {
            display: table;
            list-style: none;
            .left;
            padding: 0;
            margin: 55px 0 7px 0;
            transition: all 0.3s ease-in-out;
            line-height: 1.5em;
            .nav-primary-item {

                display: block;
                .left;
                margin: 0;
                padding: 0;
                border-right: 1px solid #809ca9;
                border-left: 1px solid #001c29;
                &:hover {
                    background-color: @eia-blue;
                    i {
                        color: #fff;
                    }                        
                }
                &:first-child {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
                a {
                    .header-font;
                    font-size: 1rem;
                    color: #fff;
                    text-decoration: none;
                    padding: 2px 15px 2px 12px;
                    display: block;
                }
            }
        }
        */
        .logo-white-background {
            padding: 0;
            //margin: 0 12px;
        }
    }
    /*
    &.shrink {
        height: 50px;
        .navigation {
            height: 50px;
            .logo {
                padding: 0;
                margin: 5px 250px 5px 12px;
            }
            .nav-primary {
                margin: 12px 0;
            }
            .nav-secondary {
                display: none;
            }
            .search-panel {
                opacity: 1;
                top: 16px;
                transition: all 0.3s ease-in-out;
            }
        }
    }
    */
}




