
html {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}
@media @mobile {
	*,
	*:before,
	*:after{
		box-sizing: border-box;
	}
	body {
		font-family: Arial;
		padding: 0;
		margin: 0;
		background-color: #fff !important;
	}
	._header {
		color: #888;
		width: 100%;
		height: 70px;
	}
	._header h1 {
		font-size: 30px;
		display: none;
	}
	._container{
		max-width: 100%;
		margin: 0 auto;
	}
	._content {
//		float: left;
		padding: 0;
		margin: 60px 0 0 0;
		width: 100%;
		color: darkgrey;
		background-color: #fff;
		._content-inner {
			ul {
				&.dilly-dilly {
					list-style: none;
					width: 100%;
					margin: 0;
					padding: 0;
					li {
						&.dilly-dilly {
							margin: 0 0 30px 0;
//							padding: 0 2em;
							width: 100%;
							display: table; // required
//							border-top: 1px dotted #666;
//							border-right: 1px dotted #666;
//							border-bottom: 1px dotted #666;
//							border-left: 1px dotted #666;
						}
					}
				}
			}
		}
	}
	.left_sidebar {
		display: none;
	}
	._right-sidebar {
		display: none;
	}
	footer {
		p{
			margin: 0;
		}
	}
	.clearfix {
		&:after {
			display: block;
			content: "";
			clear: both;
		}
	}
}
@media @mobile-landscape { // smartphones, Android phones, landscape iPhone

}
@media @tablet {

}
@media @tablet-landscape {

}
@media @laptop {
	._content {
		//		float: left;
		._content-inner {
			padding: 0 32px;
			ul {
				&.dilly-dilly {
					min-width: 1056px;
					li {
						&.dilly-dilly {
							margin: 0 0 30px 0;
							padding: 0 2em;
							border: 1px dotted #666;
						}
					}
				}
			}
		}
	}
}


@media @desktop {
	._content{
		width: 80%;
	}
	._right-sidebar {
		width: 20%;
		padding: 0 2em;
		margin-top: 120px;
		float: right;
		display: block;
		&.fixed {
			._right-sidebar__wrapper {
				position: fixed;
				top: 80px;
			}
		}
		._right-sidebar__wrapper {
			padding: 10px 5px;
		}
	}
	._right-sidebar__list {
		padding-left: 0;
		list-style: none;
		margin-bottom: 0;
		font-family: 'Open Sans', sans-serif;
	}
	._right-sidebar__item {
		//font-weight: 600;
		//font-size: 30px;
		line-height: 1.2em;
		margin: 0 auto;
		overflow: hidden;
		._right-sidebar__link {
			color: #333;
		}
		&._right-sidebar__item--active {
			&.active {
				&.in-view {
					._right-sidebar__link {
						font-weight: bold;
						color: #000;
					}
				}
			}

		}
	}
	._right-sidebar__section {
		//padding: 2em 0;
		padding: 0;
		margin-bottom: 1em;
	}
}