@media @mobile {
	.style-guide {
		._module-wrapper {
			border: 1px solid #333;
			background-color: greenyellow;
			._module-container {
				._module-bg {
					background-color: #fff;
					display: table;
				}
			}
		}
		.l-row {
			.l-col,
			.l-full-width-col,
			.l-narrow-col,
			.l-two-col,
			.l-main-col,
			.l-split-narrow-col,
			.l-split-wide-col,
			.l-one-third-col,
			.l-two-third-col {
				.primary-alt,
				.primary,
				.secondary-alt,
				.secondary {
					margin-bottom: 0;
					border-bottom: 3em solid #a32020;
					height: 125px;
					overflow: hidden;
				}
			}
		}
	}
}
/*
@media @mobile-landscape { // smartphones, Android phones, landscape iPhone
	.style-guide {

	}
}
*/
@media @tablet {	// mobile panorama
	.style-guide {
		.l-row {
			.l-full-width-col,
			.l-narrow-col,
			.l-two-col,
			.l-main-col,
			.l-split-narrow-col,
			.l-split-wide-col,
			.l-one-third-col,
			.l-two-third-col {
				.primary-alt,
				.primary,
				.secondary-alt,
				.secondary {
					margin-bottom: 0;
					border-bottom: 2em solid #a32020;
				}
			}
		}
	}
}
/*
@media @tablet-landscape {
	.style-guide {
		.l-row {
			//border-right: 16px solid #eb8c00;
			//border-left: 16px solid #eb8c00;
		}
	}
}
*/
@media @laptop {
	.style-guide {
		._module-wrapper {
			display: table;
			background: url(../../src/images/bg.png) center;
			border-top: 1px solid #333;
			border-right: none;
			border-bottom: 1px solid #333;
			border-left: none;
			width: 992px;
			._module-container {
				display: table;
				width: 960px;
				margin-left: 16px; // 15 + 1px border
				margin-right: 16px; // 15 + 1px border
			}
		}
	}
}
