@media @laptop {
	// move to seperate less file later
	.title-banner {
		&.bg-page-title {
			background-image: url(https://www.eia.gov/global/images/page_headers/default-pub-header.jpg) !important;
		}
		&.bg-all-sources {
			background-image: url(https://www.eia.gov/global/images/page_headers/all-sources.jpg) !important;
		}
		&.bg-analysis {
			background-image: url(https://www.eia.gov/global/images/page_headers/analysis-projections.jpg) !important;
		}
		&.bg-coal {
			background-image: url(https://www.eia.gov/global/images/page_headers/coal.jpg) !important;
		}
		&.bg-commercial {
			background-image: url(https://www.eia.gov/global/images/page_headers/commercial.jpg) !important;
		}
		&.bg-conference {
			background-image: url(https://www.eia.gov/global/images/page_headers/conference.jpg) !important;
		}
		&.bg-countries {
			background-image: url(https://www.eia.gov/global/images/page_headers/countries.jpg) !important;
		}
		&.bg-electricity {
			background-image: url(https://www.eia.gov/global/images/page_headers/electricity.jpg) !important;
		}
		&.bg-environment {
			background-image: url(https://www.eia.gov/global/images/page_headers/environment.jpg) !important;
		}
		&.bg-enduse {
			background-image: url(https://www.eia.gov/global/images/page_headers/enduse.jpg) !important;
		}
		&.bg-finance {
			background-image: url(https://www.eia.gov/global/images/page_headers/finance.jpg) !important;
		}
		&.bg-industrial {
			background-image: url(https://www.eia.gov/global/images/page_headers/industrial.jpg) !important;
		}
		&.bg-maps {
			background-image: url(https://www.eia.gov/global/images/page_headers/maps.jpg) !important;
		}
		&.bg-natural-gas {
			background-image: url(https://www.eia.gov/global/images/page_headers/natural-gas.jpg) !important;
		}
		&.bg-nuclear {
			background-image: url(https://www.eia.gov/global/images/page_headers/nuclear.jpg) !important;
		}
		&.bg-petroleum {
			background-image: url(https://www.eia.gov/global/images/page_headers/petroleum.jpg) !important;
		}
		&.bg-press {
			background-image: url(https://www.eia.gov/global/images/page_headers/press.jpg) !important;
		}
		&.bg-regions {
			background-image: url(https://www.eia.gov/global/images/page_headers/regions.jpg) !important;
		}
		&.bg-renewable {
			background-image: url(https://www.eia.gov/global/images/page_headers/renewable.jpg) !important;
		}
		&.bg-residential {
			background-image: url(https://www.eia.gov/global/images/page_headers/residential.jpg) !important;
		}
		&.bg-recs {
			background-image: url(https://www.eia.gov/global/images/page_headers/recs.jpg) !important;
		}
		&.bg-states {
			background-image: url(https://www.eia.gov/global/images/page_headers/states.jpg) !important;
		}
		&.bg-transportation {
			background-image: url(https://www.eia.gov/global/images/page_headers/transportation.jpg) !important;
		}
		&.bg-tie {
			background-image: url(https://www.eia.gov/global/images/page_headers/today-in-energy.jpg) !important;
		}
		&.bg-models {
			background-image: url(https://www.eia.gov/global/images/page_headers/models.jpg) !important;
		}
	}
}