
.sidebar[data-background-color="white"] {
	&:after {
		background-color: white;
	}
	&:before {
		background-color: white;
	}
	.logo {
		border-bottom: 1px solid rgba(102, 97, 91, 0.3);
		p {
			color: #66615B;
		}
		.simple-text {
			color: #66615B;
		}
	}
	.nav {
		li {
			&:not(.active) {
				>a {
					color: #66615B;
				}
			}
		}
		.divider {
			background-color: rgba(102, 97, 91, 0.2);
		}
	}
}
.off-canvas-sidebar[data-background-color="white"] {
	&:after {
		background-color: white;
	}
	&:before {
		background-color: white;
	}
	.logo {
		border-bottom: 1px solid rgba(102, 97, 91, 0.3);
		p {
			color: #66615B;
		}
		.simple-text {
			color: #66615B;
		}
	}
	.nav {
		li {
			&:not(.active) {
				>a {
					color: #66615B;
				}
			}
		}
		.divider {
			background-color: rgba(102, 97, 91, 0.2);
		}
	}
}
.sidebar[data-background-color="black"] {
	&:after {
		background-color: #212120;
	}
	&:before {
		background-color: #212120;
	}
	.logo {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		p {
			color: white;
		}
		.simple-text {
			color: white;
		}
	}
	.nav {
		li {
			&:not(.active) {
				>a {
					color: white;
				}
			}
		}
		.divider {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}
.off-canvas-sidebar[data-background-color="black"] {
	&:after {
		background-color: #212120;
	}
	&:before {
		background-color: #212120;
	}
	.logo {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		p {
			color: white;
		}
		.simple-text {
			color: white;
		}
	}
	.nav {
		li {
			&:not(.active) {
				>a {
					color: white;
				}
			}
		}
		.divider {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}
.sidebar[data-active-color="primary"] {
	.nav {
		li.active {
			>a {
				color: #7A9E9F;
				opacity: 1;
			}
		}
	}
}
.off-canvas-sidebar[data-active-color="primary"] {
	.nav {
		li.active {
			>a {
				color: #7A9E9F;
				opacity: 1;
			}
		}
	}
}
.sidebar[data-active-color="info"] {
	.nav {
		li.active {
			>a {
				color: #68B3C8;
				opacity: 1;
			}
		}
	}
}
.off-canvas-sidebar[data-active-color="info"] {
	.nav {
		li.active {
			>a {
				color: #68B3C8;
				opacity: 1;
			}
		}
	}
}
.sidebar[data-active-color="success"] {
	.nav {
		li.active {
			>a {
				color: #7AC29A;
				opacity: 1;
			}
		}
	}
}
.off-canvas-sidebar[data-active-color="success"] {
	.nav {
		li.active {
			>a {
				color: #7AC29A;
				opacity: 1;
			}
		}
	}
}
.sidebar[data-active-color="warning"] {
	.nav {
		li.active {
			>a {
				color: #F3BB45;
				opacity: 1;
			}
		}
	}
}
.off-canvas-sidebar[data-active-color="warning"] {
	.nav {
		li.active {
			>a {
				color: #F3BB45;
				opacity: 1;
			}
		}
	}
}
.sidebar[data-active-color="danger"] {
	.nav {
		li.active {
			>a {
				color: #EB5E28;
				opacity: 1;
			}
		}
	}
}
.off-canvas-sidebar[data-active-color="danger"] {
	.nav {
		li.active {
			>a {
				color: #EB5E28;
				opacity: 1;
			}
		}
	}
}