div {
	&.basic-table {
		width: 100%;
		overflow: hidden !important;
		table {
			&.basic-table {
				&.style-guide {
					width: 100% !important;
					overflow: hidden !important;
				}
			}
		}
	}
}
