@media @mobile {
    .visualizations {
        ul {
            text-align: center;
            margin: 1em 0 3em;
            li {
                &.circle_ng_navigator {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/nat_gas_nav.png') 59% 60%;}
                &.circle_ng_map {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/nat_gas_map.png') 59% 60%;}
                &.circle_ng_query {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/nat_gas_query.png') 59% 60%;}
                &.circle_pet_map {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/petroleum_map.png') 59% 60%;}
                &.circle_fossil_fuel {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/fossil_fuel_map.png') 59% 60%;}
                &.circle_disruptions {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/disruptions.png') 59% 60%;}
                &.circle_steo {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/steo.png') 59% 60%;}
                &.circle_radio {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/radio.png') 59% 60%;}
                &.circle_totalenergy_mer {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/totalenergy_mer.png') 59% 60%;}
                &.circle_elec_data {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/elec_data_browse.png') 59% 60%;}
                &.circle_coal_data {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/coal_data_browse.png') 59% 60%;}
                &.circle_renew_data {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/renew_plant_map.png') 59% 60%;}
                &.circle_crude_import_data {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/crude_import_tool.png') 59% 60%;}
                &.circle_aeo {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/aeo.png') 59% 60%;}
                &.circle_video {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/video.png') 59% 60%;}
                &.circle_nuclear_outages {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/nuclear_outages2.png') 59% 60%;}
                &.circle_afv {background:url('https://www.eia.gov/global/includes/issuestrends/images/interactive/afv.png') 59% 60%;}
                &.circle {
                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                    border: 3px solid @silver;
                    margin: auto;
                    margin-bottom: 10px;
                }
                &.links {
                    font-size: 13px; // 13px
                    .bold;
                    color: @eia-blue;
                }
            }
        }   
    }
}
@media @laptop {
    .visualizations {
        li {
            font-size: 13px; // 13px
            line-height: 1.313em; // 21px
        }  
    }

}