/*
REMs        Pixels
_________________________________
font-size: 0.625rem; // 10 pixels	
font-size: 0.688rem; // 11 pixels
font-size: 0.750rem; // 12 pixels
font-size: 0.813rem; // 13 pixels
font-size: 0.875rem; // 14 pixels
font-size: 0.938rem; // 15 pixels
font-size: 1.000rem; // 16 pixels
font-size: 0.063rem; // 17 pixels
font-size: 1.125rem; // 18 pixels
font-size: 1.188rem; // 19 pixels
font-size: 1.250rem; // 20 pixels
font-size: 1.313rem; // 21 pixels
font-size: 1.375rem; // 22 pixels
font-size: 1.438rem; // 23 pixels
font-size: 1.500rem; // 24 pixels
*/


// 2. Remove the margin in Firefox and Safari.
button,
input,
optgroup,
select,
textarea {
	margin: 0; /* 2 */
}

// Show the overflow in IE.
// 1. Show the overflow in Edge.
button,
input { /* 1 */
	overflow: visible;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.
// 1. Remove the inheritance of text transform in Firefox.
button,
select { /* 1 */
	text-transform: none;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* 2 */
}

// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
	[type="button"]::-moz-focus-inner,
	[type="reset"]::-moz-focus-inner,
	[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

// Remove the default vertical scrollbar in IE.
textarea {
	overflow: auto;
}

// 1. Add the correct box sizing in IE 10-.
// 2. Remove the padding in IE 10-.
[type="checkbox"],
[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}

// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.
[type="search"] {
-webkit-appearance: textfield; /* 1 */
outline-offset: -2px; /* 2 */
}

// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
-webkit-appearance: button; /* 1 */
font: inherit; /* 2 */
}

input[type=button] {
	.font;
	font-size: 0.875rem;
	color: @eia-blue;
	//float: left;
	padding: 3px 8px;
	//margin-right: 4px;
	background: #fff;
	border: 1px solid #333;
}

select {
	padding: 0 0 0 5px;
	margin: 0;
	//border: none;
	font-size: 0.750rem; // 12 pixels
	//-moz-appearance: none;
	//-webkit-appearance: none;
	//-webkit-border-radius: 0px;
	//appearance: none;
	outline-width: 0;
	//display: block;
}

.form-container {
	margin: 1em 0 0 0; 
}


fieldset {
	margin: 0 1em .5em 0;
	//padding: 0 4px 3px 4px;
	padding: 0 14px 3px 4px;
	display: table;
	float: left;
	border: 1px solid @eia-blue;
	// 1. Correct the text wrapping in Edge and IE.
	// 2. Correct the color inheritance from `fieldset` elements in IE.
	// 3. Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
	legend {
		.font;
		box-sizing: border-box; /* 1 */
		color: inherit; /* 2 */
		display: table; /* 1 */
		max-width: 100%; /* 1 */
		padding: 0; /* 3 */
		white-space: normal; /* 1 */
		color: @eia-blue;
		font-size: 0.750rem; // 12 pixels
		line-height: 1em;
		margin: 0 0 0 4px;
		padding: 0 4px;
		text-transform: uppercase;
		font-weight: bold;
	}
	select {
		border: none;
	}
	&.green {
		border: 1px solid @eia-green;
		legend {
			color: @eia-green;
		}
	}
}

.button-container {
	//width: 100%;
	padding: 0 0 1.5em 0;
	clear: both;
	float: left;
	input[type=button] {
		.font;
		font-size: 0.750rem; // 12 pixels
		color: @eia-dark-grey;
		float: left;
		padding: 3px 8px;
		margin-right: 4px;
	}
}

// shared styles for both the js and no-js versions
.dropdown-container {
	min-width: 150px;
    &:focus {
        outline: none;
    }
    h4 {
        .font;
        .bold;
        font-size: 0.8125rem; // 13px;
        color: @eia-dark-grey;
        display: block;
        padding-bottom: 4px;
        margin-bottom: 4px;
        border-bottom: 1px solid #dadada;
    }
    .dropdown-button {
        color: @eia-blue;
        display: inline-block;
		cursor: pointer;
		width: 100%;
        &>.text {
            border-bottom: 2px solid #fff;
            margin-right: 6px;
            font-size: 0.8rem; // 12.8013 px
        }
        &:hover {
            .text {
                border-bottom: 2px solid @eia-dark-blue;
			}
			.ico {
				&.d-arrow {
					&:before {
						.icon-d-arrow(@fill-color: @eia-dark-blue);
					}
				}					
			}
        }
        .ico {
            font-size: 0;
            line-height: 0;
            &.d-arrow {
                &:before {
                    .controls-icon(12px, 12px);
                    .icon-d-arrow(@fill-color: @eia-blue);
                    display: inline-block;
                }
                //margin: 0;
                //position: relative;
				//top: 3px;
				float: right;
                &>span {
                    font-size: 0;
                    line-height: 0;
                    margin: 0;
                }
            }					
        }
        &.open {
            &>.text {
                border-bottom: 2px solid @eia-blue;
            }
        }
    }
    .dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		//background-color: white;
		z-index: 2;
		border: 1px solid @eia-blue;
		border-top: 2px solid @eia-blue;
		box-shadow: 6px 6px 10px -2px rgba(0,0,0,.4);
        ul {
			margin: 5px 10px;
			padding: 0;
			list-style: none;
			li {
				margin-bottom: 5px;
				display: table;
				//width: 100%;
				clear: both;
				cursor: pointer;
				color: @eia-dark-grey;
				a {
					color:@eia-blue;
					text-decoration: none;
					line-height: 1.4;
					//color: @eia-dark-grey;
					font-size: .875rem;
					&:link,
					&:active,
					&:visited {
						color:@eia-blue;
						text-decoration: none;
					}
					&:hover{
						text-decoration: underline;
						color:@eia-blue;
					}
				}
				&:hover {
					text-decoration: underline;
					color:@eia-blue;
				}
				&.head {
					.font;
					.bold;
					line-height: 1.4;
					color: @eia-dark-grey;
					font-size: .875rem;
					text-transform: uppercase;
					h2 {
						.font;
						.bold;
						line-height: 1.4;
						color: @eia-dark-grey;
						font-size: .875rem;
						text-transform: uppercase;	
					}
				}
				&.list-seperator {
					border-top: 1px solid silver;
				}
				&.ico {
					&.pdf,
					&.xls,
					&.csv,
					&.html,
					&.json,
					&.ppt,
					&.doc {
						position: relative;
						list-style: none;
						margin-left: 0;
						a {
							padding-left: 20px;
							//display: table;
						}
						&:before {
							.controls-icon(15px, 16px);
							position: absolute;
						}
					}
				}
			}
        }
    }
}

// no-js version

.dropdown-container {
   &.no-js {
        display: table;
		//padding: 7px 8px 7px 8px;
		padding: 2px 8px 2px 8px;
        margin: 0;
        font-size: 0.750rem; 
        color: @eia-blue;
		text-decoration: none;

        .ico {
            //display: inline-block;
            &.sort-up {
                &:before {
                    .controls-icon(12px, 10px);
                    .icon-d-arrow(@fill-color: @eia-blue);
                    float: right;
                    margin: 2px 4px 0 0;
                }
            }
        }
        &:hover {
            color: @eia-dark-blue;
            text-decoration: none;
            .ico {
                &.sort-up {
                    &:before {
                        .icon-d-arrow(@fill-color:@eia-darker-blue);
                    }
                }
            }
            .dropdown-menu {
                display: block;
            }
        }
    }
}