//container mixin defaults for adding icon via ::before or ::after
.controls-icon(@icon-width: 30px, @icon-height: 30px) {
    content: ' ';
    height: @icon-height;
    width: @icon-width;
    display: block;
    //   text-indent: -9999px;
}

// -mixin for encoding the svg-------------*/
.inline-svg-code( @code ) {
    @-svg-code: escape(~'@{code}');
    @-inline-svg-code: ~'data:image/svg+xml,@{-svg-code}';
    @-inline-svg-url: ~"url('@{-inline-svg-code}')";
    @-bg-defaults: ~"no-repeat center center";
}
/*--- mix-in to generate the icon variable name from the file type variable ---*/
.file-ext(@code) {
    @-icon-file-type: 'icon-@{code}';
    @icon-file-type: @@-icon-file-type;
    @-file-type-fill: 'fill-@{code}';
    @file-type-fill: @@-file-type-fill;
}
/*--- mix-in to generate the icon variable name from the file type variable ---*/
@icon-image-tint: 60%;