
ul {
    //padding: 0;
    //margin: 0;
    //list-style: none;
    /* not needed - this is handled in the icon section
    &.icon-list {
        //padding: 0;
        li {
            display: table;
            margin: .75em 0 0 0;
        }
    }
    */
    &.bullet {
        list-style-type: disc;
        margin-left: 22px;
        margin-top: 5px;
        li {
            margin-bottom: 5px;
            list-style-type: disc;
            &.list-item {
                list-style: none;
                ul {
                    list-style: none;
                    li {
                        list-style: none;
                        margin-left: 0; // approved
                    }
                }
            }
        }
    }
    ul {
        &.bullet {
            list-style-type: disc;
            margin-left: 0;
            margin-top: 5px;
            li {
                margin-bottom: 5px;
                list-style-type: disc;
            }
        }
    }
    &.list-seperator {
        border-top: 1px solid silver;
        margin-top: 1.2em;
        padding-top: .5em;
    }
    &.numbered {
        &>li {
            position: relative;
            width: 100%;
            padding-left: 50px;
            span {
                &.number {
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                }
            }
            &>ul {
                list-style: none;
                padding: 0;
                margin: 0; 
                &.sub-list,
                &.list-spacer {
                    list-style: none;
                    margin: 0;
                }
                &>li {
                    list-style: none;
                    margin: 0;
                }
            }
        }
    }
    &.highlight {
        //.font;
        border-top: 1px solid #d8d8d8;
        background-color: #f5fbfd;
        border-bottom: 1px solid #d8d8d8;
        margin: 0;
        padding: 0;
        width: 100%;
        display: table;
        &>li {
            padding: 0 27px;
            &:first-child {
                padding-top: 12px;
            }
            &:last-child {
                padding-bottom: 12px;
            }	
        }
    }
    li {
        margin: 0 0 0 0;
        ul {
            //padding: 0;
            //margin: 0;
            li {
                margin: 3px 0 0 17px;
                list-style-type: disc;
            }
        }
        &.hide-bullet {
            list-style: none;
        }
        a {
            /*
            color:@eia-blue;
            text-decoration: none;
            &:link,
            &:active,
            &:visited {
                color:@eia-blue;
                text-decoration: none;
            }
            &:hover{
                text-decoration: underline;
                color:@eia-blue;
            }
            */
            span {
                &.date {
                    margin-right:  12px;
                    color: @eia-dark-grey;
                    display: inline-block;
                    text-decoration: none;						
                }
            }
            span {
                &.link-label {
                    margin-right: 12px;
                }
            }
            &.link-label {
                em {
                    color: @eia-dark-grey;
                }
                span {
                    color: @eia-dark-grey;
                }
                &:hover {
                    em {
                        text-decoration-line: underline;
                        text-decoration-color: @eia-white;
                    }
                    span {
                        text-decoration-line: underline;
                        text-decoration-color: @eia-white; 
                    }
                }
            }
            &:hover {
                .ico {
                    text-decoration: underline;
                }
                span {
                    &.date {
                        text-decoration: none;									
                    }
                }
            }
        }
        &.list-item {
            list-style: none;
            ul {
                padding: 0;
                padding-left: 22px;
                margin: 0;
                display: block;
                li {
                    padding: 0;
                    margin: 3px 0 0 0;
                //margin: 3px 0 0 17px;
                    list-style: none;
                    &:first-child {
                        list-style-type: disc;
                    }
                }
                &:last-child {
                    margin-bottom: 12px;
                }
            }
        }
        // creates vertical space to indicate a new list
        &.sub-list {
            list-style-type: none;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0 0 12px 0;
                &.bullet {
                    list-style-type: disc;
                    //margin: 5px 0 0 22px;
                    margin-left: 22px;
                    margin-top: 5px;
                    &>li {
                        margin-bottom: 5px;
                        list-style-type: disc;
                        &.sub-list {
                            list-style-type: none;
                        }
                    }
                }
            }
            &.list-item {
                //list-style: none;
                &>ul {
                    padding: 0 0 0 22px;
                }
            }
        }
        &.list-spacer {
            margin-top: 1em;
            margin-bottom: 1em;
            ul {
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 0;
                display: block;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
//    }
//}
//&>ul{
//    &>li {
//        .font;
//        line-height: 1.4;
//        min-height: 0.875rem;
//        vertical-align: top;
//        width: 100%;
        &.head,
        &.sub-head {
            .bold;
            a {
                color:@eia-blue;
                text-decoration: none;
                //.bold;
                &:hover{
                    text-decoration: underline;
                    color:@eia-blue;
                }
                &.see-more {
                    &:after { 
                        content:"\00a0\203A";
                    } 
                }
            }
            h3 {
                a {
                    font-weight: 300;
                    &:hover{
                        font-weight: 300;
                    }
                }
            }
        }
        &.foot {
            margin-top: 10px;
            a {
                .bold;
                color: @eia-blue;
                &:after { 
                    content:"\00a0\203A";
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}