@media @mobile {
    table {
        border-collapse: collapse; // eliminate all cellspacing
        border-spacing: 0;
        color: @eia-dark-grey;
        &.full-width {
            width: 100%;
        }
        a {
            color: @eia-blue;
            text-decoration: none;
            display: inline-block;
            &:hover{
                text-decoration: underline;
                color:@eia-blue;
            }
		}
        &.highlight-col-1 {
            td:nth-child(1) {
                background-color: #f7f7f7;
            }
            tr {
                &.bold {
                    td:nth-child(1) {
                        background-color: white;
                    }
                }
            }
            tfoot {
                td {
                    &.footnotes {
                        background-color: white;
                    }
                }
            }
        }
        &.highlight-col-2 {
            td:nth-child(2) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-3 {
            td:nth-child(3) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-4 {
            td:nth-child(4) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-5 {
            td:nth-child(5) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-6 {
            td:nth-child(6) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-7 {
            td:nth-child(7) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-8 {
            td:nth-child(8) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-9 {
            td:nth-child(9) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-10 {
            td:nth-child(10) {
                background-color: #f7f7f7;
            }
        }
        
        &.align-left-col-1 {
            th:nth-child(1),
            td:nth-child(1) {
                text-align: left;
            }
        }
        &.align-left-col-2 {
            th:nth-child(2),
            td:nth-child(2) {
                text-align: left;
            }
        }
        &.align-left-col-3 {
            th:nth-child(3),
            td:nth-child(3) {
                text-align: left;
            }
        }
        &.align-left-col-4 {
            th:nth-child(4),
            td:nth-child(4) {
                text-align: left;
            }
        }
        &.align-left-col-5 {
            th:nth-child(5),
            td:nth-child(5) {
                text-align: left;
            }
        }
        &.align-left-col-6 {
            th:nth-child(6),
            td:nth-child(6) {
                text-align: left;
            }
        }
        &.align-left-col-7 {
            th:nth-child(7),
            td:nth-child(7) {
                text-align: left;
            }
        }
        &.align-left-col-8 {
            th:nth-child(8),
            td:nth-child(8) {
                text-align: left;
            }
        }
        &.align-left-col-9 {
            th:nth-child(9),
            td:nth-child(9) {
                text-align: left;
            }
        }
        &.align-left-col-10 {
            th:nth-child(10),
            td:nth-child(10) {
                text-align: left;
            }
        }
        &.align-right-col-1 {
            th:nth-child(1),
            td:nth-child(1) {
                text-align: right;
            }
        }
		/*
		&.align-right-col-2 {
            th:nth-child(2),
            td:nth-child(2) {
                text-align: right;
            }
        }
        &.align-right-col-3 {
            th:nth-child(3),
            td:nth-child(3) {
                text-align: right;
            }
        }
        &.align-right-col-4 {
            th:nth-child(4),
            td:nth-child(4) {
                text-align: right;
            }
        }
        &.align-right-col-5 {
            th:nth-child(5),
            td:nth-child(5) {
                text-align: right;
            }
        }
        &.align-right-col-6 {
            th:nth-child(6),
            td:nth-child(6) {
                text-align: right;
            }
        }
        &.align-right-col-7 {
            th:nth-child(7),
            td:nth-child(7) {
                text-align: right;
            }
        }
        &.align-right-col-8 {
            th:nth-child(8),
            td:nth-child(8) {
                text-align: right;
            }
        }
        &.align-right-col-9 {
            th:nth-child(9),
            td:nth-child(9) {
                text-align: right;
            }
        }
        &.align-right-col-10 {
            th:nth-child(10),
            td:nth-child(10) {
                text-align: right;
            }
		}
		*/
        &.align-center-col-1 {
            th:nth-child(1),
            td:nth-child(1) {
                text-align: center;
            }
        }
        &.align-center-col-2 {
            th:nth-child(2),
            td:nth-child(2) {
                text-align: center;
            }
        }
        &.align-center-col-3 {
            th:nth-child(3),
            td:nth-child(3) {
                text-align: center;
            }
        }
        &.align-center-col-4 {
            th:nth-child(4),
            td:nth-child(4) {
                text-align: center;
            }
        }
        &.align-center-col-5 {
            th:nth-child(5),
            td:nth-child(5) {
                text-align: center;
            }
        }
        &.align-center-col-6 {
            th:nth-child(6),
            td:nth-child(6) {
                text-align: center;
            }
        }
        &.align-center-col-7 {
            th:nth-child(7),
            td:nth-child(7) {
                text-align: center;
            }
        }
        &.align-center-col-8 {
            th:nth-child(8),
            td:nth-child(8) {
                text-align: center;
            }
        }
        &.align-center-col-9 {
            th:nth-child(9),
            td:nth-child(9) {
                text-align: center;
            }
        }
        &.align-center-col-10 {
            th:nth-child(10),
            td:nth-child(10) {
                text-align: center;
            }
        }

        &.hide-1 {
            th:nth-child(1),
            td:nth-child(1) {
                display: none
            }
        }
        &.hide-col-2 {
            th:nth-child(2),
            td:nth-child(2) {
                display: none
            }
        }
        &.hide-col-3 {
            th:nth-child(3),
            td:nth-child(3) {
                display: none
            }
        }
        &.hide-col-4 {
            th:nth-child(4),
            td:nth-child(4) {
                display: none
            }
        }
        &.hide-col-5 {
            th:nth-child(5),
            td:nth-child(5) {
                display: none
            }
        }
        &.hide-col-6 {
            th:nth-child(6),
            td:nth-child(6) {
                display: none
            }
        }
        &.hide-col-7 {
            th:nth-child(7),
            td:nth-child(7) {
                display: none
            }
        }
        &.hide-col-8 {
            th:nth-child(8),
            td:nth-child(8) {
                display: none
            }
        }
        &.hide-col-9 {
            th:nth-child(9),
            td:nth-child(9) {
                display: none
            }
        }
        &.hide-col-10 {
            th:nth-child(10),
            td:nth-child(10) {
                display: none
            }
        }














        caption {
            font-size: .938rem; 
            .align-left;
            caption-side: top;
            color: @eia-dark-grey;
            .font;
            .bold;
            a {
                color: @eia-blue; 
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            em {
                .normal;
                text-transform: none;
                font-weight: 400;
            }
            .right {
                .normal;
                text-transform: none;
            }
            p, span {
                .normal;
                font-size: 0.750rem; // 12 pixels
                text-transform: none;
            }
        }
        thead {
            th {
				font-size: .750rem;
				.align-right;
				.bold;
				padding: 6px 10px 5px 10px;
                background-color: white; // required for sticky table header
                vertical-align: bottom;
                &.divider {
                    border-color: @eia-white;
                    padding: 0;
                    width: 6px;
				}
				&:first-child {
					.align-left;
					&.divider {
						border-color: @eia-white;
						padding: 0;
						width: 6px;
					}
				}
			}
			th[colspan] {
				border-bottom: 1px solid #d8d8d8;
				border-right: 6px solid @eia-white;
				text-align: center;
				&:last-child {
					border-right: none;
				}
			}
			/*
			&.double-header {
                tr {
                    th[colspan] {
                        border-bottom: 1px solid #d8d8d8;
                        border-right: 6px solid @eia-white;
                        text-align: center;
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }
            tr {
                &.double-header {
                    th[colspan] {
                        border-bottom: 1px solid #d8d8d8;
                        border-right: 6px solid @eia-white;
                        text-align: center;
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
                td {
                    color: RED;// used to identify bad formatted HTML tables
                }
			}
			*/
            &.nested-header {
                th {
                    border-top: 1px solid #d8d8d8;
                    background-color: @eia-white;
                    padding: 8px 10px 7px 10px;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: .750rem;
                    color: @eia-dark-grey;
                    h4 {
                        margin: 0;
                        padding: 0;
					}
					/*

*/
					&.indent-1 {
						padding-left: 20px;
					}
					&.indent-2 {
						padding-left: 40px;
					}
					&.indent-3 {
						padding-left: 60px;
					}
//						}
//					}
                }
                &.indented {
                    td {
                        &:first-child {
                            padding-left: 20px;
						}
					}
                }
                &.total,
                &.bold {
                    td {
                        .bold;
                        a {
                            .bold;
                        }
                        &.bold {
                            .bold;
                            a {
                                .bold;
                            }  
                        }
                    }
                }
                &.total,
                &.tr-divider {
                    td {
                        color: black;
                        border-top: 1px solid #d8d8d8;
                    }
                }
            }   
        }
        tfoot {
            td {
                font-size: .750rem;
                &.footnotes {
                    background-color: white;
                    border-bottom: none;
                    font-size: 0.625rem; // 10 pixels	
                    //font-size: 0.688rem; // 11 pixels
                }
            }   
        }
    }
    // this applies the styles to all new tables (just incase there's old ones thst we don't want to mess up
//    .l-row {
        table {
            thead {
                tr {
                    th {
                        vertical-align: bottom;
//                        .align-left;                     
                        padding: 6px 10px 5px 10px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        vertical-align: top;
                        padding: 6px 10px 5px 10px;
                        //border-bottom: 1px dashed #d8d8d8;
                    }
                    /*
                    &:last-child {
                        td {
                            border-bottom: 1px solid #d8d8d8;
                        }
                    }

                    &:first-child {
                        td {
                            border-top: 3px solid @eia-blue;
                            //border-bottom: 1px solid @eia-blue; // only if there's a second table do we use the bottom border
                        }
                    }
                    &:last-child {
                        td {
                            border-bottom: none;
                        }
                    }
                                        */
                }   
            }
            tfoot {
                tr {
                    td {
                        vertical-align: top;                    
                        padding: 6px 10px 5px 10px; 
                    }
                    &:first-child {
                        td {
                            border-top: 1px solid #d8d8d8;
                        }
                    }
                }    
            }
        }
//    }
}

