/*
.bold(@fontWeight: 700) {font-weight: @fontWeight }
.semi-bold(@fontWeight: 600) {font-weight: @fontWeight }
.normal(@fontWeight: normal) {font-weight: @fontWeight }
.right(@floatRight: right) { float: @floatRight  }
.left(@floatLeft: left) { float: @floatLeft  }
.base-font-size(@baseFontSize: 16) {font-size: @baseFontSize; }
.align-right(@AlignRight: right) {text-align: @AlignRight; }
.align-left(@AlignLeft: left) {text-align: @AlignLeft; }
.no-wrap(@NoWrap: no-wrap) { white-space: @NoWrap;}

// Pixels	EMs	Percent	Points
// 6px	0.375em	37.5%	5pt
// 7px	0.438em	43.8%	5pt
// 8px	0.500em	50.0%	6pt
// 9px	0.563em	56.3%	7pt
// 10px	0.625em	62.5%	8pt
// 11px	0.688em	68.8%	8pt
// 12px	0.750em	75.0%	9pt
// 13px	0.813em	81.3%	10pt
// 14px	0.875em	87.5%	11pt
// 15px	0.938em	93.8%	11pt
// 16px	1.000em	100.0%	12pt
// 17px	1.063em	106.3%	13pt
// 18px	1.125em	112.5%	14pt
// 19px	1.188em	118.8%	14pt
// 20px	1.250em	125.0%	15pt
// 21px	1.313em	131.3%	16pt
// 22px	1.375em	137.5%	17pt
// 23px	1.438em	143.8%	17pt
// 24px	1.500em	150.0%	18pt

*/






@media @mobile {
	// new "accordion"

	.accordion {
		h2 {
			border:1px dashed #333;
			background-color: #eee;
			&.active {
				border:1px dashed red;
				background-color: white;
			}
		}
		.accordion-content {
			display: none;		
			&.expanded {
				display: block;
			}
		}
	}






	#accordion {
		.font-size;
		margin-top: 0.625em; // 10px
		cursor: default;
		.accordion-expand-all {
			width: 100%;
			text-align: right;
			font-size: 0.75rem;
			padding: 0 12px 4px 0; // 12px
			color: @eia_blue;
			display: none;
		}
		h2 {
			&.ui-accordion-header {
				display: block;
				cursor: pointer;
				position: relative;
				margin: 2px 0 0 0;
				padding: .5em .5em .5em 0.688em;
				font-size: 100%;
				border: 1px solid #ccc;
			}
			.ui-state-active {
				border: 1px solid #eee;
				background: #eee;
			}
		}






		div {
			span {
			
			&.formats {
				.font;
				width: 100%;
				span {
					display: inline-block;
					font-style: italic;
					font-size: 13px;
				}
				.ico {
					display: inline-block;
					text-indent: 0;
					//padding: 0 0 0 16px;
					margin-left: 8px;
					font-style: normal;
					font-size: 13px;
				}
			}
			&.numbered {
				.bold;
				margin-right: 12px;
			}
			&.zebra-container {
				.font;
				display: block;
				padding: 1em 2em;
				border-bottom: 1px dashed #ccc;
				&:last-child {
					border-bottom: none;
				}
			}
			.header {
				.bold;
				width: 100%;
			}
		}		  
	}

			
			
			
		
			
			/*      
			.header {
				border-top: 1px solid @eia_blue;
				background-color: #fff;
				.header-font;
				padding: .5em;
				font-weight: normal;
				margin: 0;
				.plus-eiablue {
					display: inline-block;
					margin-right: 0.938em; // 15px
				}
				&:focus {
					outline: webkit-focus-ring-color transparent;
				}
				span {
					display: inline-block;

					border: none;
					padding: 0;
				}
				

				.expand-collapse-container {
						width: 17px;
						height: 17px;
						margin: 7px 7px 0 0;
						position: relative;
						float: left;
				}
				.expand-collapse-container::after {
						content: " ";
						position: absolute;
						background-color: @eia_darker_blue;
						height: 1px;
						margin-top: -3px;
						top: 50%;
						left: 0px;
						right: 5px;
				}
				.expand-collapse-container::before {
					content: " ";
					position: absolute;
					background-color: @eia_darker_blue;
					width: 1px;
					margin-left: -3px;
					left: 50%;
					top: 0px;
					bottom: 6px;
				}
				&.active .expand-collapse-container::before {
					content: " ";
					position: absolute;
					background-color: #fff;
					width: 1px;
					margin-left: -3px;
					left: 50%;
					top: 0px;
					bottom: 6px;
				}
			}
			.accordion-content {
				margin-bottom: 0.625em; // 10px
				ul {
					list-style-type: none;
					padding: 12px 24px;
					margin: 0;
					border-bottom: 1px solid #ecedee;
					&:last-child {
						border-bottom: none;
					}
					li {
						font-size: 0.75rem; // 12px

						& > a {
							&:after { 
									content:"\00a0\203A";
									vertical-align: 2px;
							}               
							font-size: 0.75rem; // 12px
						}
						&.sub-header  {
							margin: 2px 0 0 0;
							.bold;
							font-size: 0.75rem; // 12px
						}

						.table-js-text {
							font-size: 0.75rem; // 12px
							p {
								font-size: 0.75rem; // 12px
							}
						}
						.icons {
							a {
								font-size: 0.75rem; // 12px
							}
						}

						}
						ul {
							list-style-type: disc;
						}
					}
			/*
			.accordion-dropdown {
				p {
					a {
						font-size: 0.75rem; // 12px
					}
				}
			}
			*/
		



				/*
				.ui-accordion-header-active {
					// background: #f4f4f4;
					border-bottom: none;
					border-top: 1px solid @eia_blue;
					// box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2);
				}
				*/
	}
}

@media @laptop {
		#accordion {
			width: 100%;
			//.accordion-panel {
				//border-top: 4px solid @eia_blue;
				//background: #f4f4f4;
				//border-bottom: 1px solid @lt_gray;
				//padding-bottom: 6px;
			//}     
			//.ui-accordion-header-active {
				//background: #f4f4f4;
				//border-top: 4px solid @eia_blue;
				//box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2);
			//}
		} 
}








































/*
@media @mobile {
	.eia-blue-accordion {
		#accordion {
			.font-size;
			margin-top: 0.625em; // 10px
			width: auto;
			cursor: default;
			.accordion-panel {
				border-bottom: 1px solid #fff;
				padding: 7px 10px 7px 22px;
				background: #00405d;
				.font;
				.bold;
				font-size: .750em;
				color: #fff;
				span {
					float: right;
					.font;
					color: #fff;
				}
				.arrow-right {
					width: 0;
					height: 0;
					float: left;
					margin: 3px 10px 0 0;
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
					border-left: 6px solid @eia_blue;
				}
			}
			.accordion-content {
				background-color: #fff;
				ul {
					margin: 0;
					padding: 1em 1em 1em 2em;
					border-bottom: 1px solid @greyishblue;
					li {
						list-style: none;
						margin: 0;
						padding: 0;
						&.header {
							font-size: .75rem;
							.bold;
							color: @eia_blue;
						}
						&.date {
							font-style: italic;
						}

					}
				}  
			}
		}
	}
	@media @laptop {
		.eia-blue-accordion {
			border: none;
		} 
	}
 */





	













/*

@media @mobile {
	.accordion-expand-holder {
		float: right;
		display: block;
		width: 100%;
		text-align: right;
		height: 30px;
		border: 3px solid red;
		clear: both;
	}





	#accordion {
		width: 100%;
		.accordion-panel {
			width: 100%;
		}
		.accordion-content {
			//padding: 0.938em; // 15px
			//margin-bottom: 0.625em; // 10px
			p {
				font-size: 115%;
				line-height: 1.2em;
				margin: 0;
				a {
					font-size: 115%;
					margin: 0 2px;
				}
				.ico {
					display: inline;
				}
				.icons {
					a {
						font-size: 115%;
					}
				}
			}
			ul {
				margin-top: 0;
				li {
					font-size: 115%;
					line-height: 1.4;
					margin-bottom: 12px;
					a {
						font-size: 115%;
					}
			
					.table-js-text {
						font-size: 115%;
						p {
							font-size: 115%;
						}
						.ico {
							display: inline;
						}
					}
	
					.icons {
						display: block;
						margin-bottom: 0.625em; // 10px
						a {
							font-size: 115%;
							&.ico { 
								display: inline;
								margin: 0 2px;
							}
						}
					}
				}
		
				.add-margin {
					margin-top: 0.625em; // 10px
				}
		
				ul {
					list-style: disc;
					li {
						font-size: 115%;
						.icons {
							display: block;
							a {
								font-size: 115%;
								&.ico { 
									display: inline;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media @laptop {
	#accordion {
		.accordion-content {
			a {
				font-size: 0.75rem; // 12px
			}
			p {
				font-size: 0.75rem; // 12px
				a {
					font-size: 0.75rem; // 12px
				}
				.icons {
					a {
						font-size: 0.75rem; // 12px
					}
				}
			}
			.table-js-text {
				font-size: 0.75rem; // 12px
			}
			ul {
				li {
					font-size: 0.75rem; // 12px
					a {
						font-size: 0.75rem; // 12px
					}
					.table-js-text {
						font-size: 0.75rem; // 12px
						p {
							font-size: 0.75rem; // 12px
						}
					}
					.icons {
						a {
							font-size: 0.75rem; // 12px
						}
					}
				}
					ul {
						li {
							font-size: 0.75rem; // 12px
							.icons {
								a {
									font-size: 0.75rem; // 12px
								}
							}
						}
					}
				}
				a {
					font-size: 0.75rem; // 12px
				}
				.accordion-dropdown {
					p {
						a {
							font-size: 0.75rem; // 12px
						}
					}
				}
			}
		}
	}
}
*/