/*
.bold(@fontWeight: 700) {font-weight: @fontWeight }
.semi-bold(@fontWeight: 600) {font-weight: @fontWeight }
.normal(@fontWeight: normal) {font-weight: @fontWeight }
.right(@floatRight: right) { float: @floatRight  }
.left(@floatLeft: left) { float: @floatLeft  }
.base-font-size(@baseFontSize: 16) {font-size: @baseFontSize; }
.align-right(@AlignRight: right) {text-align: @AlignRight; }
.align-left(@AlignLeft: left) {text-align: @AlignLeft; }
.no-wrap(@NoWrap: no-wrap) { white-space: @NoWrap;}

// Pixels	EMs	Percent	Points
// 6px	0.375em	37.5%	5pt
// 7px	0.438em	43.8%	5pt
// 8px	0.500em	50.0%	6pt
// 9px	0.563em	56.3%	7pt
// 10px	0.625em	62.5%	8pt
// 11px	0.688em	68.8%	8pt
// 12px	0.750em	75.0%	9pt
// 13px	0.813em	81.3%	10pt
// 14px	0.875em	87.5%	11pt
// 15px	0.938em	93.8%	11pt
// 16px	1.000em	100.0%	12pt
// 17px	1.063em	106.3%	13pt
// 18px	1.125em	112.5%	14pt
// 19px	1.188em	118.8%	14pt
// 20px	1.250em	125.0%	15pt
// 21px	1.313em	131.3%	16pt
// 22px	1.375em	137.5%	17pt
// 23px	1.438em	143.8%	17pt
// 24px	1.500em	150.0%	18pt

*/






@media @mobile {
	.accordion {
		.font-size;
		margin-top: 0.625em; // 10px
		cursor: default;
		.accordion-expand-all {
			width: 100%;
			text-align: right;
			font-size: 0.75rem;
			padding: 0 12px 4px 0; // 12px
			color: @eia_blue;
			display: none;
		}
		.accordion-collapse-all {
			width: 100%;
			text-align: right;
			font-size: 0.75rem;
			padding: 0 12px 4px 0; // 12px
			color: @eia_blue;
			display: none;
		}
		h2 {
			display: block;
			cursor: pointer;
			position: relative;
			margin: 2px 0 0 0;
			padding: .5em .5em .5em 0.688em;
			font-size: 100%;
			border: 1px solid #ccc;
			background: #ccc;
			&.active {
				background: #fcc;
			}
		}
		.accordion-content {
			overflow: hidden;
			max-height: 0;
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 0;
			margin-bottom: 0;
			-moz-transition-duration: 0.3s;
			-webkit-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			/*
			display: none;
			-webkit-transition: all 1s ease-in-out;
			-moz-transition: all 1s ease-in-out;
			-o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
			*/
			&.expanded {
				-moz-transition-duration: 0.3s;
				-webkit-transition-duration: 0.3s;
				-o-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-moz-transition-timing-function: ease-in;
				-webkit-transition-timing-function: ease-in;
				-o-transition-timing-function: ease-in;
				transition-timing-function: ease-in;
				max-height: 1000px;
				overflow: hidden;
				/*
				display: block;
				-webkit-transition: all 1s ease-in-out;
				-moz-transition: all 1s ease-in-out;
				-o-transition: all 1s ease-in-out;
				transition: all 1s ease-in-out;
				*/
			}
			/*
			div {
				span {
					&.formats {
						.font;
						width: 100%;
						span {
							display: inline-block;
							font-style: italic;
							font-size: 13px;
						}
						.ico {
							display: inline-block;
							text-indent: 0;
							//padding: 0 0 0 16px;
							margin-left: 8px;
							font-style: normal;
							font-size: 13px;
						}
					}
					&.numbered {
						.bold;
						margin-right: 12px;
					}
					&.zebra-container {
						.font;
						display: block;
						padding: 1em 2em;
						border-bottom: 1px dashed #ccc;
						&:last-child {
							border-bottom: none;
						}
					}
					.header {
						.bold;
						width: 100%;
					}
				}
			}
			*/
		}
	}
}