


ul.typography {
	margin: 0;
	padding: 0;
	color: @eia-dark-grey;
	font-size: 16px;
	font-family: arial;
	background-color: white !important;
}
p.typography {
	margin: 0;
	padding: 0;
	color: @eia-dark-grey;
	font-size: 16px;
	font-family: arial;
	background-color: white !important;
}

h2.typography {
    margin: 0 !important;
    padding: 0 !important;
    color: @eia-dark-grey !important;
    width: 100%;
    background-color: white !important;
}
h3.typography {
    margin: 0 !important;
    padding: 0 !important;
    color: @eia-dark-grey !important;
    width: 100%;
    background-color: white !important;
}
h4.typography {
    margin: 0 !important;
    padding: 0 !important;
    color: @eia-dark-grey !important;
    width: 100%;
    background-color: white !important;
}
h5.typography {
    margin: 0 !important;
    padding: 0 !important;
    color: @eia-dark-grey !important;
    width: 100%;
    background-color: white !important;
}
h6.typography {
    margin: 0 !important;
    padding: 0 !important;
    color: @eia-dark-grey !important;
    width: 100%;
    background-color: white !important;
}