/*
REMs        Pixels
_________________________________
font-size: 0.625rem; // 10 pixels	
font-size: 0.688rem; // 11 pixels
font-size: 0.750rem; // 12 pixels
font-size: 0.813rem; // 13 pixels
font-size: 0.875rem; // 14 pixels
font-size: 0.938rem; // 15 pixels
font-size: 1.000rem; // 16 pixels
font-size: 0.063rem; // 17 pixels
font-size: 1.125rem; // 18 pixels
font-size: 1.188rem; // 19 pixels
font-size: 1.250rem; // 20 pixels
font-size: 1.313rem; // 21 pixels
font-size: 1.375rem; // 22 pixels
font-size: 1.438rem; // 23 pixels
font-size: 1.500rem; // 24 pixels
*/


	/* ************ ************ ************ */
	// adds a left margin to tab content (must be different than secondary
	/* ************ ************ ************ */

	/*
	.secondary-alt,
	.secondary {
		& > ul {
			li {
				margin-left: 0;
				border: 1px solid red;
			}
		}
		.tab-content {
			& > p,
			& > ul,
			& > ol,
			//& > h1,
			& > h2,
			& > h3,
			& > h4,
			& > h5,
			//& > h6
			img {
				margin: 0 0 0 6px;
			}
		}
	}
	*/



@media @mobile {
	.secondary-alt {
		border-top: 4px solid @eia-green;
	}
	.secondary {
		border-top: 4px solid @eia-blue;
	}
	.secondary-alt,
	.secondary {
		display: table;
		.tab-content {
			& > p,
			& > ul,
			& > ol,
			//& > h1,
			& > h2,
			& > h3,
			& > h4,
			& > h5,
			//& > h6
			img {
				margin: 0 0 0 6px;
			}
		}
		/* ************ ************ ************ */
		// adds a space if/when the accordions fall after the secondary tag
		/* ************ ************ ************ */
		.accordion {
			&:first-child {
				border-top: 22px solid #fff;
			}
		}
		/* ************ ************ ************ */
		// adds a space if/when the tabs fall after the secondary tag
		/* ************ ************ ************ */
		.tabs {
			&:first-child {
				border-top: 22px solid #fff;
			}
		}
		h1 {
			// not approved
			.header-font;
			font-size: 2rem; // 32px;
			line-height: 1.25;
			color: @eia-dark-grey;
			padding: 1em 0 0 0;
		}
		h3 {
			color: @eia-dark-grey;
		}
		h4,
		h5,
		//h6 {
		//}
		ul {
			li {
				&.sub-head {
					margin-top: 14px;
					margin-bottom: 8px;
					line-height: 1.3em;
					font-size: 0.875rem;
					font-weight: 600;
					//font-size: 0.78rem;// 12 pixels
				}
				&.description {
					margin-top: 8px;
					margin-bottom: 8px;
					font-size: 0.875rem;
					//font-size: 0.78rem;// 12 pixels
				}
				&.image {
					img {
						width: 100%;
					}
					margin-bottom: 1em;
				}
				&.icon {
					width: 100%;
					display: table;
					padding: 0 0 5px 0;
					span {
						&.formats {
							display: table-cell;
							white-space: nowrap;
							height: 12px;
							position: relative;
							top: 3px;
							a {
								border-left: 1px solid #d8d8d8;
								margin-left: 5px;
								padding-left: 5px;
								.right;
							}
						}
					}
					a {
						display: table-cell;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
							.ico {
								text-decoration: underline;
							}
						}
					}
				}
				/*
				a {
					span {
						&.link-label {
							display: table-cell;
						}
					}
					em {
						.italic;
						color: @eia-dark-grey;
					}
					span {
						&.date {
							font-style: normal;
							color: @eia-dark-grey;

							text-decoration: none;
							display: table-cell;
							padding-right: 12px;
						}
					}
					&:hover {
						span {
							&.date {
								text-decoration-line: underline;
								text-decoration-color: underline solid white;
							}
						}
						em {
							text-decoration-line: underline;
							text-decoration-color: underline solid white;
						}
					}
				}
				*/
			}
		}
		& > .tabs,
		& > .accordion,
		& > p,
		& > img,
		& > ul {
			padding-left: 6px;
			padding-right: 6px;
			&.icon-list {
				margin-top: 1em;
			}
			& > li {
				margin-left: 0;
				& > ul {
					& > li {
						margin-left: 0;
					}
				}
				&.head {
					margin-bottom: 0.78rem; // 12 pixels
					width: 100%;
					display: block;
					h2 {
						.header-font;
						color: @eia-dark-grey;
						font-weight: normal;
						font-size: 1.4rem;
						line-height: 1.3em;
						padding: 0;
						margin: 0;
						a {
							.header-font;
							color: @eia-blue;
							font-weight: normal;
							font-size: 1.4rem;
							line-height: 1.3em;
						}
						.ico {
							.left;
							margin: 8px 8px 0 0;
							&.interactive {
								span {
									display: none;
								}
								&:before {
									//.icon-interactive;
									.controls-icon(40px, 43px);
									margin-bottom: 0;
								}
							}
						}
					}
				}
				
				/*
				&.sub-head {
					line-height: 1.3em;
					font-size: .875rem;
					font-size: 0.78rem;// 12 pixels
					font-weight: 600;
				}
				
				&.description {
					line-height: 1.3em;
					font-size: .875rem;
					//font-size: 0.78rem;// 12 pixels
				}
				*/
			}
		}
	}
	.no-sub-navigation {
		.l-two-col-right-narrow {
			margin: 3em 0 0 0;
			.l-col {
				&:last-child {
					.secondary {
						border-top: 4px solid @eia-blue;
					}
				}
			}
		}
	}
}
