/*
REMs        Pixels
_________________________________
font-size: 0.625rem; // 10 pixels
font-size: 0.688rem; // 11 pixels
font-size: 0.750rem; // 12 pixels
font-size: 0.813rem; // 13 pixels
font-size: 0.875rem; // 14 pixels
font-size: 0.938rem; // 15 pixels
font-size: 1.000rem; // 16 pixels
font-size: 0.063rem; // 17 pixels
font-size: 1.125rem; // 18 pixels
font-size: 1.188rem; // 19 pixels
font-size: 1.250rem; // 20 pixels
font-size: 1.313rem; // 21 pixels
font-size: 1.375rem; // 22 pixels
font-size: 1.438rem; // 23 pixels
font-size: 1.500rem; // 24 pixels
*/

.secondary-alt,
.secondary {
  &.align-with-tabs {
    margin-top: 30px;
  }
  hr {
    background: transparent;
    margin: 1.45em 0;
    border: 1px dashed shade(white, 17%);
    &.secondary {
      background: @eia-blue;
      color: @eia-blue;
    }
  }
}

// move to primary

//.primary-alt {
//	ul {
//		padding-left: 0;
//	}
//}

.sub-section + p {
  margin: 1em 0 0 0;
}
.sub-section {
  padding: 1em 0 0 0;
  margin: 1em 0 0 0;
  border-top: 1px solid @eia-dark-grey;
}
.sub-section-minor {
  padding: 1em 0 0 0;
  margin: 1em 0 0 0;
  border-top: 1px dashed #cccccc;
}

/* ************ ************ ************ */
// Move this somewhere else
/* ************ ************ ************ */

@media @mobile {
  .mobile-navigation {
    display: block;
    .secondary {
      border-top: none;
      li {
        &.ico {
          min-height: 44px;
          a[href] {
            padding-left: 60px;
            font-size: 0.9375rem;
          }
          &.telephone {
            a[href] {
              padding-left: 60px;
              font-size: 0.9375rem;
            }
          }
          &.pdf,
          &.xls,
          &.json,
          &.csv,
          &.ppt,
          &.html,
          &.doc,
          &.image,
          &.interactive,
          &.efile,
          &.printer,
          &.pedro {
            position: relative;
            &:before {
              position: absolute;
              background-size: 100%;
              height: 40px;
              width: 40px;
            }
          }
        }
      }
      &.navigation {
        //border-top: none;
        & > ul {
          & > li {
            background-color: #fff;
            padding: 5px;
            border-top: 1px solid @eia-blue;
            border-right: 1px solid @eia-blue;
            border-bottom: none;
            border-left: 1px solid @eia-blue;
            //a {
            /*
							&.active {
								color: @eia-blue;
								text-decoration: none;
								font-weight: 700;
								font-size: .9375rem;
								&:hover {
									color: @eia-blue;
									text-decoration: none;
									font-weight: 700;
								}
							}
							*/
            //}
            &.head {
              background-color: #fff;
              margin-bottom: 0;
            }
            &.active {
              background-color: @eia-blue;
              a {
                &.active {
                  color: white;
                  text-decoration: none;
                  font-weight: 700;
                  font-size: 0.9375rem;
                  &:hover {
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                  }
                }
              }
            }
            &:last-child {
              border-bottom: 1px solid @eia-blue;
            }
          }
        }
      }
    }
  }
  .article-alt,
  .article,
  .primary-alt,
  .primary,
  .secondary-alt,
  .secondary {
    .accordion {
      & > h3 {
        font-family: "Times New Roman", "Times", serif;
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: none;
        margin: 0;
      }
    }
  }
  .screen-navigation {
    display: none;
  }
}

@media @tablet-landscape {
  .mobile-navigation {
    display: none;
  }
  .screen-navigation {
    display: block;
    .secondary {
      &.navigation {
        & > ul {
          & > li {
            margin: 3px 0;
            a {
              color: @eia-blue;
              text-decoration: none;
              &:hover {
                color: @eia-blue;
                text-decoration: underline;
              }
            }
            &.active {
              background-color: @eia-blue;
              padding: 5px;
              a {
                &.active {
                  color: white;
                  text-decoration: none;
                  font-weight: 700;
                  &:hover {
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                    cursor: default;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
