/**


 find:   		font-family: Arial, Helvetica, sans-serif
 replace: 		@default_font

 find:   		#265281;
 @eia_dk_blue

 eia-green


* @stylesheet global_vars.less Variables
* @parent styles.global_vars
* Here are the definitions for our LESS color variables
*
* @iframe demos/global_vars/colors.html
**/
//color definitions
@eia_lt_green: #bed5ad;
@eia-green: #5d9732;
@grade_bg: #d8e6ce;
@eia_dk_gray: #333;
@lt_gray: #dadada;
@button_green: #7da85b;
@slider_green: #9ec184;
@slider_bg_green: #ecf2e6;

@dk_green: #2a4b11;
@dk_green-mono: #888888;

@eia_yellow: #ffc702;
@eia_yellow-mono: #d0d0d0;

@eia_red: #a33340;

@greyishblue: #a9c1da;
@eia_lt_blue: #dff2fB;

@eia_blue: #189bd7;
@eia_blue-mono: #6e6e6e;

@eia_dk_blue: #265281;
@eia_darker_blue: #003C57;
@port_blue: #3380a2;

@eia_brown-orange: #bd732a;
@ref_brown: #7a6b4d;
@eia_silver: #cccccc;
@disabled: #a6a6a6;

//----border styles----
//dark gray border
@gray_border: 1px solid @eia_dk_gray;
@green_border: 1px solid @eia-green;
@lt_gray_border: 1px solid @lt_gray;

@default_font: Arial, Helvetica, sans-serif;
@header_font: "Times New Roman", "Times", serif;

@mobile: ~"(min-width: 1px)"; // could be 320px - smartphones, portrait iPhone, portrait 480x320 phones (Android)
@mobile-landscape: ~"(min-width:480px)"; // smartphones, Android phones, landscape iPhone
@tablet: ~"(min-width: 600px)"; // mobile panorama
@tablet-landscape: ~"(min-width: 801px)"; // tablet, landscape iPad, lo-res laptops ands desktops
@laptop: ~"(min-width: 988px)"; // normall 1025 - big landscape tablets, laptops, and desktops
@desktop: ~"(min-width: 1025px)"; // big landscape tablets, laptops, and desktops
@desktop-lg: ~"(min-width: 1281px)"; // hi-res laptops and desktops

//@mobile: ~"only screen and (max-width: 768px)";
//@tablet: ~"only screen and (min-width: 769px) and (max-width: 1025px)";
//@desktop: ~"only screen and (min-width: 1026px) and (max-width: 1679px)";
//@desktop-lg: ~"only screen and (min-width: 1680px)";
//@tv: ~"only screen and (min-width: 3000px)";

@baseFontSize: 16;
@fontWeightBold: 700;
@fontWeightSemiBold: 600;
@fontWeightNormal: normal;
@floatRight: right;
@floatLeft: left;

@NoWrap: no-wrap;

@AlignLeft: left;
@AlignRight: right;
@AlignCenter: center;
@AlignTop: top;
@AlignMiddle: middle;
@AlignBottom: bottom;

@DisplayNone: hide;
@DisplayShow: block;

//@fill-color:#ffffff;
//@bg-fill-color:#189bd7;
//@bg-fill-opacity:1;
















/*
.responsive {
	margin: 0 auto;
}
@media @desktop-lg {
	.desktop-lg { display: block !important; background-color: red; color: white; display: table; padding: 12px 24px }
	.desktop { display: none }
	.tablet { display: none }
	.mobile { display: none }
}
@media @desktop {
	.desktop-lg { display: none }
	.desktop { display: block !important; background-color: green; color: white; display: table; padding: 12px 24px  }
	.tablet { display: none }
	.mobile { display: none }
}
@media @tablet {
	.desktop-lg { display: none }
	.desktop { display: none }
	.tablet { display: block !important; background-color: orange; color: white; display: table; padding: 12px 24px  }
	.mobile { display: none }
}
@media @mobile {
	.desktop-lg { display: none }
	.desktop { display: none }
	.tablet { display: none }
	.mobile { display: block !important; background-color: navy; color: white; display: table; padding: 12px 24px  }
}
*/
