@media @mobile {
    li.dropdown {
        position: relative;
    }
    .dat_block {
        -moz-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        -webkit-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
        left: 113px !important;
    }
    .dat_block:last-child {
        -moz-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        -webkit-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
        left: 173px !important;
    }
    //page header//
	header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        //height: 58px;
        height: 40px;
        background-color: @eia-darker-blue;
        transition: all 0.3s ease-in-out;
        z-index: 999;
        * {
            box-sizing: border-box;
        }
        &.show {
            transition: all 0.3s ease-in-out;
            height: 70px;
        }
        .print {
            display: none;
        }
		// start navigation//  
		.navigation {
            width: 100%;
            //height: 46px;
            min-width: 320px !important;
            position: relative;
            h1 {
                border: none;
                display: none;
            }
            .nav-primary {
                display: none;
            }
            .menu-toggle {
                width: 75px;
                height: 20px;
                float: right;
                display: block;
                margin: 12px 65px 10px 0;
                clear: right;
                p {
                    .font;
                    color: @greyish-blue;
                    font-size: 1em;
                    text-transform: uppercase;
                    float: right;
                    margin: 0;
                    position: relative;
                    top: -11px;
                    // was -14px;
                }
                .toggle-bar {
                    background-color: @greyish-blue;
                    height: 2px;
                    width: 21px;
                    border-radius: 2px;
                    margin: 2px 1px;
                    float: left;
                    clear: both;
                }
            }
            .search-menu-toggle {
                //display: inline-block;
                position: absolute;
                right: 8px;
                height: 40px;
            }
            .nav-secondary {
                display: none;
                .font;
            }
			//toggle the search panel//
			.search-panel {
                opacity: 0;
                display: block;
                width: 250px;
                position: absolute;
                top: 30px;
                right: 16px;
                z-index: 0;
                transition: opacity .25s ease-out;
                -moz-transition: opacity .25s ease-out;
                -webkit-transition: opacity .25s ease-out;
                &.show {
                    opacity: 1;
                    transition: opacity .25s ease-in;
                    -moz-transition: opacity .25s ease-in;
                    -webkit-transition: opacity .25s ease-in;
                }
                .search {
                    margin-left: 8px;
                    .search-box {
                        color: @greyish-blue;
                        border: none;
                        font-size: 13px;
                        background-color: #336075;
                        width: 183px;
                        padding: 3px 5px 2px 5px;
                        &:focus {
                            background-color: #fff;
                            color: @eia-dark-gray;
                        }
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            color: @greyish-blue;
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                            color: @greyish-blue;
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                            color: @greyish-blue;
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                            color: @greyish-blue;
                        }
                    }
                    button {
                        &.search-submit {
                            background-color: transparent;
                            border: none;
                            width: 19px;
                            height: 19px;
                            position: absolute;
                            top: 4px;
                            right: 0px;
                        }
                    } 
                    .accessibility {
                        left: -12345px;
                        position: absolute;
                    }
                }
            }
        }
    }
}
@media @laptop {
    header {
        height: 94px;
		// start navigation//  
		.navigation {
            width: 955px;
            height: 94px;
            margin: 0 auto;
            .menu-toggle {
                display: none;
            }
            .search-menu-toggle {
                display: none;
            }
            .nav-primary {
                // width: 340px;
                height: 28px;
                display: block;
                float: left;
                padding: 0;
                margin: 55px 0 0 0;
                transition: all 0.3s ease-in-out;
                .nav-primary-item {
                    height: 28px;
                    display: block;
                    float: left;
                    //cursor: pointer;
                    margin: 0;
                    padding: 0;
                    border-right: 1px solid #809ca9;
                    border-left: 1px solid #001c29;
                    &:hover {
                        background-color: @eia-blue;
                        i {
                            color: #fff;
                        }                        
                    }
                    &:first-child {
                        border-left: none;
                    }
                    &:last-child {
                        border-right: none;
                    }
                    a {
                        .header-font;
                        font-size: 1rem;
                        color: #fff;
                        text-decoration: none;
                        padding: 4px 15px 4px 12px;
                        display: block;
                    }
                }
            }
            .nav-secondary {
                display: block;
                margin: 12px 0 0 0;
                border-bottom: solid 1px #336075;
                float: right;
                padding: 0 0 6px 0;
                .nav-secondary-item {
                    text-indent: 0;
                    height: auto;
                    display: inline-block;
                    //float: left;
                    cursor: pointer;
                    margin: 4px 0;
                    a {
                        font-size: 11px;
                        color: @greyish-blue;
                        text-decoration: none;
                        &:hover {
                            color: #fff;
                            i {
                                color: #fff;
                            }
                        }
                    }
                    &:nth-child(-n+1) {
                        padding-left: 5px;
                    }
                    &:nth-child(-n+3) {
                        padding-right: 15px;
                    }
                }
            }
			//search //
			.search-panel {
                opacity: 1;
                top: 55px;
                right: 1px;
                display: block;
                height: 20px;
                width: 250px;
                position: absolute;
                /* float: right; */
                transition: all 0.3s ease-in-out;
                &.show {
                    top: 0;
                }
            }
        }
	   ////shrink 
	   &.shrink {
            height: 40px;
            .navigation {
                height: 40px;
                .nav-primary {
                    margin: 6px 0 0 0;
                }
                .nav-secondary {
                    display: none;
                }
                .search-panel {
                    opacity: 1;
                    top: 3px;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
		// end shrink   // end navigation 
		.print {
            display: none;
        }
    }
}