
//.fancybox-margin {
//    margin-right: 0 !important;
//}

@media @mobile {
    


    
    li.dropdown {
        position: relative;
    }
    /*
    .dat_block {
        -moz-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        -webkit-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
        left: 113px !important;
    }
    .dat_block:last-child {
        -moz-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        -webkit-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
        left: 173px !important;
    }
    */








    //page header//
	header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        //height: 58px;
        height: 40px;
        background-color: @eia-darker-blue;
        transition: all 0.3s ease-in-out;
        z-index: 999;
        * {
            box-sizing: border-box;
        }
        input[type=text],
        textarea {
            margin: 0;
        }
        &.show {
            transition: all 0.3s ease-in-out;
            height: 70px;
        }
        .print {
            display: none;
        }
		// start navigation//  
		.navigation {
            width: 100%;
            //height: 46px;
            min-width: 320px !important;
            position: relative;
            .logo {
                padding: 0 16px;
            }
            h1 {
                border: none;
                display: none;
            }
            .nav-primary {
                display: none;
            }
            .menu-toggle {
                height: 20px;
                float: right;
                display: block;
                margin: 12px 65px 10px 0;
                clear: right;
                p {
                    .font;
                    color: @greyish-blue;
                    font-size: 1em;
                    text-transform: uppercase;
                    float: right;
                    margin: 0;
                    position: relative;
                    top: -11px;
                    // was -14px;
                }
                .toggle-bar {
                    background-color: @greyish-blue;
                    height: 2px;
                    width: 21px;
                    border-radius: 2px;
                    margin: 2px 6px;
                    float: left;
                    clear: both;
                }
            }
            .search-menu-toggle {
                position: absolute;
                right: 8px;
                height: 40px;
            }
            .nav-secondary {
                display: none;
                .font;
            }
			//toggle the search panel//
			.search-panel {
                opacity: 0;
                display: block;
                width: 250px;
                position: absolute;
                top: 36px;
                right: 16px;
                z-index: 0;
                transition: opacity .25s ease-out;
                -moz-transition: opacity .25s ease-out;
                -webkit-transition: opacity .25s ease-out;
                &.show {
                    opacity: 1;
                    transition: opacity .25s ease-in;
                    -moz-transition: opacity .25s ease-in;
                    -webkit-transition: opacity .25s ease-in;
                }
                .search {
                    margin-left: 8px;
                    .search-box {
                        color: @greyish-blue;
                        border: 1px solid @greyish-blue;
                        font-size: 0.813rem;
                        background-color: #336075;
                        width: 183px;
                        padding: 3px 5px 2px 5px;
                        margin: 0 !important; // overide screen
                        &:focus {
                            background-color: #fff;
                            color: @eia-dark-gray;
                        }
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            color: @greyish-blue;
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                            color: @greyish-blue;
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                            color: @greyish-blue;
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                            color: @greyish-blue;
                        }
                    }
                    button {
                        &.search-submit {
                            background-color: transparent;
                            border: none;
                            width: 19px;
                            height: 19px;
                            position: absolute;
                            top: 2px;
                            /* right: 0px; */
                        }
                    } 
                    .accessibility {
                        left: -12345px;
                        position: absolute;
                    }
                }
            }
        }
    }
}
@media @laptop {
    header {
        height: 94px;
		// start navigation//  
		.navigation {
            width: 955px;
            height: 94px;
            margin: 0 auto;
            .menu-toggle {
                display: none;
            }
            .search-menu-toggle {
                display: none;
            }
            .nav-primary {
                display: table;
                float: left;
                padding: 0;
                margin: 55px 0 7px 0;
                transition: all 0.3s ease-in-out;
                .nav-primary-item {
                    display: block;
                    float: left;
                    margin: 0;
                    padding: 0;
                    border-right: 1px solid #809ca9;
                    border-left: 1px solid #001c29;
                    &:hover {
                        background-color: @eia-blue;
                        i {
                            color: #fff;
                        }                        
                    }
                    &:first-child {
                        border-left: none;
                    }
                    &:last-child {
                        border-right: none;
                    }
                    a {
                        .header-font;
                        font-size: 1rem;
                        color: #fff;
                        text-decoration: none;
                        padding: 2px 15px 2px 12px;
                        display: block;
                    }
                }
            }
            .nav-secondary {
                display: block;
                margin: 12px 0 0 0;
                border-bottom: solid 1px #336075;
                float: right;
                padding: 0 0 6px 0;
                .nav-secondary-item {
                    text-indent: 0;
                    height: auto;
                    display: inline-block;
                    //float: left;
                    cursor: pointer;
                    margin: 4px 0;
                    a {
                        font-size: 11px;
                        color: @greyish-blue;
                        text-decoration: none;
                        &:hover {
                            color: #fff;
                            i {
                                color: #fff;
                            }
                        }
                    }
                    &:nth-child(-n+1) {
                        padding-left: 5px;
                    }
                    &:nth-child(-n+3) {
                        padding-right: 15px;
                    }
                }
            }
			//search //
			.search-panel {
                opacity: 1;
                top: 55px;
                //top: 50px;
                right: 1px;
                display: block;
                height: 20px;
                width: 250px;
                position: absolute;
                /* float: right; */
                transition: all 0.3s ease-in-out;
                &.show {
                    top: 0;
                }
            }
            .logo {
                padding: 0 12px;
            }            
        }
	    //shrink 
	    &.shrink {
            height: 50px;
            .navigation {
                height: 50px;
                .logo {
                    padding: 5px 12px;
                }
                .nav-primary {
                    margin: 16px 0 0 250px;
                }
                .nav-secondary {
                    display: none;
                }
                .search-panel {
                    opacity: 1;
                    top: 16px;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
		// end shrink   // end navigation 
		.print {
            display: none;
        }
    }
}




 
/*
- Set border radius to 0 on the section-tabs class (bottom corners of the overlay are currently rounded). This is one of the things jQuery is mucking with (see “.fancybox-wrap .fancybox-inner .section-tabs”).
- The linked headers (e.g., petroleum, coal, electricity, etc.) in the overlay should underline on hover. See “.fancybox-wrap .fancybox-inner .section-tabs .nav-menu h3 a”. I think that “.section-tabs a” in the EIA_global.css file is overriding “a:hover” in the new css.
- The spacing between the What’s New items still looks a little off as compared to the mockups: https://xd.adobe.com/view/5640b9cb-0166-4a60-8230-ca722a632cf9/screen/artboard8/f-news
- The spacing in the footer is off. I think we had more spacing between columns before? And there should be more space above the row of serif links (About EIA, Open Data, etc.). Also, just noticed that the font-family for the address is wrong, should be the Arial stack (did that shift or did neither one of us notice it before?). Here’s a screenshot that has roughly the right spacing (this is the one I sent a long time ago, we hadn’t yet made the decision to remove the logo, so ignore that). The border between the top row of serif links and the columns of links should be there, however. I think we both forgot about this one.
*/