@media @mobile {



    ul {
//       &.ui-widget.ui-widget-content {
//         border: 1px solid #d3d3d3;
//      }

        &.ui-widget-content {
            border: 1px solid #aaaaaa;
            background: #ffffff;
        }

        &.ui-widget {
            .font;
        }

        &.ui-menu {
            list-style: none;
            padding: 5px 12px;
            margin: 0;
            font-size: 0.875rem;
            //display: block;
            //outline: 0;
        }
        

        &.ui-autocomplete {
            position: absolute;
            top: 0;
            left: 0;
            cursor: default;
            li {
                margin-bottom: 8px;
                &:hover {
                    color: @eia-blue;
                }
            }
        }
    }











    .fancybox-wrap {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8020;
        * {
            box-sizing: border-box;
        }
        .fancybox-inner {
            width: 100%;
            height: auto;
            .page_tabs {
                background-color: #fff;
                .sources-uses, .topics, .geography, .tools, .learn, .news {
                    &.left {
                        width: 100%;
                        padding: 0 1em;
                        // move to tablet
                        //border-bottom: 1px solid @light-gray;
                        border: none;
                    }
                    &.right {
                        width: 100%;
                        padding: 0 1em;
                    }
                }
                .tabs-wrapper {
                    background: @eia-darker-blue;
                    padding-bottom: 1em;
                    margin-bottom: 2em;
                    .ui-widget-content {
                        border: none !important;
                        background-color: transparent !important;
                        color: #333;
                    }
                    .ui-widget {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1rem;
                    }
                    ul {
                        max-width: 90%;
                        margin-right: 15px;
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        &.ui-tabs-nav {
                            margin: 0; 
                        }
                        &.ui-corner-all {
                            margin: 0; 
                        }
                        &.ui-helper-reset {
                            margin: 0; 
                        }
                        &.ui-helper-clearfix {
                            margin: 0; 
                        }
                        &.ui-widget-header {
                            border: none ;
                            background-color: transparent !important; 
                            background-image: none !important; 
                            color: #333; 
                            font-weight: normal; 
                        }
                        li {
                            margin: 15px 15px 5px;
                            display: inline-block;
                            a {
                                display: block;
                            }
                        }
                        .ui-state-default {
                            a {
                                //display: block;
                                color: #fff;
                                font-size: 1.5rem;
                                font-family: "Times New Roman","Times",serif;
                                font-weight: 100;
                                // start underline effects
                                border: 0;
                                box-sizing: border-box;
                                position: relative;
                                &::before {
                                    box-sizing: inherit;
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    transform-origin: center;
                                    // ensure scaling is done from the center (expands outwards)
                                    -webkit-box-shadow: 0 7px 0 -2px @eia-yellow;
                                    -moz-box-shadow: 0 7px 0 -2px @eia-yellow;
                                    box-shadow: 0 7px 0 -2px @eia-yellow;
                                    transform: scale3d(0,1,1);
                                    // shrink only width
                                    transition: transform 0.05s;
                                }
                                &:hover::before {
                                    transform: scale3d(1,1,1);
                                    // show full-size
                                    transition: transform 0.05s;
                                }
                            }
                        }
                        .ui-state-active {
                            a {
                                // use box shadow to have flat left and right edges
                                -webkit-box-shadow: 0 7px 0 -2px @eia-yellow;
                                -moz-box-shadow: 0 7px 0 -2px @eia-yellow;
                                box-shadow: 0 7px 0 -2px @eia-yellow;
                                &:hover {
                                    transform: none !important;
                                }
                            }
                        }
                    }
                }
                .nav-menu {
                    padding: 15px 0 10px 0;
                    border-bottom: 1px solid @light-gray;
                    display: table;
                    min-height: 100px;
                    //width: 100%;
                    clear: both;
                    position: relative;
                    i {
                        position: absolute;
                        //  left: 0;
                    }
                    h3 {
                        margin: 0 0 0 80px;
                        .header-font;
                        font-weight: 100;
                        text-transform: none;
                        font-size: 1.375em;
                        line-height: 0.8;
                        display: block;
                        a {
                            .header-font;
                            line-height: 1.2em;
                            font-weight: 100;
                            text-transform: none;
                            //text-decoration: none;
                            font-size: 1.375rem;
                            color: @eia-darker-blue;
                        }
                    }
                    p {
                        .font;
                        display: block;
                        margin: 0 0 0 80px;
                        font-size: 0.875rem;
                        line-height: 1.4;
                        color: #7d7d7d;
                        a {
                            position: relative;
                            i {
                                position: relative;
                            }
                        }
                    }
                    ul {
                        margin: 8px 0 8px 56px;
                        padding-left: 40px;
                        overflow: hidden;
                        li {
                            line-height: 1.6em;
                            .font;
                            font-size: 0.875rem;
                            cursor: pointer;
                            a {
                                color: @eia-blue;
                                display: block;
                                &:after {
                                    content: "\00a0\203A";
                                }
                            }
                        }
                    }
                    &.energy-explained {
                        display: inline-block;
                        width: 100%;
                        .energy-explained-list {
                            &.left {
                                .left;
                                width: 42%;
                                margin-left: 60px;
                            }
                            &.right {
                                .right;
                                width: 42%;
                                margin-left: 0;
                            }
                        }
                    }
                    &.faq {
                        display: inline-block;
                        width: 100%;
                        .faq-list {
                            &.left {
                                .left;
                                width: 42%;
                                margin-left: 60px;
                            }
                            &.right {
                                .right;
                                width: 42%;
                                margin-left: 0;
                            }
                        }
                    }
                    &.energy-kids {
                        a {
                            .right;
                            padding: 0;
                            &.energy-kids {
                                width: 431px;
                                height: 105px;
                                background-image: url(../../global/images/energy-kids/energy-kids.png);
                                &:hover {
                                    background-image: url(../../global/images/energy-kids/energy-kids-hover.png);
                                }                        
                            }
                        }
                    }
                    &.follow-us {
                        p {
                            margin: 8px 0 0 74px;
                        }
                    }
                    &.az-index {
                        margin-right: 40px;
                        margin-left: 40px;
                        display: block;
                        .az-list {
                        //    margin-top: 1em;
                            position: relative;
                            display: block;
                            margin-left: 80px;
                            overflow-wrap: break-word;
                            a {
                                display: inline-block;
                                padding: 5px;
                            }
                        }
                    }
                    .form-wrapper {
                        margin: 6px 0 0 80px;
                        display: block;   
                        width: 250px;
                        position: relative;
                        input[type='text'] {
                            .font;
                            font-size: 0.875rem;
                            width: 250px;
                        }
                        input {
                            &.fancy-search-box {
                                padding: 2px;
                            }
                        }
                        textarea {
                            &.fancy-search-box {
                                width: 250px;
                                height: auto;
                            }
                        }  
                        button {
                            &.search-submit {
                                background-color: transparent;
                                border: none;
                                width: 19px;
                                height: 19px;
                                position: absolute;
                                top: 8px;
                                right: -30px;
                            }
                        } 
                        .ui-autocomplete {
                            position: absolute;
                            cursor: default;
                            background-color: #eee;
                            .ui-menu-item {
                                .font;
                                margin-bottom: .5em;
                                font-size: 0.813rem;
                                .ui-menu-item-wrapper {
                                    &:hover {
                                        background-color: #fff;
                                    }
                                }
                            }
                            &.ui-widget-content {
                                border: 1px solid #dddddd;
                                //background: #ffffff;
                                color: @eia-dark-gray;
                            }
                            &.ui-menu {
                                list-style: none;
                                padding: .5em;
                                margin: 0;
                                display: block;
                                outline: 0;
                            }
                        }
                    }
                }
            }
        }
    }
	.close {
		position: absolute;
		cursor: pointer;
		z-index: 8040;
		top: 5px;
		right: 5px;
    }
}
@media @laptop {
    .fancybox-overlay {
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 8010;
        background: rgba(0,0,0,0.7);
    }
    .fancybox-overlay-fixed {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .fancybox-wrap {
        .fancybox-inner {
            .page_tabs {
                .sources-uses, .topics, .geography, .tools, .learn, .news {
                    &.left {
                        width: 50%;
                        padding-right: 18px;
                        border-right: 1px solid @light-gray;
                        margin-bottom: 1em;
                        float: left;
                    }
                    &.right {
                        width: 50%;
                        float: right;
                    }
                    div:last-child {
                        border-bottom: none;
                    }
                }

                .tabs-wrapper {
                    background: @eia-darker-blue;
                    min-height: 95px;
                    border: none;
                    margin: 0 0 15px 0;
                    padding: 30px 0 0 15px;
                }
                .ui-state-default {
                    background: none;
                    border: none;
                    a {
                        color: #fff;
                        font-size: 1.714em;
                        font-family: "Times New Roman",Times,serif;
                        font-weight: 200;
                    }
                }
                .ui-state-active {
                    background: none;
                    a {
                        border-bottom: 4px solid @eia-yellow;
                    }
                }
                :focus {
                    outline: none;
                }
                .ui-tabs-nav {
                    margin: 0;
                    padding: 0;
                    li {
                        margin: 30px 22px 0 22px;
                        display: inline-block;
                        a {
                            padding: 0 0 4px 0;
                            border-bottom-width: 4px;
                            text-decoration: none;
                        }
                    }
                }
                .ui-tabs-panel {
                    padding: 0;
                    border: none;
                    margin: 0 25px;
                }
                .nav-menu {
                    &.az-index {
                        margin: 0 40px;
                        border-top: 1px solid @light-gray;
                        p {
                            margin-bottom: 5px;
                        }
                        .az-list {
                            font-size: 1em;
                            .font;
                            font-size: 1em;
                            margin-top: 10px;
                            a {
                                padding: 0 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.close {
		top: -10px;
		right: -10px;
    }
}