@media @mobile {

	.page-wrapper {
		width: 100%;
//		height: 100%;
		border: none;
		background-color: transparent;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		.l-outer-wrapper#outerX {
			margin: 0 auto;
			background-color: #e2e6eb;
			border: 0;
//			height: 100%;
			position: relative;
			// end mobile
			// start laptop
			position: relative;
			padding: 0 1px;
			max-width: 990px;
			min-width: 990px;
			width: 990px;
			box-sizing: border-box;
			.l-inner-wrapper#innerX {
				background-color: #fff;
				display: table;
				// end mobile
				// start laptop
				border-right: 1px solid #dbdfe5;
				border-left: 1px solid #dbdfe5; 
				padding: 41px 15px 0 15px;
				box-sizing: border-box;
				max-width: 988px;
				min-width: 988px;
				width: 988px;
				margin: 0;			
				box-sizing: border-box;
			}		
		}
	}
//}
//@media @laptop {
	.l-outer-wrapper {
		padding: 0 1px; // 990px - 2px = 988px width
		// normall 1025 - big landscape tablets, laptops, and desktops
		max-width: 990px;
		min-width: 990px;
		width: 990px;
		.l-inner-wrapper {
			border-right: 1px solid #dbdfe5;
			border-left: 1px solid #dbdfe5; // 988px - 2px = 986px width
			width: 988px;
			padding: 106px 15px 50px 15px;
			// this is a column reset to keep all the moibile spacing from interfering with the laptop <
		}
	}
	// start mobile
	.l-column,
	.l-full-width-column,
	.l-main-column,
	.l-middle-column,
	.l-side-column,
	.l-split-narrow,
	.l-split-wide,
	.l-one-third-column,
	.l-two-column,
	.l-two-third-column {
		position: relative;
//		width: 100%;
		min-height: 1px;
		margin: 0;
		float: left;
	}
	.l-row {
		.l-column,
		.l-full-width-column,
		.l-main-column,
		.l-middle-column,
		.l-side-column,
		.l-split-narrow,
		.l-split-wide,
		.l-one-third-column,
		.l-two-column,
		.l-two-third-column { 
			margin-top: 1.500em;
		}
		&.header {
			.l-column,
			.l-full-width-column,
			.l-main-column,
			.l-middle-column,
			.l-side-column,
			.l-split-narrow,
			.l-split-wide,
			.l-one-third-column,
			.l-two-column,
			.l-two-third-column { 
				border-top: none;
			}
		}
	}
	.l-row {
		padding: 0 1em;
		display: table;
		width: 100%;
		&.header {
			padding: 0 0;
		}
	}
	// end mobile
	.l-row.header > div,
	.l-row.header > h1,
	.l-row.header > h2,
	.l-row.header > h3,
	.l-row.header > h4,
	.l-row.header > h5,
	.l-row.header > h6,
	.l-row.header > p,
	.l-row.header > ul,
	.l-row.header > ol,
	.l-column,
	.l-side-column,
	.l-one-third-column,
	.l-two-column,
	.l-middle-column,
	.l-split-narrow,
	.l-split-wide,
	.l-two-third-column,
	.l-main-column,
	.l-full-width-column {
		padding-left: 0;
		padding-right: 0;
	}
	// this is fallback incase a l-row isn't used.. 
	.l-row > h1,
	.l-row > h2,
	.l-row > h3,
	.l-row > h4,
	.l-row > h5,
	.l-row > h6,
	.l-row > p,
	.l-row > ul,
	.l-row > ol {
		padding-right: 22px;
	}
	div.content {
		padding-right: 15px;
		padding-left: 15px;
		width: 956px; // 986px - 30px = 956px (actual)
		display: table;
	}
	.container {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 956px;
	}
	.l-row {
		padding-left: 22px;
		padding-right: 0;
		border-left: 0;
		border-right: 0;
	}
	.l-row > div {
		padding-right: 44px;
	}
	.l-row > div:last-child {
		padding-right: 22px;
	}
	.l-row {
		&.header {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			border-left: 0;
			border-right: 0;
			.l-full-width-column {
				padding-right: 0;
			}
		}
		.l-row {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			border-left: 0;
			border-right: 0;
		}
	}
}

@media @laptop { // big landscape tablets, laptops, and desktops
	.page-wrapper {
		.l-outer-wrapper#outerX {
			.l-inner-wrapper#innerX {
				padding: 96px 15px 0 15px;
			}		
		}
	}

	.l-column {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.666667%;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.l-side-column {
		// 3 or 25%
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		// added
		width: 25%;
	}
	.l-one-third-column {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.333333%;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		// added
		width: 33.333333%;
	}
	.l-split-narrow {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 41.666%;
		-ms-flex: 0 0 41.666%;
		flex: 0 0 41.666%;
		max-width: 41.666%;
		// added
		max-width: 41.666%;
	}
	.l-middle-column,
	.l-two-column {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		// added
		width: 50%;
	}
	.l-split-wide {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.333%;
		-ms-flex: 0 0 58.333%;
		flex: 0 0 58.333%;
		max-width: 58.333%;
		// added
		max-width: 58.333%;
	}
	.l-two-third-column {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.666667%;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
		// added
		width: 66.666667%;
	}
	.l-main-column {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
		// added
		max-width: 75%;
	}
	.l-full-width-column {
		padding-right: 0;
		padding-left: 0;

		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		// added
		width: 100%;
	}
}