@media @mobile {
	#sticker {
		display: none;
	}
}
@media @laptop {
	#sticker {
		display: block;
		color: white;
		text-align: center;
		right: 0;
		margin: 0 -36px 0 0;
		overflow: hidden;
		.right;
		width: 35px;
		height: 74px;

		transition: opacity .25s ease-out;
		-moz-transition: opacity .25s ease-out;
		-webkit-transition: opacity .25s ease-out;
		&.shrink {
			transition: opacity .25s ease-in;
			-moz-transition: opacity .25s ease-in;
			-webkit-transition: opacity .25s ease-in;
		}





















		.social {
			position: relative;
			width: 160px;
			margin: 0;
			padding: 0;
			float: none;
			li {
				clear: left;
				margin-bottom: 2px;
				height: 35px;
				line-height: 35px;
				background: #F6F6F6;
				display: block;
				position: relative;
				overflow: hidden;
				&.link {
					padding: 5px 0 0 5px;
				}
				&.link {
					&.facebook {
						padding-top: 8px;
						height: 27px;
						overflow: hidden;
					}
				}
				&.link {
					&.pin {
						top: 8px;
					}
				}
				a {
					.right;
				}
			}
		}
	}
	.lt-ie8 #sticker1 {
		display: none;
	}
	div.addthis_toolbox {
		.right;
	}
	.positionable {
			position: absolute;
			display: block;
			right: 0;
			bottom: 0;
			text-align: center;
	}
	.tweet {
		padding-top: 2px;
	}
	.facebook {
		padding-top: 5px;
	}
	.imgalpha:hover {
		opacity: 0.7;
		filter: alpha(opacity=70); // For IE8 and earlier
	}
	.addthis_button_facebook_like {
		overflow: hidden;
	}
}
