@media @mobile {
  #sticker {
    display: block;
  }
}
@media @laptop {
  #sticker {
  //#sticker {
    color: white;
    text-align: center;
    right: 0;
    margin: 0 -36px 0 0;
    overflow: hidden;
    float: right;
    width: 35px;
    height: 74px;
    transition: all 0.15s ease 0.03s;
    border: 3px solid red;
    .social {
      position: relative;
      width: 160px;
      margin: 0;
      padding: 0;
      float: none;
      li {
        clear: left;
        margin-bottom: 2px;
        height: 35px;
        line-height: 35px;
        background: #F6F6F6;
        display: block;
        position: relative;
        overflow: hidden;
            list-style-type: none; // tim
        .link {
          padding: 5px 0 0 5px;
        }
        .link.facebook {
        padding-top: 8px;
        height: 27px;
        overflow: hidden;
        }
        .link.pin {
          top: 8px;
        }
        a {
          float: right;
        }
      }
    }
  }
  .lt-ie8 #sticker1 {
    display: none;
  }
  div.addthis_toolbox {
    float: right;
    display: block !important;
  }
  .positionable {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  .tweet{padding-top:2px;}
  .facebook {padding-top:5px;}
  .imgalpha:hover {opacity:0.7;filter:alpha(opacity=70); /* For IE8 and earlier */}
  .addthis_button_facebook_like {
    overflow:hidden;
    /*width: 45px !important;*/
  }
}
