
.ui-tabs .ui-tabs-nav li {
margin-bottom: -1px;
}
div.page_tabs > div > img:first-child {
margin-left: -10px;
}
.main_col div.page_tabs {
margin-bottom: 20px;
}
div#wholesale_propane, div#wholesale_heating, div#distillate_supply, div#propane_supply {
margin-top: 40px;
border-top: 3px solid #cccccc;
padding-top: 14px;
}
.mr_temp2 .basic_table caption {
padding: 0px 0px 0px 0px;
color: #189bd7;
text-transform: uppercase;
border-bottom: 1px solid #189bd7;
}
.mr_temp2 .basic_table caption em {
text-transform: none;
}
.mr_temp2 .basic_table caption span {
float: right;
text-transform: none;
font-weight: normal;
}
.mr_temp2 .basic_table caption a:hover span {
text-decoration: underline;
}
table.basic_table.fullwidth tbody tr td:nth-child(2), table.basic_table.fullwidth tbody tr td:nth-child(3), table.basic_table.fullwidth tbody tr td:nth-child(4) {
width: 100px;
}
table.basic_table.fullwidth thead tr th:nth-child(2), table.basic_table.fullwidth tbody tr td:nth-child(2) {
background-color: #f7f7f7;
}
tr[class^="padd"] td:first-child {
padding-left: 52px;
}
tr.ne td:first-child, tr.ca td:first-child, tr.la td:first-child{
padding-left: 36px;
}
tr.padd1a td:first-child,tr.padd1b td:first-child, tr.padd1c td:first-child {
padding-left: 68px;
}
.mr_temp2 .basic_table span.toggle img {
padding: 0;
margin: 0;
border: none;
float: none;
}
span.toggle {
margin-right: 6px;
cursor: pointer;
}
table.basic_table.fullwidth tbody tr.selected  td , table.basic_table.fullwidth tbody tr[id]:hover  td {
background-color: #e4f7ff;
}
table.basic_table.fullwidth tbody tr[id]:hover  td {
cursor: pointer;
}
.ico {
background: url("/global/images/icons/sprites/icon-sprites2.png") no-repeat;
width: 24px;
height: 13px;
display: inline-block;
cursor: pointer;
}
.ico.linechart {
background-position: -62px -67px;
}
.selected .ico.linechart {
background-position: -2px -67px;
}
.ico.linechart:hover, .mr_temp2 .basic_table tr:hover td > .ico.linechart {
background-position: -32px -67px;
}
.mr_temp2 .basic_table span.no_change, .mr_temp2 .basic_table span.value_down, .mr_temp2 .basic_table span.value_up {
width: 8px;
height: 12px;
margin-left: 2px;
display: inline-block;
float: none;
}
.mr_temp2 .basic_table span.value_down {
background: url(/petroleum/heatingoilpropane/images/icons/arrows.png) no-repeat center bottom;
}
.mr_temp2 .basic_table span.value_up {
background: url(/petroleum/heatingoilpropane/images/icons/arrows.png) no-repeat center 1px;
}
