/*
REMs        Pixels
_________________________________
font-size: 0.625rem; // 10 pixels	
font-size: 0.688rem; // 11 pixels
font-size: 0.750rem; // 12 pixels
font-size: 0.813rem; // 13 pixels
font-size: 0.875rem; // 14 pixels
font-size: 0.938rem; // 15 pixels
font-size: 1.000rem; // 16 pixels
font-size: 0.063rem; // 17 pixels
font-size: 1.125rem; // 18 pixels
font-size: 1.188rem; // 19 pixels
font-size: 1.250rem; // 20 pixels
font-size: 1.313rem; // 21 pixels
font-size: 1.375rem; // 22 pixels
font-size: 1.438rem; // 23 pixels
font-size: 1.500rem; // 24 pixels

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/* ***** ***** ***** **** accessibility **** ***** ***** ***** */
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.hidden {
	clip: rect(1px 1px 1px 1px); /* IE 6/7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
//.emulated-link-button,
//.accessibility-link-button,
//.eia-accessibility-link,
.eia-accessibility-link-description,
.eia-accessibility {
	clip: rect(1px 1px 1px 1px); /* IE 6/7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
/*
.emulated-link-button {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}
a {
	&.eia-accessibility-link {
		color: #0000ee;
		text-decoration: underline;
		&:link {
			color: #0000ee;
			text-decoration: underline;
		}
		&:active {
			color: red;
			text-decoration-color: red;
			text-decoration-style: dotted;
		}
		&:visited {
			color: #551a8b;
			text-decoration: underline;
		}
		&:hover {
			color: #0000ee;
			text-decoration: none;
		}
		&:focus {
			color: red;
			text-decoration-color: red;
			text-decoration-style: dotted;
		}
	}
}
*/
#skip {
	a {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
		&:focus {
			position: static;
			width: auto;
			height: auto;
		}
	}
}
