//container mixin defaults for adding icon via ::before or ::after
.controls-icon(@icon-width: 30px, @icon-height: 30px) {
	content: " ";
	height: @icon-height;
	width: @icon-width;
	display: block;
}

/*
container mixin defaults for adding icon via ::before or ::after
.controls-icon(@icon-width: 30px, @icon-height: 30px) {
content: ' ';
height: @icon-height;
width: @icon-width;
display: block;
}

.icon-file-type(@file-type, @base-fill-color: tint(@eia-black, 46.5%), @corner-fill-color: tint(tint(@eia-black, 46.5%), @icon-image-tint)) {
	.file-ext(@file-type);
	@icon-filter-svg: ~'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.65 66.17">@{icon-file-type}<path d="M42.8,4.83H12.08V61H56.8V18.83ZM54,58.23H14.86V7.61H42.8V18.83H54v39.4Z" fill="@{base-fill-color}"/><rect x="4.16" y="12.34" width="33.28" height="14.5" fill="@{file-type-fill}"/><text transform="translate(11.08 23.24)" font-size="10" fill="#ffffff" font-family="Arial" font-weight="700" style="text-transform: uppercase">@{file-type}</text><polygon points="56.8 18.83 42.8 4.83 42.8 18.83 56.8 18.83" fill="@{corner-fill-color}"/></svg>';
  .inline-svg-code(@icon-filter-svg);
    background: @-bg-defaults @-inline-svg-url;
}
*/

.nav-bar-icon(@icon-width: 55px, @icon-height: 55px) {
	content: " ";
	height: @icon-height;
	width: @icon-width;
	display: block;
	border: 1px solid @eia-green;
	border-radius: 100%;
	background-size: 68%;
}
// -mixin for encoding the svg-------------*/
.inline-svg-code( @code ) {
	@-svg-code: escape(~"@{code}");
	@-inline-svg-code: ~"data:image/svg+xml,@{-svg-code}";
	@-inline-svg-url: ~"url('@{-inline-svg-code}')";
	@-bg-defaults: ~"no-repeat center center";
}
// -mixins for changing EIA logomark color between single color and full color---------------------*/
.logomark-color(solid, @color) {
	@top-swoosh: @color;
	@middle-swoosh: @color;
	@bottom-swoosh: @color;
	@logo-text-color: @color;
}
.logomark-color(full, @color) {
	@top-swoosh: @eia-yellow;
	@middle-swoosh: @eia-green;
	@bottom-swoosh: @eia-blue;
	@logo-text-color: @color;
}
/* -mixins for changing EIA logomark color between single color and full color---------------------
.logomark-color(solid, @color) {
@top-swoosh: @color;
@middle-swoosh: @color;
@bottom-swoosh: @color;
@logo-text-color: @color;
}
.logomark-color(full, @color) {
@top-swoosh: @eia-yellow;
@middle-swoosh: @eia-green;
@bottom-swoosh: @eia-blue;
@logo-text-color: @color;
}
*/
