/*-mixin for encoding the svg-------------*/
/*-mixins for changing EIA logomark color between single color and full color---------------------*/
/*
.logomark-mono(full, @color) {
    @top-swoosh: @eia-yellow-mono;
    @middle-swoosh: @eia-green-mono;
    @bottom-swoosh: @eia-blue-mono;
    @logo-text-color: @color;
}
*/
/*-Topics Icons ---------------------------*/
/*-Sources & Uses Icons --------------*/
/*-News Icons -------------------------------*/
/*-Tools Icons ----------------------------*/
/*-Learn About Energy Icons -----------------*/
/*-Geography Icons ------------------------*/
/*-A-Z Icon --------------------------*/
/*-Submit search icon ----------------*/
/*-EIA logo --------------------------*/
@media (min-width: 1px) {
  .slider-home-top {
    border-bottom: solid 1px #d5d5d5;
    padding-bottom: 1px;
  }
  .slider-home {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    width: 100%;
    overflow: hidden;
  }
  .slider-home .bx-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
  .slider-home .bx-wrapper .bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
  }
  .slider-home .bx-wrapper .bx-viewport ul.bxslider {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .slider-home .bx-wrapper .bx-viewport ul.bxslider li {
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
  }
  .slider-home .bx-wrapper .bx-viewport ul.bxslider li img {
    max-width: 100%;
    display: block;
  }
  .slider-home .bx-wrapper .bx-viewport ul.bxslider li .slider-overlay {
    display: block;
    margin: 1em auto;
    width: 90%;
    background-color: rgba(0, 60, 87, 0.7);
  }
  .slider-home .bx-wrapper .bx-viewport ul.bxslider li .slider-overlay .slider-content {
    padding: 1em;
  }
  .slider-home .bx-wrapper .bx-viewport ul.bxslider li .slider-overlay .slider-content h2 {
    font-family: "Times New Roman", "Times", serif;
    font-style: normal;
    font-weight: normal;
    color: #333;
    color: #fff;
    font-size: 1.5rem;
    line-height: 32px;
  }
  .slider-home .bx-wrapper .bx-viewport ul.bxslider li .slider-overlay .slider-content h2 a {
    color: #FFF;
  }
  .slider-home .bx-wrapper .bx-viewport ul.bxslider li .slider-overlay .slider-content h3 {
    font-family: "Times New Roman", "Times", serif;
    font-style: normal;
    font-weight: normal;
    color: #333;
    color: #b3c2c9;
    font-size: 1.25rem;
    line-height: 32px;
    text-transform: none;
  }
  .slider-home .bx-wrapper .bx-viewport ul.bxslider li .slider-overlay .slider-content h3 a {
    color: #b3c2c9;
  }
  .slider-home .bx-controls.bx-has-pager {
    display: table;
    margin: 0.75em auto .5em;
  }
  .slider-home .bx-controls.bx-has-pager .bx-pager-item {
    position: relative;
    float: left;
    display: block;
    z-index: 10 !important;
  }
  .slider-home .bx-controls.bx-has-pager .bx-pager-item .bx-pager-link {
    text-indent: -99999px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5em;
    width: 5px;
    height: 5px;
    background-color: #a9c1da;
    padding: 0;
    border: 0;
  }
  .slider-home .bx-controls.bx-has-pager .bx-pager-item .bx-pager-link:hover {
    background-color: #ffc702;
  }
  .slider-home .bx-controls.bx-has-pager .bx-pager-item .bx-pager-link.active {
    background-color: #ffc702;
  }
  .feature_new1 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner1.jpg);
  }
  .feature_new2 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner2.jpg);
  }
  .feature_new3 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner3.jpg);
  }
  .feature_new4 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner4.jpg);
  }
  .feature_new5 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner5.jpg);
  }
  .feature_new6 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner6.jpg);
  }
  .feature_new7 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner7.jpg);
  }
  .feature_new8 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner8.jpg);
  }
  .feature_new9 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner9.jpg);
  }
  .feature_new10 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner10.jpg);
  }
  .feature_new11 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner11.jpg);
  }
  .feature_new12 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner12.jpg);
  }
  .feature_new13 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner13.jpg);
  }
  .feature_new14 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner14.jpg);
  }
  .feature_new15 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner15.jpg);
  }
  .feature_new16 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner16.jpg);
  }
  .feature_new17 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner17.jpg);
  }
  .feature_new18 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner18.jpg);
  }
  .feature_new19 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner19.jpg);
  }
  .feature_new20 {
    background: url(https://www.eia.gov/global/images/homepage_rotating_features/homepage_banner20.jpg);
  }
}
@media (min-width:480px) {
  .slider-home .bx-wrapper .bx-viewport ul.bxslider li .slider-overlay {
    float: right;
    margin: 1em;
    min-height: 180px;
    width: 50%;
  }
}
@media (min-width: 600px) {
  .slider-home .slider-overlay .slider-content {
    padding: 1em;
  }
  .slider-home .slider-overlay .slider-content h2 {
    font-family: "Times New Roman", "Times", serif;
    font-style: normal;
    font-weight: normal;
    color: #333;
    font-size: 1.5rem;
    color: #fff;
    line-height: 32px;
  }
  .slider-home .slider-overlay .slider-content h2 a {
    color: #FFF;
  }
  .slider-home .slider-overlay .slider-content h3 {
    font-family: "Times New Roman", "Times", serif;
    font-style: normal;
    font-weight: normal;
    color: #333;
    color: #b3c2c9;
    line-height: 32px;
  }
  .slider-home .slider-overlay .slider-content h3 a {
    color: #b3c2c9;
  }
}
@media (min-width: 956px) {
  .slider-home-top {
    width: 956px;
    border-bottom: solid 1px #d5d5d5;
    padding-bottom: 1px;
  }
  .slider-home {
    width: 956px !important;
    height: 280px !important;
  }
  .slider-home .bx-wrapper {
    width: 956px !important;
    height: 280px !important;
  }
  .slider-home .bx-wrapper .bx-viewport {
    width: 956px !important;
    height: 280px !important;
  }
  .slider-home .bx-wrapper .bx-viewport li {
    width: 956px !important;
    height: 280px !important;
  }
  .slider-home .bx-wrapper .bx-viewport li .slider-overlay {
    margin: 28px;
    width: 353px !important;
    height: 234px !important;
  }
  .slider-home .bx-wrapper .bx-viewport li .slider-overlay .slider-content {
    padding: 17px 24px 17px 24px !important;
  }
  .slider-home .bx-wrapper .bx-viewport li .slider-overlay .slider-content h2 {
    font-size: 1.5rem;
    line-height: 32px;
  }
  .slider-home .bx-wrapper .bx-viewport li .slider-overlay .slider-content h3 {
    font-size: 1.25rem;
    line-height: 32px;
    text-transform: none;
  }
  .slider-home .bx-controls.bx-has-pager {
    position: relative;
    top: -90px;
    left: 615px;
    width: 305px;
    display: block;
    margin: 0;
  }
  .slider-home .bx-controls.bx-has-pager .bx-pager.bx-default-pager {
    float: left;
  }
  .slider-home .bx-controls.bx-has-pager .bx-pager-item .bx-pager-link {
    width: 13px;
    height: 13px;
  }
  .slider-home-bottom {
    width: 956px;
    height: 18px;
    float: left;
    background: url("https://www.eia.gov/global/images/bg/h_line_shadow_feature_banner.png") no-repeat top center;
  }
}
@media (min-width: 990px) {
  .slider-home {
    margin: inherit;
  }
}
