
// move to shared

.sub-section + p {
	margin: 1em 0 0 0;
}
.sub-section {
	padding: 1em 0 0 0;
	margin: 1em 0 0 0;
	border-top: 1px solid @eia-dark-grey;
}

.sub-section-minor {
	padding: 1em 0 0 0;
	margin: 1em 0 0 0;
	border-top: 1px dashed #cccccc;
}



@media @mobile {
	.top-container {
		padding: 0 0 2em 0;
		margin: 2em 0 0 0;
		border-top: 1px dashed #ccc;
	}
	.top {
		visibility: hidden;
	}
	.article-alt,
	.article {
		blockquote {
			//background: #f9f9f9;
			//border-left: 10px solid #ccc;
			margin: 1.5em 10px;
			padding: 0.5em 10px;
			//quotes: "\201C""\201D""\2018""\2019";
		  }
		  /*
		  blockquote:before {
			color: #ccc;
			content: open-quote;
			font-size: 4em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		  }
		  blockquote:after {
			color: #ccc;
			content: close-quote;
			font-size: 4em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		  }
		  */
		  //blockquote p {
		//	display: inline;
		//  }
		ul {
			list-style-type: disc;
			margin: 6px 0 0 0;
			li {
				margin: 5px 0 0 0;
				padding: 0;
			}
			ul {
				list-style-type: disc;
				margin: 0 0 6px 0;
				li {
					margin-bottom: 5px;
					padding: 0;
					font-size: 0.875rem;
					line-height: 1.4;
	
				}
			}
			
			&.basic-list {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					margin: 0 0 5px 0;
					&.sub-head {
						margin-top: 14px;
						margin-bottom: 8px;
						line-height: 1.3em;
						font-size: .875rem;
						font-weight: 600;
					}
					ul {
						border-bottom: none;
						&.basic-list {
							list-style: none;
							li {
								list-style: none;
								margin: 0 0 5px 0
							}
						}
					}
				}	
			}
		}
		.image-container {
			margin-bottom: 1em;
		}
		.accordion-content {
			&>ul {
				border-bottom: dashed 1px #d8d8d8;
				padding: 14px 0;
				margin: 0 0 0 0;
				&:last-child {
					border-bottom: none;
				}
			}
		}
		.tabs {
			&>ul {
				list-style: none;
				width: 100%;
				padding: 0;
				margin: 0;
				display: table;
			}
		}
		p {
			+ div {
				margin: .5em 0 0 0;
			}
		}
		.ico {
			margin-left: 0 !important;
		}
		ol {
			padding: 1em 0 1em 1em;
			li {
				.font;
				margin: 5px 0 0 0;
				padding: 0;
				font-size: 0.875rem;
				line-height: 1.4;
				color: @eia-dark-grey;
			}
		}
		// article ul
		h1 {
			.header-font;
			font-size: 2rem;// 32px;
			line-height: 1.25;
			padding: 1em 0 0 0;
		}
		h1 + .accordion {
			padding: 1em 0 0 0;
		}


		h4 {
			.font;
			.bold;
			font-size: .9375rem;
			line-height: 1.25;
			margin: 1em 0 0 0;
			&.footnotes {
				margin: 20px 0 0 0;
    			padding: 10px 0;
    			border-top: 1px dashed #adadad;
			}
		} // finalized
		h5 {
			.font;
			.bold;
			font-size: 0.875rem;
			line-height: 1.25;
			margin: 1em 0 0 0;
		} // finalized
		h6 {
			.font;
			.bold;
			font-size: 0.875rem;
			line-height: 1.25;
			margin: 1em 0 0 0;
			text-transform: uppercase;
		} // finalized
		p {
			&:first-of-type {
				margin: 0;
				//border: 1px solid red;
			}
		}
		h1, h2, h3, h4, h5 {
			+ P {
				&:first-of-type {
					margin: .25em 0 0 0;
					//border: 1px solid green;
				}
			}
			+ p {
				margin: .25em 0 0 0;
				//border: 1px solid blue;
			}
		}
		h1, h2 {
			&:first-child {
				padding: 0;
				margin: 0;
			}
			+ div {
				margin: 1em 0 0;	
			}
		}



		p {
			margin: 1em 0 0 0;
			&.footnotes {
				display: inline-block;
				position: relative;
				margin: 0 0 12px 8px;
				padding: 0 0 0 0;
				sup {
					position: absolute;
					left: -8px;
					top: 0;
				}
			}
		}

		div {
			&.release-date {
				.font;
				font-size: 0.875rem;
				line-height: 1.4;
				margin: 4px 0 20px 0;
			}
		}
	}
	.article {
		h3 {
			.font;
			.bold;
			font-size: 0.9375rem;// 14.6px;
			font-weight: 700;
			line-height: 1.25;
			text-transform: uppercase;
			margin: 1em 0 0 0;
		} // finalized
		h2 {
			.font;
			.bold;
			font-size: 1.1875rem;
			line-height: 1.25;
			color: @eia-dark-grey;
			margin: 1em 0 0 0;
			font-weight: 700;
			&:first-child {
				padding: 0;
				margin: 0;
			}
		}
	}	
	.article-alt {
		h3 {
			.header-font;
			font-size: 1.625rem; // 26? pixels
			line-height: 1;
    		margin: 0 0 .5em;
			padding: .5em 0 6px;
			border-bottom: solid 1px #dadada;
		}
		h2 {
			.font;
			.bold;
			font-size: 1.1875rem;
			line-height: 1.25;
			color: @eia-dark-grey;
			margin: 1em 0 .5em 0;
			text-transform: uppercase;
		}
		h2 + h3 {
			padding: 0 0 6px;
		}
	}
}

@media @tablet {
	.article {
		margin-bottom: 1em;
	}
}
@media @laptop {
	.top {
		visibility: visible;
	}
}
