/* ****************************************************************************
GLOBAL HTML
**************************************************************************** */
fieldset {
	border:solid 1px #cfcfcf;
	padding:.5em;
	margin: 0em 0em .7em 0em;
	background-color:#fefefe;
}

.inputWrapper {
	/*
	border:solid 1px #cfcfcf;
	padding:.2em .3em .5em .3em;
	margin:.2em;
	min-height:35px;
	border-top:solid 1px #ececec;
	border-right:solid 2px #cfcfcf;
	border-bottom:solid 2px #cfcfcf;
	border-left:solid 1px #ececec;
	*/
	margin-bottom:0px;
	padding-bottom:0px;
	clear:both;
}

.inputWrapper label {
	font-weight:bold;
	color:#57aef3; 
	text-transform:uppercase;
	/*
	display:block; 
	min-width:150px;
	text-align:right;
	float:left;
	*/
}


.inputWrapper .submitButton {
	clear:all;
}



.deleteButton {
	border:solid 1px black;
	background-color:#f0f;
	color:#000;
	font-weight:bold;
}