/******************************************************************************
TEXT
******************************************************************************/
h1 {
	font-size:1.3em;
	margin-bottom:.7em;
	font-weight:bold;
	color:#339;
}


.newObjectLink {
	display:block;
	padding:.3em;
	font-weight:bold;
	margin:0 0 .5em 0;
	width:400px;
}