
@media @tablet {
	.homepage {
	    .l-row {

/*   _______    		 ___________
/*  |c|  a  |   		|_____a_____|
/*  |d|_____|   to		|_____b_____|
/*  |e|  b  |   	    | c | d | e |
/*  |_|_____|   		|___|___|___|

/*  1) this takes the l-three-col-even and retains the columns on the hp from tablet + */
/*  2) this takes the nested modules inside the l-col makes them act like a three-column-even on the hp from tablet + */

			//&.l-two-col-left-narrow,
			&.l-two-col-right-narrow {

				.l-main-col {
					.l-row {
						&.l-three-col-even {
							padding-left: 0;
							/*
							.l-col { 
								width: 32%;
							}
							*/
						}
					}

				}
				/*
				.l-col {
					width: 100%;
					-ms-box-orient: horizontal;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -moz-flex;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-flow: row wrap;
					justify-content: space-between;
					display: inline-flex;
					flex-flow: row wrap;
					&>div {
						width: 32%;
						position: relative;
						min-height: 1px;
						//margin: 0;
						float: left;
					}
				}
				*/
			}
		}
    }
}
//@mobile: 				320px	-	479
//@mobile-landscape: 	480px	-	599
//@tablet: 				600px	-	800
//@tablet-landscape: 	801px	-	955
//@laptop: 				956px		<

@media @tablet-landscape {
	.homepage {
		.l-row {
			//padding-left: 0;
			&.l-three-col {
				padding-left: 0;
				&>div {
					&.l-col { 
						.primary { 
							ul {
								margin-left: 22px;
							}
						}
					}
				}
			}
			&.l-three-col-even {
				&>div {
					&.l-col {
						&:nth-child(1) {
							ul {
								margin: 0 0 0 22px;
							}
						}
						/*
						&:nth-child(2) {
							ul {
								margin: 0;
							}
						}
						&:nth-child(3) {
							ul {
								margin: 0 22px 0 0;
							}
						}
						*/
					}
				}
			}
		}
	}
}

@media @laptop {
	.homepage {
		.l-row {
			&.l-two-col-right-narrow {
				padding-left: 0;
				.l-main-col {
					.l-row {
						&.l-three-col-even {
							padding-left: 0;
							//.l-col { 
							//	width: 32%;
							//}
						}
					}

				}
				&>.l-col {
					//width: 73%;
					&:last-child {
					   //width: 23%;
					   display: table-cell; // this disables flex
					   &>div {
						   width: 100%;
					   }
					}
				}
				/*
				.l-col {
					width: 23%;
					display: table-cell; // this disables flex
					&>div {
						width: 100%;
					}
				}
				*/
			}
		}
	}
}
