@media @mobile {
    table {
        //margin-bottom: 12px;
        width: 100%;
       // margin: auto;
        //padding: auto;
        border-collapse: collapse; // eliminate all cellspacing
        border-spacing: 0;
        color: @eia-dark-grey;
        .font;
        &.highlight-col-1 {
            th:nth-child(1),
            td:nth-child(1) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-2 {
            th:nth-child(2),
            td:nth-child(2) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-3 {
            th:nth-child(3),
            td:nth-child(3) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-4 {
            th:nth-child(4),
            td:nth-child(4) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-5 {
            th:nth-child(5),
            td:nth-child(5) {
                background-color: #f7f7f7;
            }
        }
        &.highlight-col-6 {
            th:nth-child(6),
            td:nth-child(6) {
                background-color: #f7f7f7;
            }
        }
        caption {
            font-size: .938rem; //15px / 11pt;
            .align-left;
            .bold;
            caption-side: top;
            a {
                color: @eia-blue;    
            }
        }
        thead {
            tr {
                th {
                    font-size: .750rem * 1.10%;
                    vertical-align: top;
                    .align-left;                     
                    padding: 6px 10px 5px 10px;
                    .bold;
                    &.divider {
                        border-color:  #fff;
                        padding: 0;
                        width: 6px;
                    }
/*
                    &.no-border {
                        border-color: transparent;
                    }
                    &.left {
                        .left;
                    }
                    // float right
                    &.right {
                        .right;
                    }
                    &.align-left {
                        .align-left;
                    }
                    &.align-center {
                        text-align: center;
                    }
                    &.align-right {
                        .align-right;
                    }
                    &.align-top {
                        vertical-align: top;
                    }
                    &.align-middle {
                        vertical-align: middle;
                    }
                    &.align-bottom {
                        vertical-align: bottom;
                    }
                    h4 {
                        padding: 0 !important;
                        margin: 0 !important;
                    }
*/
                }
                td {
                    color: RED;// used to identify bad formatted HTML tables
                }
            }
            &.nested-header {
                th {
                    border-top: 1px solid #d8d8d8;;
                    background-color: #fff;
                    padding: 8px 10px 7px 10px;
                    font-weight: 13px;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: .750rem * 1.10%;
                    vertical-align: top;
                    .align-left;
                    padding: 6px 10px 5px 10px;
                    a {
                        color: @eia-blue;    
                    }
                    h4 {
                        margin: 0;
                        padding: 0;
                    }
                    &.divider {
                        border-color: #fff;
                        padding: 0;
                        width: 6px;
                        &:first-child {
                            td {
                                border-top: 3px solid #fff;
                            }
                        }
                    }
/*
                    &.no-border {
                        border-color: transparent;
                    }
                    &.left {
                        .left;
                    }
                    // float right
                    &.right {
                        .right;
                    }
                    &.align-left {
                        .align-left;
                    }
                    &.align-center {
                        text-align: center;
                    }
                    &.align-right {
                        .align-right;
                    }
                    &.align-top {
                        vertical-align: top;
                    }
                    &.align-middle {
                        vertical-align: middle;
                    }
                    &.align-bottom {
                        vertical-align: bottom;
                    }
*/           
                }
                &.past-holiday{
                    td {
                        border-bottom:1px solid #d8d8d8;;
                        //vertical-align:bottom;
                        //text-align:right;
                        color:fade(@eia-black, 40%);
                    }
                }
                &.total {
                    td {
                        .semi-bold;
                    }
                }
                &.indented {
                    td {
                        &:first-child {
                            padding-left: 20px;
                        }
                        &.indented {
                            padding-left: 20px;
                        }
                    }
                }
            }   
        }
        tfoot {
            tr {
                td {
                    font-size: .750rem * 1.10%;
                    vertical-align: top;
                    .align-left;                     
                    padding: 6px 10px 5px 10px;
                    a {
                        color: @eia-blue;   
                    }
                }
            }    
        }
    }  
}





@media @mobile {
    table {
        caption {
            font-size: .938rem; //15px / 11pt;
        }
        thead {
            tr {
                th {
                    font-size: .750rem; // 12px;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: .750rem; // 12px;
                }
            }   
        }
        tfoot {
            tr {
                td {
                    font-size: .750rem; // 12px;
                }
            }    
        }
    }  
}
