#energy-explained {
  margin-bottom: 4em;


h1 { color: red}
h2 { color: blue}
.l-row { display: table; width: 100%;  margin-bottom: 10px }
//.energy {}



  .top-row,
  .non-renewable-sources,
  .renewable-sources,
  .secondary-sources,
  .energy-in-your-state,
  .international-energy {
    border-top: 3px solid red; border-bottom: 3px solid blue;
    padding: 5px 0;
    .l-mobile-20 {
      text-align: center;
      height: 200px}
    .caption {
      color: orange;
      .bold;
    }
  }
.top-row {  }
.non-renewable-sources { padding: 5px 0;}
.renewable-sources {}
.secondary-sources {}
.energy-in-your-state {}
.international-energy {}


span.caption { display: block; width: 100%; text-align: center }

//.img {}
.rowspan-2 { height: 400px; border-right: 3px solid #d8d8d8; }

}