
@media @mobile {

    //	.l-full-width-col,
	.l-main-col,
//	.l-middle-col,
//	.l-split-narrow-col,
//	.l-split-wide-col,
//	.l-one-third-col,
	.l-two-col
//	.l-two-third-col
//	.l-main-col 
{
		.primary-alt,
		.primary,
		.secondary-alt,
		.secondary {
            margin-bottom: 3em;
            h1 {
                display: block;
                border-bottom: solid 1px #dadada;
                padding: 1em 0 .4em 0;
                clear: both;
                line-height: 1;
                margin-bottom: .5em;
                font-weight: normal;
                .header-font;
                font-size: 26px;
                color: @eia-dark-grey;  
            }
            h2 {
                padding: 0 0 7px 0;
                margin: 14px 0 7px 0;
                color: @eia-dark-grey;
                .font;
                .bold;
                font-size: 0.750rem;
                text-transform: uppercase;

                
            }
		}
	}
}

@media @tablet {
	.l-main-col,
    .l-two-col {
        .primary-alt 
        .primary,
        .secondary-alt,
        .secondary {
		    margin-bottom: 2em;
        }
    }
}
@media @laptop {
	.l-main-col,
    .l-two-col {
        .primary-alt 
        .primary,
        .secondary-alt,
        .secondary {
            margin-bottom: 1em;
        }
    }
}