@charset "utf-8";
/* CSS Document */

body {
	font-family:'trebuchet ms', verdana, arial;
	background-color: #036;
	color:#333;
	font-size: 10pt !important;
}

h1, h2 {
	font-size: 11pt !important;
	font-weight:bold;
	margin-bottom:2px;
	padding-bottom:0px;
}

p, input, textarea, label, .followup {
	font-size: 10pt !important;
}
.intro {
	padding:10px;
	background-color:#d3e1fa;
	border-bottom:1px solid #06C;
	color:black;
}
.qnum {
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: #0080ff dotted 1px;
}
.submit {
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
}
.question {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:0px;
	border-bottom: #0080ff dotted 1px;
}
.choices {
	padding-top:0px !important;
	margin-top:0px !important;
	margin-left:0px;
	padding-bottom:14px;
}
textarea, .numresponse {
	margin-left:4px;
}

.followup {
	padding-top:4px;
	padding-bottom:4px;
	margin-top:0px !important;
	margin-left:4px;
	padding-left:16px;
	background-color:#eee;
}