@media @mobile {
	footer {
		background-color: rgb(35, 32, 35);
		nav {
			padding: 1em;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				height: 50px;
				float: left;
				li {
					list-style: none;
					display: block;
					float: left;
					//padding: 12px 20px 12px 20px;
					height: 50px;
					position: relative;
					text-decoration: none;
					transition-duration: 0.5s;
					a {
						padding: 16px 30px;
						margin-left: 1px;
						display: block;
						&:link,
						&:active,
						&:visited {
							color: #fff;
							text-decoration: none;
							text-transform: uppercase;
							text-decoration: none;
						}
						&:hover {
							color: #fff;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
