
@media @mobile {
	.site-footer {
		width: 100%;
		height: 100px;
		margin: 0 auto;
		border-top: 1px solid #eee;
		background-color: #fefefe;
		.wrapper {
			padding: 20px;
		}
		
		/*
		ul {
			width: 90%;
			margin: 1em 5% 2em 5%;
			list-style: none;
			padding: 0;
			display: table;
			li {
				width: 15%;
				float: left;
				ul {
					width: 100%;
					list-style: none;
					margin: 0;
					padding: 0;
					display: table;
					li {
						width: 100%;
						float: left;
						a {
							color: @eia-green;
							text-decoration: underline;
							&:hover {
								color: tint(@eia-green, 15%);
								text-decoration: none;
							}            
						}
					}
				}
			}
		}
		*/
		&:after {
			display: block;
			content: "";
			clear: both;
		}
	}
}
@media @laptop {
	//footer {
	//	width: 980px;
	//	background-color: #fff;
	//}
}