@media @mobile {
	.site-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: @eia-darker-blue;
        color: #fff;
        transition: all 0.3s ease-in-out;
		z-index: 999;
		.logo {
			float: left;
			margin: 0 25px 0 15px;
			&:before {
				height: 40px;
				width: 40px;
			}
		}
        .primary-nav {
			display: none;
			transition: all 0.3s ease-in-out;
        }
		/*
		.menu-toggle {
            height: 20px;
            .right;
            display: block;
            margin: 12px 65px 10px 0;
            clear: right;
		}
		*/
        ul {
            &#navList {
                list-style: none;
                margin: 17px 0 0 0;
                padding: 0;
                float: left;        
                li {
					&.primary-nav-item {
						list-style: none;
						display: block;
						float: left;
						padding: 12px 20px 12px 20px;
						position: relative;
						text-decoration: none;
						transition-duration: .5s;
						a {
							color: white;
							text-decoration: none;
							text-transform: uppercase;
						}
						&:hover {
							background: shade(@eia-blue, 45%);
							cursor: pointer;
							&>ul {
								visibility: visible;
								opacity: 1;
								display: block;
								transition-duration: .5s;
							}
						}
						ul {
							list-style: none !important;
							background: shade(@eia-blue, 45%);
							visibility: hidden;
							opacity: 0;
							//min-width: 5rem;
							position: absolute;
							transition: all .5s ease;
							margin-top: 16px;
							left: 0;
							display: none;
							list-style: none;
							padding: 0 0 10px 0;
							li {
								list-style: none !important;
								clear: both;
								width: 100%;
								padding: 9px 18px 3px 18px;
								margin: 0;
								white-space: nowrap;
								&:hover {
									background-color: shade(@eia-blue, 30%);
									display: block;
								}
							}
						}
					}
                }
            }
        }
		&__menu-icon {
			width: 20px;
			height: 19px;
			position: absolute;
			z-index: 10;
			top: 10px;
			right: 10px;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: white;
				transform-origin: 0 0;
				transition: transform .3s ease-out;
			}
			&__middle {
				position: absolute;
				top: 8px;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: #FFF;
				transition: all .3s ease-out;
				transform-origin: 0 50%;
			}
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: #FFF;
				transform-origin: 0 100%;
				transition: transform .3s ease-out;
			}

		}
		&__menu-icon--close-x {
			&::before {
				transform: rotate(45deg) scaleX(1.25);
			}
			.site-header__menu-icon__middle {
				opacity: 0;
				transform: scaleX(0);
			}
			&::after {
				transform: rotate(-45deg) scaleX(1.25) translateY(1px);
			}
		}
		&__menu-content {
			opacity: 0;
			transform: scale(1.2);
			transition: all .3s ease-out;
			position: relative;
			z-index: -10;
			padding-top: 90px;
			text-align: center;
			&--is-visible {
				opacity: 1;
				z-index: 1;
				transform: scale(1);
			}
		}
	}
	#content {
		position: relative;
		top: 0;
		margin: 40px 0 60px;
		padding: 0 12px;
	}
}

@media @tablet {	// mobile panorama
	.site-header {
		height: 60px;
		.logo {
			//float: left;
			margin: 0 15px;
			&:before {
				height: 60px;
				width: 60px;
			}
		}
		&--dark {
			height: 40px;
			.logo {
				margin: 0 25px 0 15px;
				&:before {
					height: 40px;
					width: 40px;
				}
			}
			ul {
				&#navList {
					height: 30px;
					margin: 0 0 0 0;
					li {
						&.primary-nav-item {
							padding: 11px 20px 10px 20px;
							transition-duration: .5s;
						}
					}
				}
			}
		}

		&__menu-icon {
			display: none;
		}
		.primary-nav {
			display: block;
		}
		&__menu-content {
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			transform: scale(1);
		}
	}
	#content {
		margin: 90px 0 60px;
		padding: 0 20px;
	}
}
@media @laptop {
	ul {
		&#navList {
			li {
				&.primary-nav-item {
					a {
						color: white !important;
					}
				}
			}
		}
	}
}