@media @mobile {
	._source-icon {
		width: 100%;
		padding: 0.5em 10px;
		float: left;
		margin: 0 0 0.5em 0;
	}
	.iconic-list-item {
		width: 100%;
		._source-icon {
			width: 250px;
			padding: 0.5em 10px;
			float: left;
			margin: 0 0 0.5em 0;
			._example {
				width: 100%;
			}
		}
	}
	._visualizations-icons {
		._source-icon {
			width: 100%;
			padding: 0;
			margin: 0 auto;
		}
	}
}
@media @mobile-landscape {
	._visualizations-icons {
		._source-icon {
			width: 150px;
			float: left;
			margin: 0;
		}
	}
}

._header-logo {
	background-color: #003c57;
	padding: 10px;
	a {
		width: 300px;
	}
	.logo-full-size {
		display: inline-block;
		border: 1px dotted white;
		h1 {
			text-indent: -9999px;
		}
		.logo {
			float: left;
			&:before {
				.controls-icon(302px, 101px);
				.icon-logo;
				float: left;
			}
		}
		.beta {
			float: left;
			&:after {
				.controls-icon(130px, 65px);
				float: left;
				margin-top: 30px;
			}
			&.logo {
				float: left;
				&:before {
					.controls-icon(100px, 100px);
					.icon-eia-logomark;
					float: left;
				}
			}
		}
	}
	.logo-shrink {
		display: inline-block;
		border: 1px dotted white;
		h1 {
			text-indent: -9999px;
		}
		.logo {
			float: left;
			&:before {
				.controls-icon(50px, 40px);
				.icon-eia-logomark;
				float: left;
			}
		}
		.beta {
			float: left;
			&:after {
				.controls-icon(60px, 30px); // w h
				float: left;
				margin-top: 12px;
			}
			&.logo {
				&:before {
					.controls-icon(50px, 40px);
					.icon-eia-logomark;
					float: left;
				}
			}
		}
	}
}

.logo-logo-white-background {
	display: table;
	margin: 20px auto;
	border: 1px dotted @eia-dark-grey;
	.print-logo {
		&:before {
			.controls-icon(302px, 101px);
			.icon-logo(@font-color: "@eia-dark-grey");
		}
	}
	.logo-white-background {
		&:before {
			.controls-icon(50px, 40px);
			.icon-eia-logomark(full, "@eia-dark-grey");
		}
	}
}

.style-guide {
	.ico {
		&.zoom {
			//&:before {
			//	.controls-icon(16px, 16px);
			display: inline-block;
			//}
		}
	}
}

/*
&.pdf,
&.xls,
&.csv,
&.json,
&.ppt,
&.html,
&.doc,
&.image,
&.interactive {
	&:before {
		display: inline-block;
		margin-bottom: -3px;
		margin-right: 5px;
	}
	&:after {

	}
}
*/
/*
.down-arrow,
.up-arrow,
.ico_down,
.ico_up ,
.right-arrow-head,
.analysis-projections-icon,
.markets-finance-icon,
.environment-icon,
.petroleum-icon,
.natural-gas-icon,
.electricity-icon,
.consumption-icon,
.coal-icon,
.nuclear-icon,
.renewable-icon,
.total-energy-icon,
.featured-reports-icon,
.press-room-icon,
.whats-new-icon,
.upcoming-icon,
.eia-glossary-icon,
.data-tools-model-icon,
.open-data-icon,
.beta-icon,
.follow-us-icon,
.reports-icon,
.survey-forms-icon,
.email-complex-icon,
.rss-complex-icon,
.today-in-energy-icon,
.energy-explained-icon,
.energy-in-brief-icon,
.faq-icon,
.teachers-icon,
.states-icon,
.maps-icon,
.international-icon,
.a-z-index-icon,
*/

._source-icon {
	.ico {
		&.search-submit,
		&.close-menu,
		&.analysis,
		&.cancel,
		&.column-chart,
		&.compare,
		&.d-arrow,
		&.download,
		&.edit,
		&.filter,
		&.grab-dot,
		&.grid-column,
		&.grid-line,
		&.grid-map,
		&.grid-parent-column,
		&.grid-parent-line,
		&.grid-parent-map,
		&.grid-parent-pin,
		&.grid-pin,
		&.grid-key,
		&.help,
		&.key,
		&.l-arrow,
		&.l-range,
		&.line-chart,
		&.map,
		&.pause,
		&.pin,
		&.play,
		&.r-arrow,
		&.r-range,
		&.remove,
		&.reset,
		&.reset-animation,
		&.scroll-h,
		&.scroll-v,
		&.search-icon,
		&.slide,
		&.sort,
		&.sort-down,
		&.sort-up,
		&.submit,
		&.checkmark,
		&.dash,
		&.dot,
		&.collapse,
		&.facebook,
		&.twitter,
		&.youtube,
		&.flickr,
		&.linkedin,
		&.email,
		&.rss,
		&.residential,
		&.commercial,
		&.industrial,
		&.d,
		&.a,
		&.p,
		&.da,
		&.ap,
		&.dp,
		&.dap,
		&.printer,
		&.beta,
		&.interactive,
		&.external-link,
		&.tour,
		&.info,
		&.facebook,
		&.twitter,
		&.youtube,
		&.flickr,
		&.linkedin,
		&.email,
		&.rss,
		&.pdf,
		&.xls,
		&.json,
		&.csv,
		&.add-download,
		&.add-chart,
		&.full-screen,
		&.options,
		&.table,
		&.lock,
		&.unlock,
		&.submit,
		&.clone {
			cursor: pointer;
			/*
			&:before {
				display: inline-block;
				margin-bottom: -3px;
				margin-right: 5px;
			}
			& > span {
				color: @eia-blue !important;
				text-transform: uppercase;
				.font;
				display: inline-block;
			}
			*/
		}
	}
}
