@media @mobile {
	._icon-vertical {
		display: table;
		width: 100%;
		._source-icon {
			margin: 0 0 4em 0;
			display: table;
			width: 100%;
		}
	}
	.iconic-list-item {
		width: 100%;
		._source-icon {
			width: 250px;
			padding: 0.5em 10px;
			float: left;
			margin: 0 0 0.5em 0;
			._example {
				width: 100%;
			}
		}
	}
	._visualizations-icons {
		._source-icon {
			width: 100%;
			padding: 0;
			margin: 0 auto;
		}
	}
	// weekly icons
	.base {
		.l-report-header-petroleum-weekly {
			border: none !important;
		}
		//.l-full-width-col {
		.g_container {
			border: none !important;
			padding: 0 !important;
			margin: 0 !important;
			.tabs {
				&.petroleum-weekly {
					margin-left: 36px;
					ul {
						float: none;
					}
				}
			}
		}
		//}
	}
}
@media @mobile-landscape {
	._visualizations-icons {
		._source-icon {
			width: 150px;
			float: left;
			margin: 0;
		}
	}
}

._header-logo {
	background-color: #003c57;
	padding: 10px;
	a {
		width: 300px;
	}
	.logo-full-size {
		display: inline-block;
		border: 1px dotted white;
		h1 {
			text-indent: -d5d5d59px;
		}
		.logo {
			float: left;
			&:before {
				.controls-icon(302px, 101px);
				.icon-logo;
				float: left;
			}
		}
		.beta {
			float: left;
			&:after {
				.controls-icon(130px, 65px);
				float: left;
				margin-top: 30px;
			}
			&.logo {
				float: left;
				&:before {
					.controls-icon(100px, 100px);
					.icon-eia-logomark;
					float: left;
				}
			}
		}
	}
	.logo-shrink {
		display: inline-block;
		border: 1px dotted white;
		h1 {
			text-indent: -d5d5d59px;
		}
		.logo {
			float: left;
			&:before {
				.controls-icon(50px, 40px);
				.icon-eia-logomark;
				float: left;
			}
		}
		.beta {
			float: left;
			&:after {
				.controls-icon(60px, 30px); // w h
				float: left;
				margin-top: 12px;
			}
			&.logo {
				&:before {
					.controls-icon(50px, 40px);
					.icon-eia-logomark;
					float: left;
				}
			}
		}
	}
}

.logo-logo-white-background {
	display: table;
	margin: 20px auto;
	border: 1px dotted @eia-dark-grey;
	.print-logo {
		&:before {
			.controls-icon(302px, 101px);
			.icon-logo(@font-color: "@eia-dark-grey");
		}
	}
	.logo-white-background {
		&:before {
			.controls-icon(50px, 40px);
			.icon-eia-logomark(full, "@eia-dark-grey");
		}
	}
}

.style-guide {
	.ico {
		&.zoom {
			//&:before {
			//	.controls-icon(16px, 16px);
			display: inline-block;
			//}
		}
	}
}
._this-week-icons {
	._source-icon {
		padding: 0;
		margin: 0 20px 20px 0;
		float: left;
		width: 85px;
		/*
		border-top: 1.5px solid white;
		border-right: 1.5px solid white;
		border-bottom: 1.5px solid white;
		border-left: 1.5px solid white;
		*/
	}
}
._this-week-icons {
	&._active {
		._source-icon {
			/*
			border-top: 1.5px solid @eia-green;
			border-right: 1.5px solid @eia-green;
			border-bottom: 1.5px solid white;
			border-left: 1.5px solid @eia-green;
			*/
		}
	}
}

._social,
._consumption-surveys,
._analysis-projections-icons,
._navigational-icons {
	._source-icon {
		padding: 0;
		margin: 0 20px 20px 0;
		float: left;
		width: 100px;
		span {
			&.ico,
			&.ico-menu {
				span {
					display: none;
				}
			}
		}
	}
}

/*
&.pdf,
&.xls,
&.csv,
&.json,
&.ppt,
&.html,
&.doc,
&.image,
&.interactive {
	&:before {
		display: inline-block;
		margin-bottom: -3px;
		margin-right: 5px;
	}
	&:after {

	}
}
*/
/*
.down-arrow,
.up-arrow,
.ico_down,
.ico_up ,
.right-arrow-head,
.analysis-projections-icon,
.markets-finance-icon,
.environment-icon,
.petroleum-icon,
.natural-gas-icon,
.electricity-icon,
.consumption-icon,
.coal-icon,
.nuclear-icon,
.renewable-icon,
.total-energy-icon,
.featured-reports-icon,
.press-room-icon,
.whats-new-icon,
.upcoming-icon,
.eia-glossary-icon,
.data-tools-model-icon,
.open-data-icon,
.beta-icon,
.follow-us-icon,
.reports-icon,
.survey-forms-icon,
.email-complex-icon,
.rss-complex-icon,
.today-in-energy-icon,
.energy-explained-icon,
.energy-in-brief-icon,
.faq-icon,
.teachers-icon,
.states-icon,
.maps-icon,
.international-icon,
.a-z-index-icon,
*/

._source-icon {
	.ico {
		&.search-submit,
		&.close-menu,
		&.analysis,
		&.cancel,
		&.column-chart,
		&.compare,
		&.d-arrow,
		&.download,
		&.edit,
		&.filter,
		&.grab-dot,
		&.grid-column,
		&.grid-line,
		&.grid-map,
		&.grid-parent-column,
		&.grid-parent-line,
		&.grid-parent-map,
		&.grid-parent-pin,
		&.grid-pin,
		&.grid-key,
		&.help,
		&.key,
		&.l-arrow,
		&.l-range,
		&.line-chart,
		&.map,
		&.pause,
		&.pin,
		&.play,
		&.r-arrow,
		&.r-range,
		&.remove,
		&.reset,
		&.reset-animation,
		&.scroll-h,
		&.scroll-v,
		&.search-icon,
		&.slide,
		&.sort,
		&.sort-down,
		&.sort-up,
		&.submit,
		&.checkmark,
		&.dash,
		&.dot,
		&.collapse,
		&.facebook,
		&.twitter,
		&.youtube,
		&.flickr,
		&.linkedin,
		&.email,
		&.rss,
		&.residential,
		&.commercial,
		&.industrial,
		&.d,
		&.a,
		&.p,
		&.da,
		&.ap,
		&.dp,
		&.dap,
		&.printer,
		&.beta,
		&.interactive,
		&.external-link,
		&.tour,
		&.info,
		&.facebook,
		&.twitter,
		&.youtube,
		&.flickr,
		&.linkedin,
		&.email,
		&.rss,
		&.pdf,
		&.xls,
		&.json,
		&.csv,
		&.add-download,
		&.add-chart,
		&.full-screen,
		&.options,
		&.table,
		&.lock,
		&.unlock,
		&.submit,
		&.clone {
			cursor: pointer;
			/*
			&:before {
				display: inline-block;
				margin-bottom: -3px;
				margin-right: 5px;
			}
			& > span {
				color: @eia-blue !important;
				text-transform: uppercase;
				.font;
				display: inline-block;
			}
			*/
		}
	}
}

@media @mobile {
	// could be 320px - smartphones, portrait iPhone, portrait 480x320 phones (Android)
	.l-report-header-petroleum-weekly {
		& ~ div.l-row {
			margin-top: 36px;
		}
		.l-col {
			&.twip-navigation {
				margin: -1px;
				display: flex;
				& > a {
					flex-grow: 1;
					padding: 6px 0 8px 0;
					vertical-align: bottom;
					width: 20%;
					& > span {
						font-size: 9px;
					}
				}
			}
		}
		h1 {
			font-family: "Times New Roman", Times, serif;
			font-weight: normal;
			line-height: 1;
			font-size: 1.625rem;
			margin: 0 0 2px 0;
			padding: 0 0 0 0;
		}
		border-bottom: solid 1px #5e9c30;
	}
	.tabs {
		&.petroleum-weekly {
			margin: 2em 0 1px 0;
			ul {
				float: left;
				border: none;
				padding-left: 0px;
				width: 100%;
				//position: relative;
				li {
					//border-top: none;
					//border-bottom: none;
					//border-left: none;
					//margin-bottom: 1px;
					//position: relative;
					//float: none;
					//flex: none;
					display: inline-block;
					width: 100%;
					border: none;
					margin: 6px 0;
					padding: 6px 0 6px 0px;
					a {
						margin: 0;
						padding: 0;
						font-size: 17.333px;
						font-weight: 700;
						text-transform: unset;
						font-style: italic;
						color: #d5d5d5 !important; // style-guide only
					}
					.ico {
						height: 32px;
						width: 32px;
						border-radius: 50%;
						top: 1px;
						position: absolute;
						left: -36px;
					}
					&.ui-state-active {
						a {
							color: @eia-blue !important; // style-guide only
						}
						border: none;
					}
					&:hover {
						a {
							color: @eia-blue !important; // style-guide only
						}
					}
				}
			}
		}
	}
	.l-full-width-col {
		.basic-table {
			th:first-child {
				min-width: 150px;
			}
			caption {
				padding: 0;
				border-bottom: 1px solid #189bd7;
				a {
					width: 100%;
					color: #189bd7;
					line-height: 22px;
					em {
						font-weight: bold;
						color: #189bd7;
						font-style: italic;
					}
					span {
						float: right;
						font-size: 14.666px;
						color: #189bd7;
					}
					&:hover {
						span {
							text-decoration: underline;
						}
					}
				}
			}
			&.highlight-col-2 {
				th {
					&:nth-child(2) {
						background-color: #f7f7f7;
					}
				}
			}

			&.highlight-col-6 {
				&.fourweek {
					tr {
						&:first-child th {
							&:nth-child(4) {
								background-color: #f7f7f7;
							}
						}
						&:last-child th {
							&:nth-child(6) {
								background-color: #f7f7f7;
							}
						}
					}
				}
			}
		}
		.g_container {
			border-top: 3px solid #189bd7;
			border-bottom: 1px dashed #cccccc;
			padding-top: 6px;
			padding-bottom: 16px;
			margin-top: 44px;
			& ~ .primary {
				margin-top: 30px;
			}
			&:first-child {
				margin-top: 0px;
			}
		}
	}
}
@media @mobile-landscape {
	// min-width: 480px)"; // smartphones, Android phones, landscape iPhone
	.l-report-header-petroleum-weekly {
		.l-col {
			&.twip-navigation {
				& > a {
					& > span {
						font-size: 12px;
					}
				}
			}
		}
	}
}
@media @tablet {
	// min-width: 600px)"; // mobile panorama
	.l-report-header-petroleum-weekly {
		.l-col {
			&.twip-navigation {
				& > a {
					& > span {
						font-size: 1em;
					}
				}
			}
		}
	}
}
@media @tablet-landscape {
	// min-width: 801px)"; // tablet, landscape iPad, lo-res laptops ands desktops
	.l-report-header-petroleum-weekly {
		.l-col {
			&.twip-navigation {
				& > a {
					width: 87px;
					& > span {
						font-size: 12px;
					}
				}
			}
		}
	}
	.tabs {
		&.petroleum-weekly {
			ul {
				float: right;
				border: none;
				//padding-left: 0px;
				width: 172px;
				position: relative;
				//				float: right;
				//				border: none;
				//				padding-left: 0px;
				//				width: 172px;
				//				left: -20px;
				//				position: relative;
				li {
					float: none;
					&:first-child {
						margin: 6px 0;
						padding: 6px 0 6px 0px;
					}
					//					&:first-child {
					//						padding: 10px;
					//						margin-left: 0;
					//					}
					.ico {
						//height: 32px;
						//width: 32px;
						//border-radius: 50%;
						//top: 1px;
						//position: absolute;
						left: -36px;
					}
				}
			}
			.ui-tabs-panel {
				border: none;
				padding: 0;
			}
		}
	}
	.l-full-width-col {
		.g_container .graph {
			border-right: 1px solid #cccccc;
			padding-right: 40px;
			width: 759px;
			min-height: 390px;
			.image-container {
				display: table;
				width: auto;
				clear: none;
				.graph {
					margin: 0;
				}
			}
		}
	}
}
@media @laptop {
	// min-width: 956px)"; // normall 1025 - big landscape tablets, laptops, and desktops
}
//@desktop { // min-width: 1025px)"; // big landscape tablets, laptops, and desktops
@media @desktop {
	// min-width: 1366px)"; // big landscape tablets, laptops, and desktops
}
@media @desktop-lg {
	// min-width: 2300px)"; // hi-res laptops and desktops
}
//@print: ~"@media print";
@media @mobile-only {
	// max-width: 599px)";
}
//~"(max-width: 599px)";
//~"(max-width: 599px)"; //
