html {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}

@media @mobile {
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
	body {
		font-family: Arial;
		padding: 0;
		margin: 0;
		background-color: #fff !important;
	}
	.content {
		margin: 120px auto;
		//width: 100%;
		width: 1292px; // 992 + 300px
	}
	.left-content {
		display: none;
	}
	.right-content {
		width: 100%;
	}
	.l-body-wrapper.l-full-page
		.l-outer-wrapper
		.l-inner-wrapper
		.l-body-wrapper {
		&.l-full-page {
			.l-outer-wrapper {
				.l-inner-wrapper {
					//background-color: #eaeaea !important;
					padding: 30px 0 0 0 !important;
				}
			}
		}
	}
}
@media @mobile-landscape {
	// smartphones, Android phones, landscape iPhone
}
@media @tablet {
}
@media @tablet-landscape {
}
@media @laptop {
	background-color: #fff;
	.content {
		margin: 0 auto;
		width: 1292px; // 992 + 300px
	}
	.left-content {
		display: block;
		width: 200px;
		float: left;
		padding: 2em 0 3em 2em;
	}
	.right-content {
		width: 992px;
		float: right;
	}
}

//@media @desktop {
@media (min-width: 1400px) {
}
