html,
body,
#root {
	min-height: calc(100vh);
}

body {
	font-family: Arial;
	padding: 0;
	margin: 0;
	background-color: #fff;
}
@media @mobile {
	.wrapper {
		min-height: calc(100vh - 200px);
	}
	footer {
		height: 200px;
	}
	/*
.content {
	//max-width: 1300px;
	margin: 0 auto;
	padding: 0 25px;
	display: block;
	grid-template-columns: 250px 1fr;
}
.left-content {
	order: 1;
}
.right-content {
	order: 2;
	min-width: 100%;
}
*/
}
@media @laptop {
	.content {
		display: flex;
	}
	.left-content {
		width: 300px;
		padding: 70px 40px;
		ul {
			//padding: 0;
			//margin: 0;
			li {
				list-style: none !important;
				padding: 0 0 8px 0;
				margin: 0;
			}
		}
	}
	.right-content {
		flex: 1;
		padding: 70px 20px;
	}
}
