@media @mobile {
	.empty-placeholder-content {
		text-align: center;
		color: #ccc;
	}

	&._content-containers {
		// on the content-containers page
		.l-two-col-even {
			padding-left: 0 !important;
			margin-left: 0 !important;
		}
	}
	._module-bg {
		background-color: #fff;
		display: inline-block;
		width: 100%;
		height: 100px;
		overflow: hidden;
	}
	._module-bg-wrapper {
		background-color: #fff;
		display: table;
		width: 100%;
		height: auto;
	}
	.module-outer {
		display: table;
		width: 100%;
		clear: both;
		float: left;
		border: 1px solid red;
	}
	.eia-layout-width {
		display: table;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		background-color: #fff;
		a {
			&:link,
			&:active,
			&:visited,
			&:hover {
				color: @eia-blue !important;
			}
		}
		a[href^="tel:"] {
			color: #333333 !important;
			text-decoration: none;
		}
		.l-row {
			.l-col,
			.l-report-header,
			.l-full-width-col,
			.l-col,
			.l-two-col,
			.l-main-col,
			.l-split-narrow-col,
			.l-split-wide-col,
			.l-col,
			.l-two-third-col {
				.article,
				.article-alt,
				.accordion,
				.primary-alt,
				.primary,
				.secondary-alt,
				.secondary {
					margin-bottom: 0;
					border-bottom: 2em solid #a32020;
					display: table;
				}
				.primary-fixed {
					margin-bottom: 0;
					border-bottom: 3em solid #a32020;
					height: 125px;
					overflow: hidden;
					font-family: Arial, Helvetica, sans-serif;
					font-size: 15px; // * 1.20%;
					line-height: 1.125; // 18 pixels
					color: #000;
				}
			}
			.basic-table {
				table {
					background-color: #fff;
					caption {
						background-color: #fff;
					}
				}
			}
			.frame,
			.contact {
				background-color: #fff;
			}
		}
	}
	.l-report-header {
		display: table;
		background-color: #fff;
		margin-bottom: 0;
		border-bottom: 1.5em solid #a32020;
	}
	//	}
}
/*
@media @mobile-landscape { // smartphones, Android phones, landscape iPhone
	.style-guide {

	}
}
*/
@media @tablet {
	// mobile panorama
	//	.style-guide {
	.module-outer {
		.l-row {
			.l-report-header,
			.l-full-width-col,
			.l-col,
			.l-two-col,
			.l-main-col,
			.l-split-narrow-col,
			.l-split-wide-col,
			.l-col,
			.l-two-third-col {
				.accordion,
				.primary-alt,
				.primary,
				.secondary-alt,
				.secondary {
					margin-bottom: 0;
					border-bottom: 2em solid #a32020;
				}
				.primary-fixed {
					margin-bottom: 0;
					border-bottom: 2em solid #a32020;
					height: 125px;
				}
			}
		}
	}
	//	}
}
@media @laptop {
	.module-outer {
		//border: none;
		display: table;
		//background: url(../../../images/bg.png) center;
		background-color: greenyellow;
		border: 1px solid @eia-dark-grey;
		width: 994px;
		padding: 0 16px; // 15 + 1px border
		.eia-layout-width {
			width: 960px;
		}
	}
	.eia-layout-width {
		width: 960px;
		margin: 0;
	}
}
