@media @laptop {
	// move to seperate less file later
	.title-banner {
		&.bg-page-title {
			background-image: url(https://www.eia.gov/global/images/page-titles/default-pub-header.jpg) !important;
		}
		&.bg-all-sources {
			background-image: url(https://www.eia.gov/global/images/page-titles/all-sources.jpg) !important;
		}
		&.bg-analysis {
			background-image: url(https://www.eia.gov/global/images/page-titles/analysis-projections.jpg) !important;
		}
		&.bg-coal {
			background-image: url(https://www.eia.gov/global/images/page-titles/coal.jpg) !important;
		}
		&.bg-commercial {
			background-image: url(https://www.eia.gov/global/images/page-titles/commercial.jpg) !important;
		}
		&.bg-conference {
			background-image: url(https://www.eia.gov/global/images/page-titles/conference.jpg) !important;
		}
		&.bg-countries {
			background-image: url(https://www.eia.gov/global/images/page-titles/countries.jpg) !important;
		}
		&.bg-countries-big {
			background-image: url(https://www.eia.gov/global/images/page-titles/countries-big.jpg) !important;
		}
		&.bg-electricity {
			background-image: url(https://www.eia.gov/global/images/page-titles/electricity.jpg) !important;
		}
		&.bg-environment {
			background-image: url(https://www.eia.gov/global/images/page-titles/environment.jpg) !important;
		}
		&.bg-enduse {
			background-image: url(https://www.eia.gov/global/images/page-titles/enduse.jpg) !important;
		}
		&.bg-finance {
			background-image: url(https://www.eia.gov/global/images/page-titles/finance.jpg) !important;
		}
		&.bg-industrial {
			background-image: url(https://www.eia.gov/global/images/page-titles/industrial.jpg) !important;
		}
		&.bg-maps {
			background-image: url(https://www.eia.gov/global/images/page-titles/maps.jpg) !important;
		}
		&.bg-natural-gas {
			background-image: url(https://www.eia.gov/global/images/page-titles/natural-gas.jpg) !important;
		}
		&.bg-nuclear {
			background-image: url(https://www.eia.gov/global/images/page-titles/nuclear.jpg) !important;
		}
		&.bg-petroleum {
			background-image: url(https://www.eia.gov/global/images/page-titles/petroleum.jpg) !important;
		}
		&.bg-press {
			background-image: url(https://www.eia.gov/global/images/page-titles/press.jpg) !important;
		}
		&.bg-regions {
			background-image: url(https://www.eia.gov/global/images/page-titles/regions.jpg) !important;
		}
		&.bg-renewable {
			background-image: url(https://www.eia.gov/global/images/page-titles/renewable.jpg) !important;
		}
		&.bg-reports {
			background-image: url(https://www.eia.gov/global/images/page-titles/reports.jpg) !important;
		}
		&.bg-residential {
			background-image: url(https://www.eia.gov/global/images/page-titles/residential.jpg) !important;
		}
		&.bg-recs {
			background-image: url(https://www.eia.gov/global/images/page-titles/recs.jpg) !important;
		}
		&.bg-states {
			background-image: url(https://www.eia.gov/global/images/page-titles/states.jpg) !important;
		}
		&.bg-transportation {
			background-image: url(https://www.eia.gov/global/images/page-titles/transportation.jpg) !important;
		}
		&.bg-tie {
			background-image: url(https://www.eia.gov/global/images/page-titles/today-in-energy.jpg) !important;
		}
		&.bg-models {
			background-image: url(https://www.eia.gov/global/images/page-titles/models.jpg) !important;
		}
	}
}