.accordion {
    background-color: @eia-white;
    margin-bottom: 32pt;
    h3 {
        .header-font;
        font-weight: normal;
        font-size: 18pt;
        width: 100%;
        color: @eia-dark-grey;
        border: 0;
        padding: 7pt 0;
        border-top: 1pt solid #0096d7;
    }
    .accordion-content {
        display: block !important;
        font-size: 12pt;
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: @eia-white;
    }
    >ul.highlight {
        .font;
        font-weight: normal;
        color: @eia-dark-grey;
        border-top: 1pt solid #d8d8d8;
        background-color: #f5fbfd;
        border-bottom: 1pt solid #d8d8d8;
        margin: 0;
        padding: 0;
        width: 100%;
        >li {
            padding: 0 27pt;
            &:first-child {
                padding-top: 12pt;
            }
            &:last-child {
                padding-bottom: 12pt;
            }
        }
    }
}
&.ui-accordion-content-active {
    border-bottom: 2pt solid #0096d7;
}