
ul, img {
    page-break-inside: avoid;
 }

 .ico {
    &.pdf,
    &.xls,
    &.csv,
    &.interactive {
        &:before {
            display: none;
        }
        span {
            border: 2px solid @eia-dark-grey;
            padding: 1px 3px;
            color:  @eia-dark-grey;
            font-weight: bold;
        }
        a {
            padding-left: 20px;
            display: table;
        }
    }
}




.formats {
    .italic;
    a {
        display: inline-block;
        &.ico,
        &.pdf,
        &.xls,
        &.csv,
        &.interactive {
            &:before {
                display: none;
            }
            span {
                border: 2px solid @eia-dark-grey;
                padding: 1px 3px;
                color:  @eia-dark-grey;
                font-weight: bold;
            }
        }
    }
}
.source {
    .italic;
}


.primary-alt,
.primary,
.secondary-alt,
.secondary,
.accordion-content {
    ul {
        list-style: none;
        &.basic-list {
            li {
                margin-bottom: 5px;
            }
        }
        &.bullet {
            list-style-type: disc;
            margin-left: 22px;
            li {
                margin-bottom: 5px;
            }
        }
        &.list-seperator {
            border-top: 1px solid silver;
        }
        /*
        &.numbered {
            &>li {
                position: relative;
                width: 100%;
                padding-left: 50px;
                span {
                    &.number {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    }
                }
                &>ul {
                    list-style: none;
                    padding: 0; // overide base
                    margin: 0; 
                    &.sub-list,
                    &.list-spacer {
                        list-style: none;
                        margin: 0;
                    }
                    &>li {
                        list-style: none;
                        margin: 0;
                    }
                }
            }
        }
        */
        li {
            .font;
            line-height: 1.4;
            color: @eia-dark-grey;
            font-size: 11pt; // .875rem;
            &.head {
                .bold;
            }
            &.hide-bullet {
                list-style: none;
            }
            a {
                color:@eia-blue;
                text-decoration: underline;
                &:link,
                &:active,
                &:visited {
                    color:@eia-blue;
                    text-decoration: underline;
                }
				&:after {
					content: " (https://www.eia.gov" attr(href) ")";
					font-size: 100%;
				}
                span {
                    &.date {
                        margin-right:  12px;
                        color: @eia-dark-grey;
                        display: inline-block;
                        text-decoration: underline;						
                    }
                }
                span {
                    &.link-label {
                        margin-right: 12px;
                    }
                }
                &.link-label {
                    em {
                        color: @eia-dark-grey;
                    }
                    span {
                        color: @eia-dark-grey;
                    }
                }
            }
            &.release-schedule {
                .italic;
            }
            &.list-item {
                list-style: none;
                &>ul {
                    padding: 0; // overide base
                    margin: 0; // overide base
                    display: block;
                    &>li {
                        list-style-type: none;
                        &:first-child {
                            list-style-type: disc;
                        }
                    }
                    &:last-child {
                        margin-bottom: 12px;
                    }
                }
            }


            ul {
                padding: 0; // overide base
                margin: 0; // overide base
                li {
                    margin: 3px 0 0 17px;
                    list-style-type: disc;
                }
            }
            // creates vertical space to indicate a new list
            &.sub-list {
                ul {
                    list-style: none;
                    list-style-type: none;
                    padding: 0;
                    margin: 0 0 12px 0;
                    li {
                        list-style: none;
                        list-style-type: none;
                        padding-left: 0;
                        margin: 0;
                        &.sub-head {
                            a {
                                color:@eia-blue;
                                text-decoration: underline;
                                .bold;
                                &.see-more {
                                    &:after { 
                                        content:"\00a0\203A";
                                    } 
                                }
                            }
                        }
                    }
                }
                &.list-item {
                    list-style: none;
                    &>ul {
                        padding: 0 0 0 22px; // overide base
                        /*
                        margin: 0; // overide base
                        display: block;
                        &>li {
                            list-style-type: none;
                            &:first-child {
                                list-style-type: disc;
                            }
                        }
                        &:last-child {
                            margin-bottom: 12px;
                        }
                        */
                    }
                }
            }
            &.list-spacer {
                margin-top: 1em;
                margin-bottom: 1em;
                ul {
                    margin: 1em 0;
                    padding: 0;
                    display: block;
                    &:first-child {
                        margin-top: 0;
                    }
                    &:first-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &>ul{
        &>li {
            .font;
            line-height: 1.4;
            min-height: 011pt; // .875rem;
            vertical-align: top;
            width: 100%;
            &.head {
                .bold;
            }
        }
    }
}

/*
@media @tablet {
    .primary-alt,
    .primary,
    .secondary-alt,
    .secondary,
    .content {
        ul {
            li {
                font-size: 11pt; // .875rem;
                a {
                    font-size: 11pt; // .875rem;
                }
            }
        }
    }
}
*/
 