
@media print {
	.page-wrapper,
	#outerX,
	#innerX,
	.l-outer-wrapper,
	.l-inner-wrapper,
	.l-row,
	.l-full-width-col,
	.l-main-col,
	.l-middle-col,
	.l-narrow-col,
	.l-split-narrow-col,
	.l-split-wide-col,
	.l-two-col {
		border: none !important;
		margin: 0 !important;
		padding: 0 !important;
		background-image: none !important;
		background-color: transparent !important;
		width: 100% !important;
		clear: both !important;
		box-sizing: border-box !important;
	}
	.fancybox-overlay,
	footer,
	nav{
		display:none;
		visibility:hidden;
	}


	// old styles overides

	.rtitle_form {
		display:none;
		visibility:hidden;
	}
	.rtitle {
		border: none !important;
		margin: 0 !important;
		padding: 0 !important;
		background-image: none !important;
		background-color: transparent !important;
		width: 100% !important;
		clear: both !important;
		box-sizing: border-box !important;
	}
	header {
		background-color: transparent;
		height: 100px !important;
		width: 100%;
		border: none;
		padding: none;
		margin: none;
		clear: both;
		margin-bottom: 20px;
		border-top: 5px solid #189BD7;
		display: table;
		.print {
			img {
				display:block;
				height: 100%;
				//width: 440px;
				border-top: none;
			}
		}
	}
	.title {
		width: 100%;
		display: table;
		clear: both;
	}
}


