/*
.bold(@fontWeight: 700) {font-weight: @fontWeight }
.semi-bold(@fontWeight: 600) {font-weight: @fontWeight }
.normal(@fontWeight: normal) {font-weight: @fontWeight }
.right(@floatRight: right) { float: @floatRight  }
.left(@floatLeft: left) { float: @floatLeft  }
.base-font-size(@baseFontSize: 16) {font-size: @baseFontSize; }
.align-right(@AlignRight: right) {text-align: @AlignRight; }
.align-left(@AlignLeft: left) {text-align: @AlignLeft; }
.no-wrap(@NoWrap: no-wrap) { white-space: @NoWrap;}

// Pixels	EMs	Percent	Points
// 6px	0.375em	37.5%	5pt
// 7px	0.438em	43.8%	5pt
// 8px	0.500em	50.0%	6pt
// 9px	0.563em	56.3%	7pt
// 10px	0.625em	62.5%	8pt
// 11px	0.688em	68.8%	8pt
// 12px	0.750em	75.0%	9pt
// 13px	0.813em	81.3%	10pt
// 14px	0.875em	87.5%	11pt
// 15px	0.938em	93.8%	11pt
// 16px	1.000em	100.0%	12pt
// 17px	1.063em	106.3%	13pt
// 18px	1.125em	112.5%	14pt
// 19px	1.188em	118.8%	14pt
// 20px	1.250em	125.0%	15pt
// 21px	1.313em	131.3%	16pt
// 22px	1.375em	137.5%	17pt
// 23px	1.438em	143.8%	17pt
// 24px	1.500em	150.0%	18pt

*/



/* move to base?
ul {
    .square {
        list-style-type:square;
    }
}


.telephone { background-image: url(images/phone.gif);}
.email { background-image: url(/images-homepage/email-icon.jpg);}
.rss { background-image: url(/images/rss_icon.jpg);}
.calendar { background-image: url(calendar.png);}




#overviewSideNavOptions {
    font-size: 1.250em;
    float: right;
    label {
        margin: 0px;
        padding: 0px;
        color: #000;
        &.active {
            color: #000;
            cursor: text;
        }
        &.rpt_category {
            color: #189bd7;
            cursor: pointer;
        }
        &#ov_div {
            font-weight: normal;
            border-right: 1px solid #000;
        }
    }
}

.report-category {
    font-size: 1.250em;
    float: right;
    label {
        margin: 0px;
        padding: 0px;
        border-right: 1px solid #000;
        color: #189bd7;
        cursor: pointer;
        &.active {
            color: #000;
            cursor: text;
        }
    }
}
*/

@media @mobile {
    .content-container {
        .font-size;
        display: block;
        margin-bottom: 2em;
        width: 100%;
        &.faq {
            .font;
            display: block;
            padding: 19px 10px 10px 8px;
            border: solid 7px #a9c5e1;
            margin-bottom: 16px;
            background: #a9c5e1 url(http://www.eia.gov/global/images/bg/white_fade.png) repeat-x top center;
            .header {
                margin-bottom: 6px;
                h2 {
                    padding: 0px 0px 0px 37px;
                    background: transparent url(/global/images/icons/Q.png) no-repeat top left;
                     
                    font-size: 0.938rem;
                    font-weight: 500;
                    margin-bottom: 6px;
                     a {
                        font-size: 0.938rem;
                        color: #265281;
                        display: block;
                        &:after { 
                            content:"\00a0\203A";
                        }               
                    }
                }
            }
            .sub-header {
                font-size: .750rem;
                line-height: 1.3em;
                font-weight: 700;
                margin-bottom: 3px;
                a {
                    color: #476381;
                    display: block;
                    &:after { 
                        content:"\00a0\203A";
                    }               
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            border: 0;
            list-style: none;
            ul {
                list-style-type: disc;
                display: block;
                margin: .8em .8em .12em 1.4em;
                li {
                    padding: 0;
                    margin: 0;
                }
            }
            &.resources {
                li {
                    min-height: 20px;
                    width: 100%;
                }
            }
            li {
                padding: 0;
                margin-bottom: 0.688em;
                min-height: 17px; // the size of an icon
                vertical-align: top;
                line-height: 1.3em;
                .font;
                span {
                    // margin-right: 0.625rem;
                    &.date {
                        .italic;
                    }
                }
                .sub-title {   //unknown
                    color: #5e625e;
                    font-weight: bold;
                }
            }
            hr {
                border: 0;
                height: 7px;
                margin: 0;
                //background: transparent url(https://www.eia.gov/global/images/bg/h_line_shadow_rc.png) no-repeat bottom center;
                border-bottom: solid 1px #e3e5e6;
            }
            .footer {
                padding: 0;
                margin: 0;
                border: 0;
                .bold;
                font-size: .8125rem;
                a {
                    display: block;
                    &:after { 
                        content:"\00a0\203A";
                    }               
                }
            }
        }
        p {
            padding: 0;
            margin: 0 0 1em;
            .font;
            line-height: 1.4em;
        }
    }
}

@media @tablet {
    .l-left-column .l-side-column {
        .l-side-column:first-child {
            width: 50%;
            float: left;
            padding-left: 0px;
            padding-right: 11px;
        }
        .l-side-column:last-child {
            width: 50%;
            float: left;
            padding-left: 11px;
            padding-right: 0px;
        }
    }
    .l-right-column .l-side-column{
        .l-side-column:first-child {
            width: 50%;
            float: left;
            padding-left: 0px;
            padding-right: 11px;
        }
        .l-side-column:last-child {
            width: 50%;
            float: left;

            padding-left: 11px;
            padding-right: 0px;
        }
    }
}


@media @laptop {
    .content-container {
        margin-bottom: 1em;
    }
}








@media @mobile {
    .l-split-narrow {
        .content-container {
            h2 {
                .header-font;
                display: block;
                font-size: 1.125rem;
                margin-bottom: 0px;
                padding-bottom: 0px;
                clear: both;
            }
            h3 {
                .header-font;
                font-size: 1.188rem;
                line-height: 1;
                margin: 0 0 1em;
            }
            .ico {
                float: right;
            }
        }
    }
}
/*
@media @tablet {
    .l-split-narrow {
        .content-container {

        }
    }
}
*/
@media @laptop {
    .content-container {
        ul {
            padding: 0;
            margin: 0;
            border: 0;
            list-style: none;
            li {
                padding: 0;
                margin-bottom: 5px;
                line-height: 1.3em;
            }
        }
    }
}
