@media @mobile {
    div.energy-education {
        margin-top: 1.250em;
        display: table;
        .l-one-third-column {
            padding-right: 0;
        }
        img {
            float: left;
            margin: 0 25px 0 20px;
        }
        /*
        .ico {
            &.energy-education {
                display: block;
                width: 70px;
                height: 70px;
                float: left;
                margin: 0 0 0 0;
                background-size: 100% 100%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-color: #fff;
                border-color: #fff;
                &.faq {
                    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath d='M3.033 13.982a13.56 13.56 0 0 1 1.17-5.74 12.88 12.88 0 0 1 3.15-4.3 13.67 13.67 0 0 1 4.68-2.7 17.81 17.81 0 0 1 11.37 0 13.66 13.66 0 0 1 4.63 2.7 12.881 12.881 0 0 1 3.15 4.3 14.69 14.69 0 0 1 0 11.48 12.911 12.911 0 0 1-3.15 4.3 13.62 13.62 0 0 1-4.65 2.69 17.811 17.811 0 0 1-11.37 0 13.63 13.63 0 0 1-4.65-2.69 12.92 12.92 0 0 1-3.15-4.3 13.57 13.57 0 0 1-1.18-5.74zm32 14.09c-.74.947-1.407 1.804-2 2.57-.58.725-1.252 1.37-2 1.92a8.243 8.243 0 0 1-2.44 1.19 11.5 11.5 0 0 1-3.31.41 9.3 9.3 0 0 1-2.79-.41c-.89-.28-1.756-.63-2.59-1.05a33.559 33.559 0 0 1-2.52-1.39c-.834-.506-1.67-.97-2.51-1.39a16.732 16.732 0 0 0-2.63-1 9.658 9.658 0 0 0-2.83-.42 5.58 5.58 0 0 0-1.86.32c-.598.206-1.18.457-1.74.75l-.55-.63c.828-.538 1.726-.959 2.67-1.25a10.49 10.49 0 0 1 3-.38c1.484.004 2.96.223 4.38.65 1.466.434 2.9.91 4.3 1.43 1.4.52 2.753.99 4.06 1.41 1.18.4 2.414.613 3.66.63.761.01 1.52-.078 2.26-.26a6.632 6.632 0 0 0 1.82-.77 8.677 8.677 0 0 0 1.56-1.25 19.214 19.214 0 0 0 1.49-1.68l.57.6zm-27.84-14.09a15.06 15.06 0 0 0 .71 4.63 12.07 12.07 0 0 0 2.06 3.9 10.14 10.14 0 0 0 3.29 2.69 10.07 10.07 0 0 0 8.79 0 10.172 10.172 0 0 0 3.29-2.69 12.1 12.1 0 0 0 2.06-3.9 15.45 15.45 0 0 0 0-9.27 12.131 12.131 0 0 0-2.06-3.9 10.16 10.16 0 0 0-3.29-2.69 10.07 10.07 0 0 0-8.79 0 10.13 10.13 0 0 0-3.29 2.69 12.1 12.1 0 0 0-2.06 3.9 15.06 15.06 0 0 0-.69 4.64h-.02z' fill='#003C57' fill-rule='evenodd'/%3E%3C/svg%3E");
                }
                &.petroleum {
                    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath d='M20 1.995a47.2 47.2 0 0 1 4.9.24c1.35.13 2.687.363 4 .7.935.218 1.84.554 2.69 1a1.58 1.58 0 0 1 1 1.24 1.58 1.58 0 0 1-1 1.24 11.38 11.38 0 0 1-2.69 1 26 26 0 0 1-4 .7 46.65 46.65 0 0 1-4.9.24 46.611 46.611 0 0 1-4.9-.24 26 26 0 0 1-4-.7 11.39 11.39 0 0 1-2.69-1 1.58 1.58 0 0 1-1-1.24 1.58 1.58 0 0 1 1-1.24 11.34 11.34 0 0 1 2.69-1 26.07 26.07 0 0 1 4-.7 47.17 47.17 0 0 1 4.9-.24zM8.27 8.835a24.25 24.25 0 0 0 5.29 1.39 40.37 40.37 0 0 0 6.32.48 43 43 0 0 0 6.32-.45 21.25 21.25 0 0 0 5.29-1.42v8.47c.55.185.963.644 1.09 1.21a1.51 1.51 0 0 1-1 1.15c-.85.431-1.756.748-2.69.94a32.986 32.986 0 0 1-4 .64 49.862 49.862 0 0 1-9.8 0 32.826 32.826 0 0 1-4-.64 10.743 10.743 0 0 1-2.69-.94 1.51 1.51 0 0 1-1-1.15 1.35 1.35 0 0 1 .85-1.09v-8.59h.02zm23.22 13.16v10.91c.55.185.963.644 1.09 1.21a1.51 1.51 0 0 1-1 1.15c-.851.43-1.756.747-2.69.94-1.32.292-2.655.502-4 .63a49.677 49.677 0 0 1-9.8 0 32.872 32.872 0 0 1-4-.63 10.815 10.815 0 0 1-2.69-.94 1.51 1.51 0 0 1-1-1.15 1.46 1.46 0 0 1 .87-1.12v-11a24.184 24.184 0 0 0 5.29 1.39 40.1 40.1 0 0 0 6.32.48 43.033 43.033 0 0 0 6.32-.45 21.208 21.208 0 0 0 5.29-1.42z' fill='#bd732a' fill-rule='evenodd'/%3E%3C/svg%3E");
                }
            }
        }
        */
        ul {
            display: table;
            margin: 0 0 2em 2em;
            li {
                &.header h2 {
                    .font;
                    .bold;
                    //padding: 8px 0 6px;
                    padding: 0 0 2px 0;
                    margin-top: 4px; // 28px;
                    text-transform: uppercase;
                    line-height: 1.2em;
                    font-size: 1rem;
                    a {
                        color: #265281;                
                    }
                }
                .sub-header {
                    .font;
                    font-size: 1rem;
                    font-style: italic;
                    line-height: 1em; //18px;
                    a {
                        color: @eia-dark-gray;
                    }
                }
                .footer {
                    font-size: .750rem; // 12px
                    margin-top: 8px;
                    line-height: 1.375em; // 22px
                    a {
                        &:after { 
                            content:"\00a0\203A";
                        }  
                    }
                }
            }
        }
    }
}
@media @laptop {
    .energy-education {
        //width: 912px; // this is to make it stand alone only
        ul {
            margin: 0 0 2em .5em;
        }
        .header h2 {
            font-size: .9375rem; //15px
        }
        .sub-header {
            font-size: .8125rem; // 13px
            line-height: 1.5em;
        }
        .footer {
            font-size: .750rem; // 12px
            margin-top: 8px;
            line-height: 1.375em; // 22px
        }
        img {
            margin: 0 5px 0;
        }
        .border {
            border-left: 1px solid #dadada;
            border-right: 1px solid #dadada;
            padding: 0 10px;
            display: table;
        }
    }

}