// Pixels	EMs	Percent	Points
// 6px	0.375em	37.5%	5pt
// 7px	0.438em	43.8%	5pt
// 8px	0.500em	50.0%	6pt
// 9px	0.563em	56.3%	7pt
// 10px	0.625em	62.5%	8pt
// 11px	0.688em	68.8%	8pt
// 12px	0.750em	75.0%	9pt
// 13px	0.813em	81.3%	10pt
// 14px	0.875em	87.5%	11pt
// 15px	0.938em	93.8%	11pt
// 16px	1.000em	100.0%	12pt
// 17px	1.063em	106.3%	13pt
// 18px	1.125em	112.5%	14pt
// 19px	1.188em	118.8%	14pt
// 20px	1.250em	125.0%	15pt
// 21px	1.313em	131.3%	16pt
// 22px	1.375em	137.5%	17pt
// 23px	1.438em	143.8%	17pt
// 24px	1.500em	150.0%	18pt


@media @mobile {
    .error,
    .alert,
    .notice,
    .success,
    .info {
        display: block;
        margin: 0.625em 0 1em 0;
        font-size: 0.938em;
        clear: both;
        border-top-right-radius: .25rem;
        border-top-left-radius: .25rem;
        p {
            padding: 1em 1.250em;
            margin: 0;
            a {
                text-decoration: underline;
            }
        }
    }
    .alert {
        background-color: @eia-yellow;
        border-color: 1px solid #666;
        color: @eia-dark-gray;
        p {
            a {
                color: @eia-dark-gray;
                text-decoration: underline;
            }
        }
    }
    .error {
        background: #fbe3e4;
        color: #8a1f11;
        border-color: #fbc2c4;
        p {
            a {
                color: @eia-blue;
                text-decoration: underline;
            }
        }
    }
    .notice {
        background-color: #f4f4f4 !important;
        border: 1px solid #e3e5e6;
        color: @eia-dark-gray;
        p {
            a {
                color: @eia-blue;
                text-decoration: underline;
            }
        }
    }
    .success {
        background-color: @dark-green;
        border: 2px solid #ddd;
        color: #3c763d;
        p {
            a {
                color: @eia-blue;
                text-decoration: underline;
            }
        }
    }
    .info {
        background-color: @eia-blue;
        border: 2px solid #ddd;
        p {
            a {
                color: @eia-blue;
                text-decoration: underline;
            }
        }
    }
}











