@media @mobile {
    .standard-container {
        .font;
        .header h2  {
            //font-size: 1.3rem;
            border-bottom: 1px solid #dadada;
            padding: 0 0 2px 0;
            margin: 1.75em 0 .5em 0 ;
            text-transform: uppercase;
            //.bold
        }
        li {
            padding: 0;
        }
    }
    .standard-list-container {
        li {
            padding: 0;
            list-style-type: disc;
            margin-left: 20px;
            .font;
            &.header {
                list-style-type: none;
                border-bottom: 1px solid #dadada;
                padding: 0 0 2px 0;
                margin: 1.75em 0 .5em 0 ;
                h2 {
                    text-transform: uppercase;
                }
            }
        }
    }
    .content-container-border {
        border: 1px solid #e3e5e6;
        padding:4px;
    }
}
