@media @mobile {
	.l-inner-wrapper {
		//        min-height: calc(100vh - 2000px);
		&:after {
			visibility: hidden;
			display: block;
			//font-size: 0;
			text-indent: -9999px;
			content: " ";
			clear: both;
			height: 0;
		}
	}
	footer {
		//        height: 2000px;
	}
}
@media @mobile-landscape {
	.l-inner-wrapper {
		//        min-height: calc(100vh - 1500px);
	}
	footer {
		//        height: 1500px;
	}
}

@media @tablet {
	.l-inner-wrapper {
		min-height: calc(100vh - 1000px);
	}
	footer {
		//        height: 1000px;
	}
}
@media @tablet-landscape {
	.l-inner-wrapper {
		min-height: calc(100vh - 700px);
	}
	footer {
		//        height: 500px;
	}
}
@media @laptop {
	.l-inner-wrapper {
		min-height: calc(100vh - 500px);
	}
	footer {
		//        height: 500px;
	}
}
