



.sticky {               
    thead {
        &.tableFloatingHeaderOriginal {
            border-bottom: 2px solid @eia-blue;
            tr {
                &:last-child {
                    th {
						border-bottom: none;
						
                    }
				}
				th {
					background-color: #fff;
				}
            }
        }
    }
}




div {
	&.table-wrapper,
	&.basic-table {
        overflow-y: hidden;
        overflow-x: auto;
        margin-bottom: 2em; // margin-bottom: 3em;
		width: 100%;
		table {
			&:nth-child(2) {
				margin-top: 2em;
			}
			&:nth-child(3) {
				margin-top: 2em;
			}
			&:nth-child(4) {
				margin-top: 2em;
			}
			&:nth-child(5) {
				margin-top: 2em;
			}
			&:nth-child(6) {
				margin-top: 2em;
			}
			&:nth-child(7) {
				margin-top: 2em;
			}
		}
    }
}
table {
    &.basic_table,
    &.basic-table {
        border-bottom: 2px solid @eia-blue;
        margin: 0;
        overflow-y: hidden;
        overflow-x: auto;
		//width: auto;
		&.no-bottom-border,
        &:last-of-type {
            border-bottom: none;
        }
        caption {
            font-size: .9375rem;
            span {
                &.units {
                    float: none;
                    display: inline;
                    font-weight: normal;
                    .italic;
                    font-size: 0.813rem;
				}
				&.right {
					float: right;
				}
            }
        }
        thead {
			tr {
				/* cannot add the border here                     */
				&:last-child {
					th {
						border-bottom: 2px solid @eia-blue;
					}
				}
				em {
					.bold;
				}
				////////////////////////////////////////////////////////////////
				//  petroleum new_navigation icons                                              //
				////////////////////////////////////////////////////////////////
				button {
					&.ico {
						float: left;
						padding: 1px 5px 1px 0;
						border: none;
						margin-left: 0;
						font-size: 0;
						line-height: 0;
						background-color: transparent;
						&.reset-animation {
							&:before {
								//.controls-icon(20px, 20px);
								.icon-reset-animation(@fill-color: @eia-red, @fill-opacity: 0.8);
							}
							&:hover {
								&:before {
									.icon-reset-animation(@fill-color: @eia-red, @fill-opacity: 1);
								}
							}
							span {
								display: none;
							}
						}
					}
				}
				a {
					&.ico {
						float: left;
						padding: 1px 0 1px 5px;
						border: none;
						margin-left: 0;
						font-size: 0;
						line-height: 0;
						background-color: transparent;
						&.line-chart {
							&:before {
								.controls-icon(20px, 20px);
								.icon-line-chart(@fill-color: @eia-blue, @fill-opacity: 0.8);
							}
							&:hover {
								&:before {
									.icon-line-chart(@fill-color: @eia-blue, @fill-opacity: 1);
								}
							}
						}
					}
				}
			}
			th[colspan] {
				border-bottom: 1px solid #d8d8d8;
				//border-right: 6px solid @eia-white;
				text-align: center;
				//&:last-child {
				//	border-right: none;
				//}
			}
			&.double-header {
				tr {
					th[colspan] {
						border-bottom: 1px solid #d8d8d8;
						//border-right: 6px solid @eia-white;
						text-align: left;
						//&:last-child {
						//    border-right: none;
						//}
					}
					th[rowspan] {
						border-bottom: 2px solid @eia-blue;
					}
				}
			}
			tr {
				&.double-header {
					th[colspan] {
						border-bottom: 1px solid #d8d8d8;
						text-align: left;
					}
					th[rowspan] {
						border-bottom: 2px solid @eia-blue;
					}
				}
			}
			&.nested-header {
				th {
					border-top: 1px solid #d8d8d8;
					//background-color: @eia-white;
					padding: 8px 10px 7px 10px;
				}
			}
		}
        tbody {
            tr {
				td {
					padding: 6px 10px 5px 10px;
					.align-right;
					border-top: 1px dashed #d8d8d8;
					white-space: normal;
					&.level-1-indent {
						padding-left: 20px;
					}
					&.level-2-indent {
						padding-left: 30px;
					}
					&.level-3-indent {
						padding-left: 40px;
					}
					&:first-child {
						.align-left;
					}
					&:active {
						outline: none;
					}
					&.custom-checkbox {
						padding: 4px 0 0 4px;
					}
					span {
						&.number {
							float: left;
							width: 20px;
							text-align: right;
							font-weight: bold;
							margin-right: 10px;
						}
					}
					// move this to modules > icons
					a {
						.ico {
							margin-left: 0;
							font-size: 0;
							line-height: 0;
							span {
								//.normal;
								margin-left: 4px;
								font-size: 0.750rem; // 12 pixels
							}
							&.key {
								margin: 0;
								width: 20px;
								height: 20px;
								span {// this hides the textual labels of the icons on tables.
									position: absolute;
									left: -10000px;
									top: auto;
									width: 1px;
									height: 1px;
									overflow: hidden;
								}
								&:before {
									.controls-icon(20px, 15px);
									.icon-key(@fill-color: @eia-blue, @fill-opacity: 0.8);
								}
								&:hover {
									&:before {
										.icon-key(@fill-color: @eia-blue, @fill-opacity: 1);
									}
								}
							}
						}
					}
					&.number {
						font-weight: bold;
					}
					h4 {
						margin: 0;
						padding: 0;
					}
	
				}
				&.terminated {
					td {
						opacity: .6;
						&.number {
							font-weight: normal;
						}
						a {
							opacity: .6;
						}
					}
				}
				&:first-child {
					td {
						border-top: none;
					}
				}
                &.past-holiday {
                    td {
                        border-bottom: 1px solid #d8d8d8;;
                        color: fade(@eia-black, 40%);
                        border-bottom: 1px solid #ccc;
                        color: #999;

                    }
                }
				/*
				&:first-child {
                    td {
                        border-top: 3px solid @eia-blue;
                    }
				}
				*/
				&.selected {
					background-color: #e4f7ff;
					//td {
					//	background-color: #e4f7ff;
					//}
				}
				&.section {
					td {
						border-top: 1px solid @eia-blue;
					}
				}
				&.sectionhead {
					td {
						border-top: 1px solid @eia-blue;
						.bold;
					}
				}
				&.total,
				&.bold {
					td {
						.bold;
						a {
							.bold;
						}
						&.bold {
							.bold;
							a {
								.bold;
							}  
						}
					}
				}
				&.total,
				&.tr-divider {
					td {
						color: @eia-dark-grey;
						border-top: 1px solid #d8d8d8;
					}
				}
			}
			/*
			&:last-child {
                tr {
                    &:last-child {
                        td {
                            border-bottom: none;
                        }
                    }
                }
			}
			*/
            //&:nth-of-type(2),
            //&:nth-of-type(3),
            //&:nth-of-type(4),
            //&:nth-of-type(5) {
                /*
                tr {
                    &:first-child {
                        td {
                            border-top: 3px solid @eia-red;
                        }
                    }
                    &:last-child {
                        td {
                            border-bottom: none;
                        }
                    }
                }
                */
            //}
        }
        tfoot {
            tr {
                td {
                    padding: 12px 10px 10px 10px;
                    font-size: 0.688rem;
                    text-align: right;
					border-top: 1px dashed #d8d8d8;
                    a {
                        font-size: 0.688rem; 
                    }
                    &:first-child {
                        text-align: left;
                    }
                }
                &:first-child {
                    td {
                        border-top: 2px solid @eia-blue;
                    }
                }
            } 
        }
	}
	&.bold-col-1 {
		td:nth-child(1) {
			.bold;
		}
	}
	&.highlight-col-1 {
		td:nth-child(1) {
			background-color: #f7f7f7;
		}
		tr {
			&.bold {
				td:nth-child(1) {
					background-color: white;
				}
			}
		}
		tfoot {
			td {
				&.footnotes {
					background-color: white;
				}
			}
		}
	}
	&.highlight-col-2 {
		td:nth-child(2) {
			background-color: #f7f7f7;
		}
		&.selector {
			tr[id] {
				&:hover {
					td:nth-child(2) {
						background-color: #e8f0f3;
						//background-color: mix(#f7f7f7, #e4f7ff, 150%);
					}
				}
			}
		}
		tr {
			&.selected {
				td:nth-child(2) {
					background-color: #e8f0f3;
					//background-color: mix(#f7f7f7, #e4f7ff, 150%);
				}
			}
		}
	}
	&.highlight-col-3 {
		td:nth-child(3) {
			background-color: #f7f7f7;
		}
		/* not used yet
		tr {
			&.selected {
				td:nth-child(3) {
					background-color: mix(#f7f7f7, #e4f7ff, 50%);
				}
			}
		}
		*/
	}
	&.highlight-col-4 {
		td:nth-child(4) {
			background-color: #f7f7f7;
		}
		/* not used yet
		tr {
			&.selected {
				td:nth-child(4) {
					background-color: mix(#f7f7f7, #e4f7ff, 50%);
				}
			}
		}
		*/
	}
	&.highlight-col-5 {
		td:nth-child(5) {
			background-color: #f7f7f7;
		}
	}
	&.highlight-col-6 {
		td:nth-child(6) {
			background-color: #f7f7f7;
		}
	}
	&.highlight-col-7 {
		td:nth-child(7) {
			background-color: #f7f7f7;
		}
	}
	&.highlight-col-8 {
		td:nth-child(8) {
			background-color: #f7f7f7;
		}
	}
	&.highlight-col-9 {
		td:nth-child(9) {
			background-color: #f7f7f7;
		}
	}
	&.highlight-col-10 {
		td:nth-child(10) {
			background-color: #f7f7f7;
		}
	}
	
	&.align-left-col-1 {
		th:nth-child(1),
		td:nth-child(1) {
			text-align: left;
		}
	}
	&.align-left-col-2 {
		th:nth-child(2),
		td:nth-child(2) {
			text-align: left;
		}
	}
	&.align-left-col-3 {
		th:nth-child(3),
		td:nth-child(3) {
			text-align: left;
		}
	}
	&.align-left-col-4 {
		th:nth-child(4),
		td:nth-child(4) {
			text-align: left;
		}
	}
	&.align-left-col-5 {
		th:nth-child(5),
		td:nth-child(5) {
			text-align: left;
		}
	}
	&.align-left-col-6 {
		th:nth-child(6),
		td:nth-child(6) {
			text-align: left;
		}
	}
	&.align-left-col-7 {
		th:nth-child(7),
		td:nth-child(7) {
			text-align: left;
		}
	}
	&.align-left-col-8 {
		th:nth-child(8),
		td:nth-child(8) {
			text-align: left;
		}
	}
	&.align-left-col-9 {
		th:nth-child(9),
		td:nth-child(9) {
			text-align: left;
		}
	}
	&.align-left-col-10 {
		th:nth-child(10),
		td:nth-child(10) {
			text-align: left;
		}
	}
	&.align-right-col-1 {
		th:nth-child(1),
		td:nth-child(1) {
			text-align: right;
		}
	}
	&.align-center-col-1 {
		th:nth-child(1),
		td:nth-child(1) {
			text-align: center;
		}
	}
	&.align-center-col-2 {
		th:nth-child(2),
		td:nth-child(2) {
			text-align: center;
		}
	}
	&.align-center-col-3 {
		th:nth-child(3),
		td:nth-child(3) {
			text-align: center;
		}
	}
	&.align-center-col-4 {
		th:nth-child(4),
		td:nth-child(4) {
			text-align: center;
		}
	}
	&.align-center-col-5 {
		th:nth-child(5),
		td:nth-child(5) {
			text-align: center;
		}
	}
	&.align-center-col-6 {
		th:nth-child(6),
		td:nth-child(6) {
			text-align: center;
		}
	}
	&.align-center-col-7 {
		th:nth-child(7),
		td:nth-child(7) {
			text-align: center;
		}
	}
	&.align-center-col-8 {
		th:nth-child(8),
		td:nth-child(8) {
			text-align: center;
		}
	}
	&.align-center-col-9 {
		th:nth-child(9),
		td:nth-child(9) {
			text-align: center;
		}
	}
	&.align-center-col-10 {
		th:nth-child(10),
		td:nth-child(10) {
			text-align: center;
		}
	}
	&.hide-1 {
		th:nth-child(1),
		td:nth-child(1) {
			display: none
		}
	}
	&.hide-col-2 {
		th:nth-child(2),
		td:nth-child(2) {
			display: none
		}
	}
	&.hide-col-3 {
		th:nth-child(3),
		td:nth-child(3) {
			display: none
		}
	}
	&.hide-col-4 {
		th:nth-child(4),
		td:nth-child(4) {
			display: none
		}
	}
	&.hide-col-5 {
		th:nth-child(5),
		td:nth-child(5) {
			display: none
		}
	}
	&.hide-col-6 {
		th:nth-child(6),
		td:nth-child(6) {
			display: none
		}
	}
	&.hide-col-7 {
		th:nth-child(7),
		td:nth-child(7) {
			display: none
		}
	}
	&.hide-col-8 {
		th:nth-child(8),
		td:nth-child(8) {
			display: none
		}
	}
	&.hide-col-9 {
		th:nth-child(9),
		td:nth-child(9) {
			display: none
		}
	}
	&.hide-col-10 {
		th:nth-child(10),
		td:nth-child(10) {
			display: none
		}
	}
	&.selector {
		tr[id] {
			&:hover {
				background-color: #e4f7ff;
			}
		}
	}
	&.vertical-divider-after-col-1 {
		th:nth-child(1),
		td:nth-child(1) {
			border-right: 5px solid @eia-white;
		}
	}
	&.vertical-divider-after-col-col-2 {
		th:nth-child(2),
		td:nth-child(2) {
			border-right: 5px solid @eia-white;
		}
	}
	&.vertical-divider-after-col-col-3 {
		th:nth-child(3),
		td:nth-child(3) {
			border-right: 5px solid @eia-white;
		}
	}
	&.vertical-divider-after-col-col-4 {
		th:nth-child(4),
		td:nth-child(4) {
			border-right: 5px solid @eia-white;
		}
	}
	&.vertical-divider-after-col-col-5 {
		th:nth-child(5),
		td:nth-child(5) {
			border-right: 5px solid @eia-white;
		}
	}
	&.vertical-divider-after-col-col-6 {
		th:nth-child(6),
		td:nth-child(6) {
			border-right: 5px solid @eia-white;
		}
	}
	&.vertical-divider-after-col-col-7 {
		th:nth-child(7),
		td:nth-child(7) {
			border-right: 5px solid @eia-white;
		}
	}
	&.vertical-divider-after-col-col-8 {
		th:nth-child(8),
		td:nth-child(8) {
			border-right: 5px solid @eia-white;
		}
	}
	&.vertical-divider-after-col-col-9 {
		th:nth-child(9),
		td:nth-child(9) {
			border-right: 5px solid @eia-white;
		}
	}
	&.vertical-divider-after-col-col-10 {
		th:nth-child(10),
		td:nth-child(10) {
			border-right: 5px solid @eia-white;
		}
	}
}
//}