@media @mobile {
	.overview {
		ul {
			li {
                &.list-spacer {
                    margin-top: 0;
                    margin-bottom: 1em;
                }
			}
		}
	}
	//.pipe {
	//	padding: 0 8px;
	//}
	.data {
		.primary {
			h1 {
				.header-font;
				font-size: 1.625rem;
				margin: 0 0 .4em 0;
				//padding: 0 0 6px 0;
				padding: 1em 0 6px 0;
			}
			.accordion {
				.ico {
					margin-right: 8px;
					display: inline-block;
					&.interactive {
						margin-left: 8px;
					}
				}
				//.pipe {
				//	padding: 0;
				//}
			}
		}
		/*
		.ico.pdf,
		.ico.xls,
		.ico.csv,
		.ico.json,
		.ico.ppt,
		.ico.html,
		.ico.doc,
		.ico.image,
		.ico.interactive,
		*/
	}
}

