@charset "utf-8";
/* CSS Document */
/* RIS Reset */
#ris h3, #ris div, #ris span, #ris p, #ris a, #ris img, #ris strong, #ris tt, #ris b, #ris u, #ris i, #ris center,
#ris ol, #ris ul, #ris li, #ris label, #ris table, #ris tbody, #ris tfoot, #ris thead, #ris tr, #ris th, #ris td,
article, #ris aside, #ris canvas, #ris details, #ris embed, #ris 
figure, #ris figcaption, #ris footer, #ris header, #ris hgroup, #ris 
menu, #ris nav, #ris output, #ris ruby, #ris section, #ris summary,
time, #ris mark, #ris audio, #ris video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size:13px;
	vertical-align: baseline;
	line-height: 1;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* HTML5 display-role reset for older browsers */
#ris article, #ris aside, #ris details, #ris figcaption, #ris figure, #ris 
footer, #ris header, #ris hgroup, #ris menu, #ris nav, #ris section {
	display: block;
}
#ris ol, #ris ul {
	list-style: none;
}
#ris blockquote, #ris q {
	quotes: none;
}
#ris blockquote:before, #ris blockquote:after,
q:before, #ris q:after {
	content: '';
	content: none;
}
#ris table {
	border-collapse: collapse;
	border-spacing: 0;
}
#ris .right {float:right;}
#ris .left {float:left;}
#ris .clear {clear:both;}
#ris a {color:#1ea5cf;text-decoration:none;}
#ris a:hover {text-decoration:underline;}
/* Cpanel */
#ris {
	width:722px;
	background-color: #dbdbdb;
	border: 1px solid #afafaf;
	padding:9px;
	margin:0px;
	/*min-height:300px;
	color:#F0C;*/
}
#ris h3 {
	padding: 5px 6px 7px 6px;
	color:#fff;	
	font-size:15px;
}
div #ris_inner {
	background-color: #f7f7f7;
	border: 1px solid #afafaf;
	padding:9px;
	margin:0px;
}
.ris_top{
	height:79px;
	padding-bottom:10px !important;
/*	background-color:#9F3;*/
}
:root *> .ris_top { margin-bottom:-10px !important  }
.rico, .wlinks a {
	text-indent:-99999px;
	display:inline-block;
	}
.ris_title{
	background: no-repeat url('ris_assets.png') top left  ;
	height:28px;
	width:241px;
}

.rdwld_center {
/*	background-color:#0F0;*/
	width:379px;
	height:45px;
	margin-top:10px !important;
}
.rdwld_center fieldset{
	padding:6px;
	border: 1px solid #afafaf;
}
.rdwld_center fieldset p{
	color:#4a4a4a;
	font-size:11px !important;
	font-weight:bold;
}
:root *> .risspacer { padding-top:0px !important  }
.risspacer {
	padding-top:6px !important;
}

.ris_charttools {
	display:block;
	margin-top:24px !important;
	margin-top:17px\9 !important;
	height:20px;
	
/*	background-color:#990;*/
}
.ris_charttools select {
	margin-left:5px;
	border: 1px solid #a8acaf;
	height:20px;
	width:222px;;
	padding-left:8px;
	font-size:11px;
}

.ris_DS_title {
	background-color:#429a42;;
}
#ris_DS_tble {
	border: 1px solid #afafaf;
	height:116px;
	overflow:auto;
/*	background-color:#C96;*/
}

.ris_table {
	width:100%;
	width:684px\9; /* IE Fix */
	overflow-y: scroll\9 !important;  /* IE Fix */
	table-layout:fixed;
}

.ris_table th {
	background-color:#363c4a;
	color:#fff;
	padding:7px 5px 7px 5px !important;
	border-right: 1px solid #8e8d8d;
	font-size:11px !important;
	text-align:left;
}
.ris_table .odd {
	background-color:#e3f0e3;
}
.ris_table tr:hover, tr.odd:hover{background-color:#FF0;}
.ris_table td {
	padding:7px 5px 5px 5px !important;
	border-right: 1px solid #8e8d8d;
	border-bottom: 1px solid #afafaf;
	font-size:11px !important;
	text-align:left;
	overflow:hidden;
	width:150px;
	white-space:nowrap;
}
.ris_table a {font-size:11px !important;}
.ris_table .sv {width:40px !important;border-right:none;text-align:center;overflow:hidden;}
.ris_table .vw {width:40px !important;border-right:none;text-align:center;overflow:hidden;}
.ris_table .gt {width:120px;padding-left:10px !important;}
.ris_table .sn {width:80px;}
.ris_table .src {width:100px;}
.ris_table .units {width:55px;text-align:center;}
.ris_table .url {width:35px;text-align:center;}
.ris_table .dte {width:70px;border-right:none;}

.ris_table .rico {
	display:block\9; /* IE Fix */
	}

/* Icons */
.wlinks a.expander{background: no-repeat url('ris_assets.png') 0px -30px ; height:15px; width:17px;}
  .wlinks a.expander:hover{background: no-repeat url('ris_assets.png') -34px -30px ;}
.wlinks a.closer{background: no-repeat url('ris_assets.png') -17px -30px ; height:15px; width:15px;}
  .wlinks a.closer:hover{background: no-repeat url('ris_assets.png') -51px -30px ;}
.ris_csv {background: no-repeat url('ris_assets.png') 0px -50px ; height:20px; width:32px;}
  .ris_csv:hover{background: no-repeat url('ris_assets.png') 0px -72px ;}
.ris_xls {background: no-repeat url('ris_assets.png') -34px -50px ; height:20px; width:32px;}
  .ris_xls:hover{background: no-repeat url('ris_assets.png') -34px -72px ;}
.ris_png {background: no-repeat url('ris_assets.png') -68px -50px ; height:20px; width:32px;}
  .ris_png:hover{background: no-repeat url('ris_assets.png') -68px -72px ;}
.ris_jpg {background: no-repeat url('ris_assets.png') -102px -50px ; height:20px; width:32px;}
  .ris_jpg:hover{background: no-repeat url('ris_assets.png') -102px -72px ;}
.ris_svg {background: no-repeat url('ris_assets.png') -136px -50px ; height:20px; width:32px;}
  .ris_svg:hover{background: no-repeat url('ris_assets.png') -136px -72px ;}
.ris_pdf {background: no-repeat url('ris_assets.png') -170px -50px ; height:20px; width:32px;}
  .ris_pdf:hover{background: no-repeat url('ris_assets.png') -170px -72px ;}
.ris_save {background: no-repeat url('ris_assets.png') 0px -96px ; height:18px; width:16px;}
  .ris_save:hover{background: no-repeat url('ris_assets.png') -42px -96px ;}
.ris_saved {background: no-repeat url('ris_assets.png') -21px -96px ; height:18px; width:16px;}
  .ris_saved:hover{background: no-repeat url('ris_assets.png') -42px -96px ;}
.ris_check {background: no-repeat url('ris_assets.png') -84px -96px ; height:18px; width:14px;}
  .ris_check:hover{background: no-repeat url('ris_assets.png') -103px -96px ;}
.ris_checked {background: no-repeat url('ris_assets.png') -122px -96px ; height:18px; width:14px;}
  .ris_checked:hover{background: no-repeat url('ris_assets.png') -103px -96px ;}













