@media @mobile {


    div {
        &.circle {
            width:100px;
            height:100px;
            margin: 0 auto 20px auto;
            display: block;
            img {
                border-radius: 50%;
                border: 3px solid #d8d8d8;;
                margin-left: -3px;
            } 
        }
    }
    .visualizations {
        margin: 0 0 .5em; // margin-bottom: 2em;
        width: 100%;
        &>div {
            margin-bottom: 1.5em;
        }
        h1 {
            display: block;
            border-bottom: 1px solid shade(white, 16.8%);
            padding: 1em 0 6px 0;
            clear: both;
            line-height: 1;
            margin-bottom: 13px;
            font-weight: normal;
            .header-font;
            font-size: 26px;
            color: @eia-dark-grey;
            width: 100%;
        }
        ul {
            text-align: center;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                a {
                    .font;
                    .bold;
                    display: block;
                    font-size: 0.813rem; // 13 pixels
                    line-height: 1.4em;
                    color: @eia-blue;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                h3 {
                    .font;
                    .bold;
                    font-size: 0.813rem; // 13 pixels
                    line-height: 1.4em;
                    display: inline;
                    color: @eia-blue;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &.l-row {
            &.l-six-col-even {
                .l-col { 
                    width: 48%;
                }
            }
        }
    }
}
@media @mobile-landscape { // tablet, landscape iPad, lo-res laptops ands desktops
    .visualizations {
        &.l-row {
            &.l-six-col-even {
                .l-col { 
                    width: 32%;
                }
            }
        }
    }
}
@media @tablet-landscape { // tablet, landscape iPad, lo-res laptops ands desktops
    .visualizations {
        margin-bottom: .5em;
        &>div {
            margin-bottom: 1.5em;
        }
        &.l-row {
            &.l-six-col-even {
                .l-col { 
                    width: 14.666%;
                }
            }
        }
    }
}
@media @laptop {
    margin-bottom: 2em;
    &>div {
        margin-bottom: 0;
    }
}
