<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EIA Style Guide</title>

    <link href="../assets/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="../assets/images/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
    <link href="../assets/images/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
    <link href="../assets/images/site.webmanifest" rel="manifest">
    <link href="../assets/images/safari-pinned-tab.svg" rel="mask-icon" color="#292929">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#292929">

    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

    <!-- build:css ../assets/styles/styles.min.css -->
    <link rel="stylesheet" href="../temp/styles/styles.css">
    <!-- endbuild -->
    <!-- build:css ../assets/styles/global.min.css -->
    <link rel="stylesheet" href="../temp/styles/global.css">
    <!-- endbuild -->
</head>

<body>
    <!--div class="_header">
        <a class="logo-white-background" href="https://wwwdev.eia.gov/style-guide/index.html">
            <h1>U.S. Energy Information Administration - EIA - Independent Statistics and Analysis</h1>
        </a>
        <ul class="_nav">
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/base/index.html">Base</a>
                <ul class="_base _nav-dropdown"></ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/layouts/index.html">Layouts</a><ul class="_layouts _nav-dropdown"></ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/modules/index.html">Modules</a>
                <ul class="_modules _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/states/index.html">States</a>
                <ul class="_states _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/themes/index.html">Themes</a>
                <ul class="_themes _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/examples/index.html">Examples</a>
                <ul class="_examples _nav-dropdown">
                </ul>
            </li>
        </ul>
        <div class="_resolution _mobile">Mobile</div>
        <div class="_resolution _mobile-landscape">Mobile Landscape</div>
        <div class="_resolution _tablet">Tablet</div>
        <div class="_resolution _tablet-landscape">Tablet Landscape</div>
        <div class="_resolution _laptop">Laptop +</div>
    </div>

    --><span class="add-header"></span><div class="_container">
        <div class="_content">
            <div class="_content-inner">
                <!-- start style guide -->
                <!-- start style guide -->
                <!-- start style guide -->
                <ul class="style-guide _nested-layouts">
                    <li class="style-guide">
                        <h1 class="_h1">Nested Layouts</h1>
                        <p class="_p">When a column layout is nested within another column layout, the nested colums have no right space on the last column.</p>
                    </li>
                    <li class="style-guide">
                        <h2 class="_h2">Single Columns</h2>
                        <p class="_p">No left or right space by adding <code>header</code> to the <code>l-row</code> tag.</p>
                        

        <!-- 100% header -->
        <!-- 100% header -->
        <!-- 100% header -->
        <!-- 100% header -->
        <div class="l-row header l-two-col-even">
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 100% -->
        <!-- 100% -->
        <!-- 100% -->
        <!-- 100% -->
        <div class="l-row l-two-col-even">
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 50% | 50% -->
        <!-- 50% | 50% -->
        <!-- 50% | 50% -->
        <!-- 50% | 50% -->
        <div class="l-row l-two-col-even">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 25% | 75% -->
        <!-- 25% | 75% -->
        <!-- 25% | 75% -->
        <!-- 25% | 75% -->
        <div class="l-row l-two-col-left-narrow">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 75% | 25% -->
        <!-- 75% | 25% -->
        <!-- 75% | 25% -->
        <!-- 75% | 25% -->
        <div class="l-row l-two-col-right-narrow">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 33.333% | 66.666% -->
        <!-- 33.333% | 66.666% -->
        <!-- 33.333% | 66.666% -->
        <!-- 33.333% | 66.666% -->
        <div class="l-row l-two-col-left">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 66.666% | 33.333% -->
        <!-- 66.666% | 33.333% -->
        <!-- 66.666% | 33.333% -->
        <!-- 66.666% | 33.333% -->
        <div class="l-row l-two-col-right">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 58.333% | 41.666% -->
        <!-- 58.333% | 41.666% -->
        <!-- 58.333% | 41.666% -->
        <!-- 58.333% | 41.666% -->
        <div class="l-row l-two-col-right-wide">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 41.666%  | 58.333%-->
        <!-- 41.666%  | 58.333%-->
        <!-- 41.666%  | 58.333%-->
        <!-- 41.666%  | 58.333%-->
        <div class="l-row l-two-col-left-wide">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 33.333% | 33.333% | 33.333% -->
        <!-- 33.333% | 33.333% | 33.333% -->
        <!-- 33.333% | 33.333% | 33.333% --> 
        <!-- 33.333% | 33.333% | 33.333% -->
        <div class="l-row l-three-col-even">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 25% | 50% | 25% --> 
        <!-- 25% | 50% | 25% --> 
        <!-- 25% | 50% | 25% --> 
        <!-- 25% | 50% | 25% --> 
        <div class="l-row l-three-col">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 25% | 25% | 25% | 25% -->
        <!-- 25% | 25% | 25% | 25% -->
        <!-- 25% | 25% | 25% | 25% -->
        <!-- 25% | 25% | 25% | 25% -->
        <div class="l-row l-four-col-even">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 20% | 20% | 20% | 20% | 20% -->
        <!-- 20% | 20% | 20% | 20% | 20% -->
        <!-- 20% | 20% | 20% | 20% | 20% -->
        <!-- 20% | 20% | 20% | 20% | 20% -->
        <div class="l-row l-five-col-even">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>
        <!-- 16% | 16% | 16% | 16% | 16%  | 16% -->
        <!-- 16% | 16% | 16% | 16% | 16%  | 16% -->
        <!-- 16% | 16% | 16% | 16% | 16%  | 16% -->
        <!-- 16% | 16% | 16% | 16% | 16%  | 16% -->
        <div class="l-row l-six-col-even">
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
            <div class="l-col">
                <!-- here -->
            </div>
        </div>




        
</li>
                </ul>
                <!-- end style guide -->
                <!-- end style guide -->
                <!-- end style guide -->
            </div>
        </div>
    </div>
    <span class="add-footer"></span><!-- footer class="_footer"><div>
        <ul class="_nav-footer l-row l-six-col-even">
            <li class="_nav-footer-item l-col"><a href="https://wwwdev.eia.gov/style-guide/base/index.html">Base</a>
                <ul class="_base _nav-dropdown"></ul>
            </li>
            <li class="_nav-primary-item"><a href="https://wwwdev.eia.gov/style-guide/layouts/index.html">Layouts</a>
                <ul class="_layouts _nav-dropdown"></ul>
            </li>
            <li class="_nav-footer-item l-col"><a href="https://wwwdev.eia.gov/style-guide/modules/index.html">Modules</a>
                <ul class="_modules _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-footer-item l-col"><a href="https://wwwdev.eia.gov/style-guide/states/index.html">States</a>
                <ul class="_states _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-footer-item l-col"><a href="https://wwwdev.eia.gov/style-guide/themes/index.html">Themes</a>
                <ul class="_themes _nav-dropdown">
                </ul>
            </li>
            <li class="_nav-footer-item l-col"><a href="https://wwwdev.eia.gov/style-guide/examples/index.html">Examples</a>
                <ul class="_examples _nav-dropdown">
                </ul>
            </li>
        </ul>
    </div>
</footer --></body>
<!-- build:js ../assets/scripts/script.min.js -->
<script src="../temp/scripts/scripts.js"></script>
<!-- endbuild -->
<!-- build:js ../assets/scripts/global.js.min.js -->
<script src="../temp/scripts/global.js"></script>
<!-- endbuild -->

</html>