.report-title {
  min-height: 123px;
  height: auto !important;
  border-bottom: double 4px #ededee;
  background-color: #fff;

  .report-info {
    width: 66.6%;
    min-height: 123px;
    height: auto !important;
    margin: 0;
    padding: 0;

    a {
      display: inline;
      font-size: 10px;
      padding: 0;
      margin: 0;
      float: left;
      margin-top: 25px;
      text-indent: 22px;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1.625em;
      margin: 0;
      padding-top: 40px;
      text-indent: 22px;
      font-family: "Times New Roman", "Times", serif;
      font-weight: 100;
    }

    p {
      font-size: 11px;
      margin: 0;
      padding: 2px 0 0 22px;
      color: #7d7d7d;

      a {
        text-transform: lowercase;
        font-size: 11px;
        float: none;
      }

      .ico {
        display: inline;
      }
    }
  }

  .report-dropdown {
    width: 33.3%;
    background: transparent url(../images/reports_title_form.png) repeat-x bottom left;
    min-height: 123px;
    height: auto !important;
    margin: 0;
    padding: 0;

    h4 {
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin: 0;
      padding: 38px 0 0 22px;
      color: #626262;
    }

    .report-dropdown-list {
      display: block;
      padding: 10px 22px 0 0;
    }

    label {
      padding-left: 22px;
      color: #034055;
      font-size: 12px;
    }
  }

  .left {
    float: left;
  }
}

@media @mobile {

  .report-title {
    border-bottom: double 4px #ededee;
    background-color: #fff;
    margin: 0 20px;
    height: auto;

    .report-info {
      width: 100% !important;

      h2 {
        text-indent: 0;
        margin: 0 25px 0 0;
        line-height: 30px;
      }

      p {
        padding-left: 0;
      }

      a {
        text-indent: 0;
      }
    }

    .report-dropdown {
      background: none;
      width: 100%;
      margin: 0;
      padding: 0;

      .report-dropdown-list {
        padding-bottom: 10px;
        display: inline-block;
        margin-left: 10px;
      }

      h4 {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 0;
        padding: 10px 0 0 0;
        color: #626262;
        display: inline-block;
      }

      label {
        display: none;
      }
    }

    .left {
      float: none;
    }
  }
}

@media @tablet {

  .report-title {
    height: auto;
    border-bottom: double 4px #ededee;
    background-color: #fff;

    h2 {
      text-indent: 0;
      margin: 0 25px;
    }

    .report-info {
      width: 100% !important;
    }

    .report-dropdown {
      background: none;
      width: 100%;
      margin: 0;
      padding: 0;

      .report-dropdown-list {
        padding-bottom: 10px;
      }

      h4 {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 0;
        padding: 10px 0 0 22px;
        color: #626262;
      }
    }

    .left {
      float: none;
    }
  }
}