TD.Blank {
	
}
A.reg:link {
	COLOR: blue
}
A.reg:active {
	COLOR: blue
}
A.reg:visited {
	COLOR: blue
}
A.reg:hover {
	COLOR: red
}
A.Crumb:link {
	COLOR: navy; TEXT-DECORATION: underline
}
A.Crumb:active {
	COLOR: navy; TEXT-DECORATION: underline
}
A.Crumb:visited {
	COLOR: navy; TEXT-DECORATION: underline
}
A.Crumb:hover {
	COLOR: red; TEXT-DECORATION: underline
}
A.NavChunk:link {
	COLOR: navy; TEXT-DECORATION: none
}
A.NavChunk:active {
	COLOR: navy; TEXT-DECORATION: none
}
A.NavChunk:visited {
	COLOR: navy; TEXT-DECORATION: none
}
A.NavChunk:hover {
	COLOR: #3333ff; TEXT-DECORATION: underline
}
A.NavChunkA:link {
	COLOR: navy; TEXT-DECORATION: none
}
A.NavChunkA:active {
	COLOR: navy; TEXT-DECORATION: none
}
A.NavChunkA:visited {
	COLOR: navy; TEXT-DECORATION: none
}
A.NavChunkA:hover {
	COLOR: red; TEXT-DECORATION: underline
}
A.SB:link {
	COLOR: #663399; TEXT-DECORATION: none
}
A.SB:active {
	COLOR: #663399; TEXT-DECORATION: none
}
A.SB:visited {
	COLOR: #663399; TEXT-DECORATION: none
}
A.SB:hover {
	COLOR: #0000ff
}
A.SB2:link {
	COLOR: #ffffcc; TEXT-DECORATION: none
}
A.SB2:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.SB2:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.SB2:hover {
	COLOR: #0000ff
}
A.Def:link {
	COLOR: #666633; TEXT-DECORATION: none
}
A.Def:active {
	COLOR: #666633; TEXT-DECORATION: none
}
A.Def:visited {
	COLOR: #666633; TEXT-DECORATION: none
}
A.Def:hover {
	COLOR: #ff0000
}
A.Search:link {
	COLOR: #336633; TEXT-DECORATION: none
}
A.Search:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Search:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Search:hover {
	COLOR: #0000ff
}
A.Fbar:link {
	COLOR: #663399
}
A.Fbar:active {
	COLOR: #663399
}
A.Fbar:visited {
	COLOR: #663399
}
A.Fbar:hover {
	COLOR: #9933ff
}
A.navtext:link {
	COLOR: #004080; TEXT-DECORATION: none
}
A.navtext:active {
	COLOR: #004080; TEXT-DECORATION: none
}
A.navtext:visited {
	COLOR: #004080; TEXT-DECORATION: none
}
A.navtext:hover {
	COLOR: #004080; TEXT-DECORATION: underline
}
A.navtext2:link {
	COLOR: #a6bac4; TEXT-DECORATION: none
}
A.navtext2:active {
	COLOR: #a6bac4; TEXT-DECORATION: none
}
A.navtext2:visited {
	COLOR: #a6bac4; TEXT-DECORATION: none
}
A.navtext2:hover {
	COLOR: #004080; TEXT-DECORATION: underline
}
INPUT.Search {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt
}
TABLE.TopicBar {
	BACKGROUND-COLOR: #336699
}
TABLE.Border1 {
	BACKGROUND-COLOR: #006699
}
TABLE.Border2 {
	BACKGROUND-COLOR: #669999
}
TABLE.Border3 {
	BACKGROUND-COLOR: #996699
}
TABLE.SBcolor {
	BACKGROUND-COLOR: #cc9999
}
TR.SBhead1 {
	BACKGROUND-COLOR: #006699
}
TR.LtBlue {
	BACKGROUND-COLOR: #a8c7e6
}
TR.SBhead2 {
	BACKGROUND-COLOR: #669999
}
TR.SBhead3 {
	BACKGROUND-COLOR: #996699
}
TR.Shade2 {
	BACKGROUND-COLOR: #003399
}
TR.Shade3 {
	BACKGROUND-COLOR: #0033ff
}
TD.LtBlue {
	BACKGROUND-COLOR: #a8c7e6
}
TD.Crumb {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: navy; FONT-SIZE: 8pt
}
TD.CrumbB {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 8pt
}
TD.CrumbC {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 9pt
}
TD.Gloss {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: navy; FONT-SIZE: 8pt
}
TD.DataLabel {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #9999cc; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
TD.NavCrumb {
	BACKGROUND-COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #993366; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
TD.Chunk {
	BACKGROUND-COLOR: #a1556e; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #993366; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
TD.Def {
	BACKGROUND-COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: navy; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
TD.Def2 {
	BACKGROUND-COLOR: #999966
}
TD.SBheader {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
TD.SBheader2 {
	TEXT-ALIGN: left; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: teal; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
TD.SBheader3 {
	TEXT-ALIGN: left; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #990066; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
TD.SBheader4 {
	TEXT-ALIGN: left; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
TD.SBheader5 {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #996666; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
TD.Dot {
	TEXT-ALIGN: center; COLOR: white; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-WEIGHT: bold
}
TD.SBitem {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #336666; FONT-SIZE: 9pt
}
TD.SBactive {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: navy; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
TD.SBborder1 {
	BACKGROUND-COLOR: #996666
}
TD.NavChunk {
	BACKGROUND-COLOR: #a1556e; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: navy; FONT-SIZE: 9pt
}
TD.ChunkBar {
	BACKGROUND-COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: navy; FONT-SIZE: 9pt
}
TD.NavChunkC {
	BACKGROUND-COLOR: #cccc99
}
TD.SBcolor {
	BACKGROUND-COLOR: #6699cc
}
TD.SBshade {
	BACKGROUND-COLOR: #808080
}
TD.Contacts {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt
}
TD.Div {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: navy; FONT-SIZE: 12pt; FONT-WEIGHT: normal
}
TD.FullBar {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt
}
TD.Feedback {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: navy; FONT-SIZE: 9pt
}
TD.Update {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
SPAN.NavChunkA {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: navy; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
SPAN.TopGroup {
	COLOR: blue; FONT-WEIGHT: bold
}
DIV.Pad1 {
	PADDING-BOTTOM: 5px; PADDING-TOP: 15px
}
.fo {
	POSITION: relative; VISIBILITY: visible
}
#footer {
	WIDTH: 760px
}
#EIA_footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #d3e1fa; MARGIN-TOP: 20px; PADDING-LEFT: 0px; WIDTH: 760px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: navy; CLEAR: both; FONT-SIZE: 9pt; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
#EIA_footer_b {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #d3e1fa; MARGIN-TOP: 20px; PADDING-LEFT: 0px; WIDTH: 675px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: navy; CLEAR: both; FONT-SIZE: 9pt; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
#EIA_footer_c {
	WIDTH: 960px
}
#EIA_footer2 {
	MARGIN-TOP: 4px
}
SPAN.fc {
	COLOR: #a6bac4
}
#EIA_footer A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
