ul {
	&.contact {
		display: none;
	}
}

/*
.release-dates span.ico {
	margin-left: 8px;
}
.responsive-container {
	width: 100%;
	clear: both;
	display: block;
}
*/
.article {
	padding-top: 18pt;
}
.title-banner h1,
.l-report-header h1,
.article h1 {
	color: black;
}
