.l-row {
	&.l-two-col-even {
		display: block;
		.l-two-col:first-of-type {
			padding: 0 0 0 0;
			width: 46%;
			display: block;
			float: left;
			&:last-of-type {
				padding: 0 0 0 0;
				width: 46%;
				display: block;
				float: right;
			}
		}
	}
}
	
	
	
	
	

